.row.xepan-push-large
	.row
		.col-md-4
			span Name:
		.col-md-2
			span Display Sequence:
		.col-md-2 	
			span Alternate Text: 
		.col-md-2
	.row
		.col-md-4.atk-form-row.atk-form-field
			{$name}
		.col-md-2.atk-form-row.atk-form-field
			{$display_sequence}
		.col-md-4.atk-form-row.atk-form-field
			{$alt_text}	
		.col-md-2.atk-form-row.atk-form-field
			{$is_website_display}
.row.xepan-push-large
	.row
		.col-md-12
			span Description:	
		.col-md-12.atk-form-row.atk-form-field
			{$description}		

.row.xepan-push-large
	.row
		.col-md-4
			span Custom Link:		
		.col-md-4
			span Meta Link:
		.col-md-4
			span Meta Keyword:	
	.row
		.col-md-4.atk-form-row.atk-form-field
			{$custom_link}		
		.col-md-4.atk-form-row.atk-form-field
			{$meta_title}
		.col-md-4.atk-form-row.atk-form-field
			{$meta_keywords}			
.row.xepan-push-large
	.row
		.col-md-12
			span Meta Description:
		.col-md-12.atk-form-row.atk-form-field
			{$meta_description}		
.row.xepan-push-large
	.row
		.col-md-6
			span Parent Category:
		.col-md-6 
	.row
		.col-md-6.atk-form-row.atk-form-field
			{$parent_category_id}
		.col-md-3.atk-form-row.atk-form-field
			{$cat_image_id}
.row
	.col-md-3
		{$FormButtons}
	{$Content}