.row.xepan-push-large
	.row
		.col-md-4
			span Name:
		.col-md-4
			span Display Sequence:
		.col-md-4 	
			span Alternate Text: 
	.row
		.col-md-4
			{$name}
		.col-md-4
			{$display_sequence}
		.col-md-4
			{$alt_text}	
.row.xepan-push-large
	.row
		.col-md-12
			span Description:	
		.col-md-12
			{$description}		

.row.xepan-push-large
	.row
		.col-md-4
			span Custom Link:		
		.col-md-4
			span Meta Link:
		.col-md-4
			span Meta Keyword:	
	.row
		.col-md-4
			{$custom_link}		
		.col-md-4
			{$meta_title}
		.col-md-4
			{$meta_keywords}			
.row.xepan-push-large
	.row
		.col-md-12
			span Meta Description:
		.col-md-12
			{$meta_description}		
.row.xepan-push-large
	.row
		.col-md-6
			span Parent Category:
		.col-md-6 
	.row
		.col-md-6
			{$parent_category_id}
		.col-md-3
			{$cat_image_id}
.row
	.col-md-3
		{$FormButtons}
	{$Content}