div.row.xepan-push-large
	.col-md-4
		{$name}
	.col-md-4
		{$parent_category_id}
	.col-md-4
		{$display_sequence}

.row.xepan-push-large
	.col-md-6
		{$description}		
	.col-md-6
		{$alt_text}

.row.xepan-push-large
	.col-md-4
		{$custom_link}		
	.col-md-4
		{$meta_title}
	.col-md-4
		{$meta_keywords}	

.row.xepan-push-large
	.col-md-6
		{$meta_description}		
	.col-md-6
		{$cat_image_id}