
<div class="row xepan-push-large">
  <div class="row">
    <div class="col-md-4"><span>Name:</span></div>
    <div class="col-md-2"><span>Display Sequence:</span></div>
    <div class="col-md-2">	<span>Alternate Text: </span></div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-4 atk-form-row atk-form-field">{$name}</div>
    <div class="col-md-2 atk-form-row atk-form-field">{$display_sequence}</div>
    <div class="col-md-4 atk-form-row atk-form-field">{$alt_text}	</div>
    <div class="col-md-2 atk-form-row atk-form-field">{$is_website_display}</div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="row">
    <div class="col-md-12"><span>Description:	</span></div>
    <div class="col-md-12 atk-form-row atk-form-field">{$description}		</div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="row">
    <div class="col-md-4"><span>Custom Link:		</span></div>
    <div class="col-md-4"><span>Meta Link:</span></div>
    <div class="col-md-4"><span>Meta Keyword:	</span></div>
  </div>
  <div class="row">
    <div class="col-md-4 atk-form-row atk-form-field">{$custom_link}		</div>
    <div class="col-md-4 atk-form-row atk-form-field">{$meta_title}</div>
    <div class="col-md-4 atk-form-row atk-form-field">{$meta_keywords}			</div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="row">
    <div class="col-md-12"><span>Meta Description:</span></div>
    <div class="col-md-12 atk-form-row atk-form-field">{$meta_description}		</div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="row">
    <div class="col-md-6"><span>Parent Category:</span></div>
    <div class="col-md-6"> </div>
  </div>
  <div class="row">
    <div class="col-md-6 atk-form-row atk-form-field">{$parent_category_id}</div>
    <div class="col-md-3 atk-form-row atk-form-field">{$cat_image_id}</div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">{$FormButtons}</div>{$Content}
</div>