
<div class="row xepan-push-large"></div>
<div class="row xepan-push-large">
  <div class="row">
    <div class="col-md-4"><span>Name:</span></div>
    <div class="col-md-4"><span>Display Sequence:</span></div>
    <div class="col-md-4">	<span>Alternate Text: </span></div>
  </div>
  <div class="row">
    <div class="col-md-4">{$name}</div>
    <div class="col-md-4">{$display_sequence}</div>
    <div class="col-md-4">{$alt_text}	</div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="row">
    <div class="col-md-12"><span>Description:	</span></div>
    <div class="col-md-12">{$description}		</div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="row">
    <div class="col-md-4"><span>Custom Link:		</span></div>
    <div class="col-md-4"><span>Meta Link:</span></div>
    <div class="col-md-4"><span>Meta Keyword:	</span></div>
  </div>
  <div class="row">
    <div class="col-md-4">{$custom_link}		</div>
    <div class="col-md-4">{$meta_title}</div>
    <div class="col-md-4">{$meta_keywords}			</div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="row">
    <div class="col-md-12"><span>Meta Description:</span></div>
    <div class="col-md-12">{$meta_description}		</div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="row">
    <div class="col-md-6"><span>Parent Category:</span></div>
    <div class="col-md-6"> </div>
  </div>
  <div class="row">
    <div class="col-md-6">{$parent_category_id}</div>
    <div class="col-md-3">{$cat_image_id}</div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">{$FormButtons}	</div>
</div>