
<div class="row xepan-push-large">
  <div class="col-md-4">{$name}</div>
  <div class="col-md-4">{$parent_category_id}</div>
  <div class="col-md-4">{$display_sequence}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-6">{$description}		</div>
  <div class="col-md-6">{$alt_text}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-4">{$custom_link}		</div>
  <div class="col-md-4">{$meta_title}</div>
  <div class="col-md-4">{$meta_keywords}	</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-6">{$meta_description}		</div>
  <div class="col-md-6">{$cat_image_id}</div>
</div>