
<div class="xepan-push-large">
  <div class="row">
    <div class="col-md-4"><span>Name:</span>
      <div class="atk-form-row atk-form-field"></div>{$name}
    </div>
    <div class="col-md-3"><span>Display Type:	</span>
      <div class="atk-form-row atk-form-field"></div>{$display_type}
    </div>
    <div class="col-md-3"><span>Sequence:</span>
      <div class="atk-form-row atk-form-field"></div>{$sequence_order}
    </div>
    <div class="col-md-2">
      <div class="atk-form-row atk-form-field"></div>{$is_filterable}
    </div>
    <div class="col-md-12 atk-form-row atk-form-field"><span>Value:</span>{$value}</div>
  </div>
</div>