.xepan-push-large
	.row
		.col-md-4
			span Name:
			div.atk-form-row.atk-form-field
			{$name}
		.col-md-3
			span Display Type:	
			div.atk-form-row.atk-form-field
			{$display_type}
		.col-md-3
			span Sequence:
			div.atk-form-row.atk-form-field
			{$sequence_order}
		.col-md-2
			div.atk-form-row.atk-form-field
			{$is_filterable}
		.col-md-12.atk-form-row.atk-form-field
			span Value:
			{$value}
