.row.xepan-push-large
	.row
		.col-md-4
			span Name:
		.col-md-1
		.col-md-4
			span Display Type:	
	.row 	
		.col-md-4
			{$name}
		.col-md-1	 
		.col-md-4
			{$display_type}	
.row
	.row
		.col-md-4
			span Sequence:
		.col-md-1 	
		.col-md-4	 
	.row 	
		.col-md-4
			{$sequence_order}
		.col-md-1	 
		.col-md-4	 
			{$is_filterable}
