div(id="{$_name}" class="{$class}")
  //- h2.atk-push Payment Lodgement
  .atk-box-large.atk-swatch-ink.atk-push-reset.atk-shape-rounded-top
    .main-box
      .main-box-body.clearfix
        form.form-group
          h2.xepan-push-small From Transaction:- 
          .row.xepan-push
            .col-md-6.col-lg-6
              .atk-form-row.atk-form-field{$transaction}
            .col-md-6.col-lg-6
              .atk-form-row.atk-form-field{$transaction_detail}
          .main-box
            .main-box-body.clearfix
              .row
                .col-lg-12
                  h2.xepan-push-small Invoices: 
                  .row.xepan-push
                    .col-md-4.col-lg-4
                      .atk-form-row.atk-form-field{$invoice_no_1}
                    .col-md-2.col-lg-2
                      .atk-form-row.atk-form-field{$invoice_amount_1}
                    .col-md-2.col-lg-2
                      .atk-form-row.atk-form-field{$invoice_adjust_1}
                    .col-md-4.col-lg-4
                      .atk-form-row.atk-form-field{$invoice_currency_1}&nbsp;@{$invoice_exchange_rate_1}
                  .row.xepan-push
                    .col-md-4.col-lg-4
                      .atk-form-row.atk-form-field{$invoice_no_2}
                    .col-md-2.col-lg-2
                      .atk-form-row.atk-form-field{$invoice_amount_2}
                    .col-md-2.col-lg-2
                      .atk-form-row.atk-form-field{$invoice_adjust_2}
                    .col-md-4.col-lg-4
                      .atk-form-row.atk-form-field{$invoice_currency_2}&nbsp;@{$invoice_exchange_rate_2}
                  .row.xepan-push
                    .col-md-4.col-lg-4
                      .atk-form-row.atk-form-field{$invoice_no_3}
                    .col-md-2.col-lg-2
                      .atk-form-row.atk-form-field{$invoice_amount_3}
                    .col-md-2.col-lg-2
                      .atk-form-row.atk-form-field{$invoice_adjust_3}
                    .col-md-4.col-lg-4
                      .atk-form-row.atk-form-field{$invoice_currency_3}&nbsp;@{$invoice_exchange_rate_3}
                  .row.xepan-push
                    .col-md-4.col-lg-4
                      .atk-form-row.atk-form-field{$invoice_no_4}
                    .col-md-2.col-lg-2
                      .atk-form-row.atk-form-field{$invoice_amount_4}
                    .col-md-2.col-lg-2
                      .atk-form-row.atk-form-field{$invoice_adjust_4}
                    .col-md-4.col-lg-4
                      .atk-form-row.atk-form-field{$invoice_currency_4}&nbsp;@{$invoice_exchange_rate_4}
                  .row.xepan-push
                    .col-md-4.col-lg-4
                      .atk-form-row.atk-form-field{$invoice_no_5}
                    .col-md-2.col-lg-2
                      .atk-form-row.atk-form-field{$invoice_amount_5}
                    .col-md-2.col-lg-2
                      .atk-form-row.atk-form-field{$invoice_adjust_5}
                    .col-md-4.col-lg-4
                      .atk-form-row.atk-form-field{$invoice_currency_5}&nbsp;@{$invoice_exchange_rate_5}
        .atk-align-center.h-lines
            span.h-lines-wrap
            a.atk-swatch-tomato.atk-button-large.atk-col-5.w-shadow.action-large  
              {$FormButtons}