.row.xepan-push
	.col-md-6.atk-form-row
		strong.small Item
		.row
			.col-md-10
				div.xepan-push.small
				div.atk-form-field {$item} {$item_id}
			.col-md-2	 
				div.btn.btn-info.btn-sm.extra-info Info.
	.col-md-6.atk-form-row
		strong.small Taxation
		div.atk-form-field
			{$taxation_id}
.row.xepan-push
	.col-md-4.atk-form-row.atk-form-field
		strong.small Quantity
		div
			{$quantity}
	.col-md-4.atk-form-row.atk-form-field
		strong.small Rate
		div
			{$price}				
	.col-md-4.atk-form-row.atk-form-field
		strong.small Tax Percentage
		div
			{$tax_percentage}
.row.xepan-push
	.col-md-4.atk-form-row.atk-form-field
		strong.small Shipping Charge
		div
			{$shipping_charge}
	.col-md-4.atk-form-row.atk-form-field
		strong.small Shipping Duration
		div
			{$shipping_duration}
	.col-md-4.atk-form-row.atk-form-field
		strong.small Express Shipping Charge
		div
			{$express_shipping_charge}		

.row.xepan-push
	.col-md-4.atk-form-row.atk-form-field
		strong.small Express Shipping Duration
		div
			{$express_shipping_duration}
	.col-md-4
		strong.small Express Shipping Charge
		div
			{$express_shipping_charge}
	.col-md-4.atk-form-row.atk-form-field
		strong.small Express Shipping Duration
		div
			{$express_shipping_duration}											
.row.xepan-push
	.col-md-12.atk-form-row.atk-form-field
		strong.small Narration
		div
			{$narration}
.row.xepan-push
	.col-md-12.atk-form-row.atk-form-field
		{$extra_info}			
.row.xepan-push
	.col-md-12
		{$FormButtons}


style(type='text/css', media='screen').
	.atk-button{
		width:100%;
		background-color: #03a9f4;
		border-color: #2980b9;  
		height: 30px;
	}