.row.xepan-push-large
	.row
		.col-md-4
			span Item:
		.col-md-4
			span Rate:
		.col-md-4	 
			span Taxation:
	.row
		.col-md-4
			span {$item}{$item_id}
			div(style="display:none;"){$extra_info}
			div.btn.btn-info.extra-info Extra Info
		.col-md-4
			span {$price}
		.col-md-4	 
			span {$taxation_id}

.row.xepan-push-large
	.row
		.col-md-4
			span Quantity:
		.col-md-4
			span Tax Percentage:
		.col-md-4	 
			span Shipping Charge:
	.row
		.col-md-4
			span {$quantity}
		.col-md-4
			span {$tax_percentage}
		.col-md-4	 
			span {$shipping_charge}			

.row.xepan-push-large
	.row
		.col-md-12
			span Narration:
	.row	 
		.col-md-12
			{$narration}