
<div class="row xepan-push">
  <div class="col-md-6 atk-form-row"><strong class="small">Item</strong>
    <div class="row">
      <div class="col-md-10">
        <div class="xepan-push small"></div>
        <div class="atk-form-field">{$item} {$item_id}</div>
      </div>
      <div class="col-md-2">	 
        <div class="btn btn-info btn-sm extra-info">Info.</div>
      </div>
    </div>
  </div>
  <div class="col-md-6 atk-form-row"><strong class="small">Taxation</strong>
    <div class="atk-form-field">{$taxation_id}</div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-md-4 atk-form-row atk-form-field"><strong class="small">Quantity</strong>
    <div>{$quantity}</div>
  </div>
  <div class="col-md-4 atk-form-row atk-form-field"><strong class="small">Rate</strong>
    <div>{$price}				</div>
  </div>
  <div class="col-md-4 atk-form-row atk-form-field"><strong class="small">Tax Percentage</strong>
    <div>{$tax_percentage}</div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-md-4 atk-form-row atk-form-field"><strong class="small">Shipping Charge</strong>
    <div>{$shipping_charge}</div>
  </div>
  <div class="col-md-4 atk-form-row atk-form-field"><strong class="small">Shipping Duration</strong>
    <div>{$shipping_duration}</div>
  </div>
  <div class="col-md-4 atk-form-row atk-form-field"><strong class="small">Express Shipping Charge</strong>
    <div>{$express_shipping_charge}		</div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-md-4 atk-form-row atk-form-field"><strong class="small">Express Shipping Duration</strong>
    <div>{$express_shipping_duration}</div>
  </div>
  <div class="col-md-4"><strong class="small">Express Shipping Charge</strong>
    <div>{$express_shipping_charge}</div>
  </div>
  <div class="col-md-4 atk-form-row atk-form-field"><strong class="small">Express Shipping Duration</strong>
    <div>{$express_shipping_duration}											</div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-md-12 atk-form-row atk-form-field"><strong class="small">Narration</strong>
    <div>{$narration}</div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-md-12 atk-form-row atk-form-field">{$extra_info}			</div>
</div>
<div class="row xepan-push">
  <div class="col-md-12">{$FormButtons}</div>
</div>
<style type="text/css" media="screen">
  .atk-button{
  	width:100%;
  	background-color: #03a9f4;
  	border-color: #2980b9;  
  	height: 30px;
  }
</style>