
<div id="{$_name}" style="{$style} " class=" {$class} ">
  <div class="row">
    <div class="col-md-4"><span>{$item}{$item_id}</span>
      <div style="display:none;">{$extra_info}</div>
      <div class="btn btn-info extra-info">Extra Info</div>
    </div>
    <div class="col-md-4"><span>{$price}</span></div>
    <div class="col-md-4">	 <span>{$taxation_id}</span></div>
  </div>
  <div class="row">
    <div class="col-md-4"><span>{$quantity}</span></div>
    <div class="col-md-4"><span>{$tax_percentage}</span></div>
    <div class="col-md-4">	 <span>{$shipping_charge}			</span></div>
  </div>
  <div class="row">	 
    <div class="col-md-12">{$narration}</div>
  </div>
  <div class="row">
    <div class="col-md-12">{$Content}</div>
  </div>
</div>