
<div id="{$_name}" class="{$class}">
  <div class="main-box">
    <div class="main-box-body clearfix">
      <div class="main-box">
        <div class="main-box-body clearfix"></div>
        <form class="form-group">  
          <div class="row xepan-push">
            <div class="col-lg-12">To :
              <div class="atk-form-row atk-form-field">{$to}</div>
            </div>
          </div>
          <div class="row xepan-push">
            <div class="col-lg-12">Cc:-
              <div class="atk-form-row atk-form-field">{$cc}</div>
            </div>
          </div>
          <div class="row xepan-push">
            <div class="col-lg-12">Bcc:-
              <div class="atk-form-row atk-form-field">{$bcc}</div>
            </div>
          </div>
          <div class="row xepan-push">
            <div class="col-lg-12">Subject:-
              <div class="atk-form-row atk-form-field">{$subject}</div>
            </div>
          </div>
          <div class="row xepan-push">
            <div class="col-lg-12">Description:-
              <div class="atk-form-row atk-form-field">{$body}</div>
            </div>
          </div>
          <div class="row xepan-push">
            <div class="col-lg-12">{$signature}</div>
          </div>
          <div class="row xepan-push">
            <div class="col-lg-12">Form Email:-
              <div class="atk-form-row atk-form-field">{$from_email}</div>
            </div>
          </div>
          <div class="row xepan-push">
            <div class="col-lg-12">
              <div class="col-md-2 col-lg-2">Send Attachments</div>
              <div class="col-md-10 col-lg-10">
                <div class="row"><i class="fa fa-check-square-o xepan-padding-horizontal-small"></i><strong>Document Attached as PDF</strong></div>
                <div class="atk-form-row atk-form-field">{$Content}</div>
              </div>
            </div>
          </div>
        </form>
        <div class="xepan-push-large"></div>
        <div class="atk-align-center h-lines"><span class="h-lines-wrap"></span><a class="atk-swatch-tomato atk-button-large atk-col-5 w-shadow action-large">{$FormButtons}</a></div>
      </div>
    </div>
  </div>
</div>