
<div class="panel panel-default">
  <div class="panel-heading">Add New Specification </div>
  <div class="panel-body">
    <div class="row xepan-push">
      <div class="col-md-4 atk-form-field"><strong>Specification : </strong>
        <div class="atk-form-field atk-form-row">{$customfield_generic_id}</div>
      </div>
      <div class="col-md-5"><strong>Values : </strong>
        <div class="atk-form-field atk-form-row">{$values}</div>
      </div>
      <div class="col-md-3"><strong>Highlight It :</strong>
        <div class="atk-form-field atk-form-row"><span style="margin-left:20px;">{$highlight}</span></div>
      </div>
    </div>
    <div class="row">{$FormButtons}</div>
  </div>
</div>