.panel.panel-default
	.panel-heading Add New Specification 
	.panel-body
		.row.xepan-push
			.col-md-4
				strong Specification : 
				.row
					{$customfield_generic_id}
			.col-md-5
				strong Values : 
				.row
					{$values}
			.col-md-3
				strong Highlight It :
				.row
					span(style="margin-left:20px;"){$highlight}
		.row
			{$FormButtons}				
