hr
.form-group.xepan-accounts-transaction-block
	{$Content}
	.row.xepan-push
		.col-md-12.col-lg-12.atk-form-row.atk-form-field
			|Customer
			{$customer}
	.well.xepan-push
		h3  POS ITEM
		{$items}
				
	.row.xepan-push
		.col-md-12.col-lg-12.atk-form-row.atk-form-field
			|Related Sales Person
			{$sales_person}
