
<div class="form-group xepan-accounts-transaction-block">{$Content}
  <div class="row xepan-push">
    <div class="col-md-6 col-lg-6 atk-form-row atk-form-field">
      Item
      {$item}
    </div>
    <div class="col-md-2 col-lg-2 atk-form-row atk-form-field">
      Quantity
      {$qty}
    </div>
    <div class="col-md-2 col-lg-2 atk-form-row atk-form-field">
      Price
      {$price}
    </div>
    <div class="col-md-2 col-lg-2 extra_info">
      Amount
      {$amount}
    </div>
  </div>
</div>