
<div id="{$_name}" class="xepan-grid {$class}">
  <table style="width:100%; margin-bottom:0px !important;" class="table user-list">
    {header}
    {cols}{col}   
    {/}{/}
    {/}
    {$subheader}
    <tbody>{rows}{row}
      <tr data-id="{$id}" class="{$odd_even}">{cols}
        <td style="width:50%;padding:0px !important;"><small><a href="{url}{/}" style="margin-left:0; width: 250px;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;" class="user-link">{$name} {$contact}&nbsp; </a>
            <p class="user-subhead text-muted">{$alt_text} {$city} {$document_no}</p></small></td>
        <td style="width:25%;padding:0px !important;">
           
          {$type}
        </td>
        <td style="width:25%;padding:0px !important;">
           
          {$status}
        </td>{/}
      </tr>{/}{/}
      {not_found}
      {$not_found_message}
      {/}
    </tbody>
  </table>{$Paginator}
</div>