.form-group.xepan-accounts-transaction-block
	{$Content}
	.row.xepan-push
		.col-md-6.col-lg-6.atk-form-row.atk-form-field
			|Item
			{$item}
		.col-md-2.col-lg-2.atk-form-row.atk-form-field
			|Quantity
			{$qty}
		.col-md-2.col-lg-2.atk-form-row.atk-form-field
			|Price
			{$price}
		.col-md-2.col-lg-2.extra_info()
			|Amount
			{$amount}
