
<div id="{$_name}" style="margin-top:20px;" class="xepan-grid main-box clearfix {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <h2>Stock Avalibility</h2>
    <div style="display:none;" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form">
        <div class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></div>
      </div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix">
    <div class="row">
      {header}{cols}{col}{/}{/}{/}
      {rows}{row}
      <div data-id="{$id}" class="{$odd_even} col-md-{col-width}12{/}">{cols}
        <div class="row">
          <div class="col-md-6">
            <h2>Item  : {$item_name}</h2><small>
              {stock_effected_cf}
              {rows}{row}
              {$custom_field_name} :: {$custom_field_value_name}<br/>{/}{/}
              {/stock_effected_cf} </small>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">Premade Quantity</div>
              <div class="col-md-8">{$avail_quantity} {$available_unit}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Required Production</div>
              <div class="col-md-8">{$required_quantity} {$required_unit}</div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-12">{consumption_item}
            <div class="row">
              <div class="col-md-6">Consumption Item</div>
              <div class="col-md-2">Required</div>
              <div class="col-md-2">Available</div>
              <div class="col-md-2">To Purchase</div>
            </div>{rows}{row}
            <div class="row">
              <div class="col-md-6">
                <h2>{$name}</h2><small>{$cf_key}</small>
              </div>
              <div class="col-md-2">{$required} &nbsp;{$unit}</div>
              <div class="col-md-2">{$available}&nbsp;{$unit}</div>
              <div class="col-md-2">{$to_purchase}&nbsp;{$unit}</div>
            </div>{/row}{/rows}
            {/consumption_item}
          </div>
        </div>
      </div>{/}
      {/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
      {totals}{cols}{col}{$content}{/}{/}{/}
    </div>{$Paginator}
  </div>
</div>