
<div id="{$_name}" class="xepan-grid main-box clearfix {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form">
        <div class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></div>
      </div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix">
    <div class="row">
      {header}{cols}{col}{/}{/}{/}
      {rows}{row}
      <div data-id="{$id}" class="{$odd_even} col-md-{col-width}12{/}">{cols}
        <div class="row">
          <div class="col-md-6">
            <h2>Item  : {$item_name}</h2><small>
              {stock_effected_cf}
              {rows}{row}
              {$custom_field_name} :: {$custom_field_value_name}<br/>{/}{/}
              {/stock_effected_cf} </small>
          </div>
          <div class="col-md-6">Premade Availibility Quantity<br/>Quantity : {$avail_quantity}</div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-8">
            {consumption_item}
            {rows}{row}
            Consumption Item : {$consumption_item_name}
            {$consumption_cf}
            {/row}{/rows}
            {/consumption_item}
          </div>
        </div>
      </div>{/}
      {/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
      {totals}{cols}{col}{$content}{/}{/}{/}
    </div>{$Paginator}
  </div>
</div>