
<table style="height: 28px;" width="1106">
  <tbody>
    <tr style="height: 22px;">
      <td style="width: 175.183px; height: 22px;"> </td>
      <td style="width: 175.183px; height: 22px;"> </td>
      <td style="width: 175.183px; height: 22px;"> </td>
      <td style="width: 180.017px; height: 22px;"><a href="http://www.com">New QSP</a></td>
      <td style="width: 180.433px; height: 22px;"><a href="http://www.com">Send QSP</a></td>
      <td style="width: 180px; height: 22px;"><a href="http://www.com">Print QSP</a></td>
    </tr>
  </tbody>
</table>
<table style="height: 139px; width: 1105px;">
  <tbody>
    <tr style="height: 13px;">
      <td style="width: 424px; height: 13px; text-align: center;"><span style="font-size: 14px;"><strong>Contact</strong></span></td>
      <td style="width: 460.867px; height: 13px;"> </td>
      <td style="width: 198.133px; height: 13px;"> </td>
    </tr>
    <tr style="height: 13px;">
      <td style="width: 424px; height: 13px;">Billing Address</td>
      <td style="width: 460.867px; height: 13px;">Shipping Address</td>
      <td style="width: 198.133px; height: 13px; text-align: left;"><span style="font-size: 14px;"><strong>Document No:</strong></span></td>
    </tr>
    <tr style="height: 13px;">
      <td style="width: 424px; height: 13px;">Billing City</td>
      <td style="width: 460.867px; height: 13px;">Shipping City</td>
      <td style="width: 198.133px; height: 13px; text-align: left;"> 4512</td>
    </tr>
    <tr style="height: 13px;">
      <td style="width: 424px; height: 13px;">Billing State</td>
      <td style="width: 460.867px; height: 13px;">Shipping State</td>
      <td style="width: 198.133px; height: 13px; text-align: left;"><span style="font-size: 12px;"><strong>Created At :</strong></span></td>
    </tr>
    <tr style="height: 13px;">
      <td style="width: 424px; height: 13px;">Billing Pincode</td>
      <td style="width: 460.867px; height: 13px;">Shipping Pincode</td>
      <td style="width: 198.133px; height: 13px; text-align: left;"> 21/21/525</td>
    </tr>
    <tr style="height: 13px;">
      <td style="width: 424px; height: 13px;">Billing Country</td>
      <td style="width: 460.867px; height: 13px;">Shipping Country</td>
      <td style="width: 198.133px; height: 13px; text-align: left;"><span style="font-size: 12px;"><strong>Updated At:</strong></span></td>
    </tr>
    <tr style="height: 13px;">
      <td style="width: 424px; height: 13px;">Billing Contact,Billing Email</td>
      <td style="width: 460.867px; height: 13px;">Shipping Email</td>
      <td style="width: 198.133px; height: 13px; text-align: left;">2/2/587</td>
    </tr>
  </tbody>
</table>
<table style="height: 138px; width: 1104px;">
  <tbody>
    <tr style="height: 12px;">
      <td style="width: 198px; height: 12px;"><span style="font-size: 14px;"><strong> Narration :</strong></span></td>
      <td style="width: 270.8px; height: 12px;"> </td>
      <td style="width: 182.2px; height: 12px; text-align: left;"><span style="font-size: 18px;">Gross Amount</span></td>
      <td style="width: 279px; height: 12px; text-align: center;">10000</td>
    </tr>
    <tr style="height: 23px;">
      <td style="width: 198px; height: 23px; text-align: left;" colspan="2" rowspan="2"> </td>
      <td style="width: 182.2px; height: 23px; text-align: left;"><span style="font-size: 18px;">Discount</span></td>
      <td style="width: 279px; height: 23px; text-align: center;">1000</td>
    </tr>
    <tr style="height: 11.8px;">
      <td style="width: 182.2px; height: 11.8px; text-align: left;"><strong><span style="font-size: 24px;">GRAND TOTAL</span></strong></td>
      <td style="width: 279px; height: 11.8px; text-align: center;">9000</td>
    </tr>
  </tbody>
</table>
<table style="height: 173px; width: 1104px;">
  <tbody>
    <tr>
      <td style="width: 758.3px;"><strong><span style="font-size: 14px;">Terms & Conditions:</span></strong></td>
      <td style="width: 329.7px; text-align: center;"><span style="font-size: 14px;"><strong>Vat Sum</strong></span></td>
    </tr>
    <tr>
      <td style="width: 758.3px;"> </td>
      <td style="width: 329.7px; text-align: center;">252525</td>
    </tr>
    <tr>
      <td style="width: 758.3px;"> </td>
      <td style="width: 329.7px; text-align: center;"><strong><span style="font-size: 14px;">Currency</span></strong></td>
    </tr>
    <tr>
      <td style="width: 758.3px;"> </td>
      <td style="width: 329.7px; text-align: center;">25.23</td>
    </tr>
    <tr>
      <td style="width: 758.3px;"><span style="font-size: 14px;"><strong>Item Specific:</strong></span></td>
      <td style="width: 329.7px; text-align: center;"><strong><span style="font-size: 14px;">Nominal</span></strong></td>
    </tr>
    <tr>
      <td style="width: 758.3px;"> </td>
      <td style="width: 329.7px; text-align: center;">Sales</td>
    </tr>
    <tr>
      <td style="width: 758.3px;"> </td>
      <td style="width: 329.7px; text-align: center;"></td>
    </tr>
  </tbody>
</table>