
<html>
  <body>
    <div style="opacity: 1;" class="row">
      <div class="col-lg-12">
        <div class="main-box clearfix">
          <header class="main-box-header clearfix">
            <h2>Basic Detail:</h2>
            <div class="row">
              <div class="col-lg-12">
                <form role="form">
                  <div class="form-group">
                    <label for="">Designer Name</label>
                    <div class="input-group">
                      <div class="input-group-btn">
                        <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Select Designer <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Narendra Seth</a></li>
                          <li><a href="#">Vijay Kumar</a></li>
                          <li><a href="#">Sushil Soni</a></li>
                          <li class="divider"></li>
                          <li><a href="#">New Designer</a></li>
                        </ul>
                      </div>
                      <input type="text" class="form-control"/>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group"></div>
                        <label>Name</label>
                        <div class="input-group"><span class="input-group-addon">name</span>
                          <input type="text" placeholder="" class="form-control"/>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group"></div>
                        <label>Code</label>
                        <div class="input-group"><span class="input-group-addon">###</span>
                          <input type="text" placeholder="" class="form-control"/>
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="form-group"></div>
                        <label for="checkbox-0">Is?</label>
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-0">Publish</label>
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="form-group"></div>
                        <label for="checkbox-0">Is?
                          <div class="checkbox-nice">
                            <input id="checkbox-1" type="checkbox"/>
                            <label for="checkbox-0"> Party Publish</label>
                          </div>
                        </label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row"> 
              <div class="col-lg-12">
                <div class="main-box">
                  <header class="main-box-header clearfix">
                    <h2>Basic Price:</h2>
                  </header>
                  <div class="main-box-body clearfix">
                    <div class="col-lg-3">
                      <div class="form-group"></div>
                      <label>Original Price</label>
                      <div class="input-group"><span class="input-group-addon">$$</span>
                        <input type="text" placeholder="" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group"></div>
                      <label>Sales Price</label>
                      <div class="input-group"><span class="input-group-addon">$$</span>
                        <input type="text" placeholder="" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group"></div>
                      <label>Short Description</label>
                      <div class="input-group"><span class="input-group-addon">s</span>
                        <input type="text" placeholder="" class="form-control"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-lg-6">
                <div class="form-group">
                  <label>RankWeight</label>
                  <div class="input-group">
                    <input type="text" placeholder="0" class="form-control"/><span class="input-group-addon">.00</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>ExpiryDate:</label>
                  <div class="input-group"><span class="input-group-addon"> <i class="fa fa-calendar"></i></span>
                    <input type="text" class="form-control"/><span class="input-group-addon">--/--/----</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-lg-12">
                <div class="main-box">
                  <header class="main-box-header clearfix">
                    <h2>Basic Quantity Option:</h2>
                  </header>
                  <div class="main-box-body clearfix">
                    <div class="col-lg-3">
                      <div class="form-group"></div>
                      <label>Minimun Order Quantity</label>
                      <div class="input-group"> 
                        <input type="text" placeholder="1" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group"></div>
                      <label>Maximum Order Quantity</label>
                      <div class="input-group"><span class="input-group-addon">1<</span>
                        <input type="text" placeholder="" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group"></div>
                      <label>Quantity Unit</label>
                      <div class="input-group"><span class="input-group-addon">pcs</span>
                        <input type="text" placeholder="" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group"></div>
                      <label for="checkbox-0">?
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-0"> Qty From Set Only</label>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="main-box">
                  <header class="main-box-header clearfix">
                    <h2>Item Allow Option</h2>
                  </header>
                  <div class="main-box-body clearfix">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox" checked="checked"/>
                          <label for="checkbox-1">Is Saleable</label>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="checkbox-nice">
                          <input id="checkbox-2" type="checkbox"/>
                          <label for="checkbox-2">Allow Uploadable </label>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-1">Is Purchaseable </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-0">Is Productionable</label>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-1">Is Website Display </label>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-1">Is Maintain Inventory</label>
                        </div>
                      </div>
                    </div>
                    <div class="row"> 
                      <div class="col-lg-4">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-1">Is AllowNegative Stock </label>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-1">Is Allow Enquiry Allow</label>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-1">Is Template</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="main-box">
                  <header class="main-box-header clearfix">
                    <h2>Item Display Option</h2>
                  </header>
                  <div class="main-box-body clearfix">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox" checked="checked"/>
                          <label for="checkbox-1">Show Detail</label>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="checkbox-nice">
                          <input id="checkbox-2" type="checkbox"/>
                          <label for="checkbox-2">Show Deatail </label>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-1">Is Visible Sold </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="main-box">
                  <header class="main-box-header clearfix">
                    <h2>Marked Option</h2>
                  </header>
                  <div class="main-box-body clearfix">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox" checked="checked"/>
                          <label for="checkbox-1">NewFeatured Latest</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-1">Featured</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-1">Latest</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-1">MostViewed</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="main-box">
                  <header class="main-box-header clearfix">
                    <h2>Enquiry Send To</h2>
                  </header>
                  <div class="main-box-body clearfix">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox" checked="checked"/>
                          <label for="checkbox-1">Enquiry Send To Admin</label>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox"/>
                          <label for="checkbox-1">Item Enquiry Auto Reply</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="main-box">
                  <header class="main-box-header clearfix">
                    <h2>Item Comment Option</h2>
                  </header>
                  <div class="main-box-body clearfix">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="checkbox-nice">
                          <input id="checkbox-1" type="checkbox" checked="checked"/>
                          <label for="checkbox-1">Allow Comments</label>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-btn">
                              <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Comment Api, Please Select <span class="caret"></span></button>
                              <ul style="width:215px" class="dropdown-menu">
                                <li>Discuss</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="main-box">
                  <header class="main-box-header clearfix">
                    <h2>Item Other Option</h2>
                  </header>
                  <div class="main-box-body clearfix">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label for="checkbox-0">Add
                            <div class="checkbox-nice">
                              <input id="checkbox-1" type="checkbox"/>
                              <label for="checkbox-0"> Custom Button</label>
                            </div>
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label> CustomButtonLabel</label>
                          <div class="input-group"> 
                            <input type="text" placeholder="" class="form-control"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label>Custom Button Url</label>
                          <div class="input-group">
                            <input type="text" placeholder="" class="form-control"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label>Theme Code</label>
                          <div class="input-group">
                            <input type="text" placeholder="" class="form-control"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label>Code Reference</label>
                          <div class="input-group">
                            <input type="text" placeholder="Any Reference" class="form-control"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="main-box">
                  <div class="main-box-body clearfix">
                    <label>WaterMark Image</label>
                    <div class="fileUpload">
                      <input type="file" class="upload"/>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group"></div>
                        <label>WaterMarkText</label>
                        <div class="input-group"><span class="input-group-addon">Description</span>
                          <input type="textarea" placeholder="" class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group"></div>
                        <label>WaterMarkPosition</label>
                        <div class="input-group">
                          <div class="input-group-btn">
                            <button type="button" data-toggle="dropdown" style="width:850px" class="btn dropdown-toggle"> Please Select <span class="caret"></span></button>
                            <ul style="width:850px" class="dropdown-menu">
                              <li>Top Left</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group"></div>
                        <label>WaterMark Opacity</label>
                        <div class="input-group"><span class="input-group-addon">Description</span>
                          <input type="textarea" placeholder="" class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group"></div>
                        <label>Meta Title </label>
                        <div class="input-group"><span class="input-group-addon">Title</span>
                          <input type="textarea" placeholder="" class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group"></div>
                        <label>Meta Descritption</label>
                        <div class="input-group"><span class="input-group-addon">Desc</span>
                          <input type="textarea" placeholder="" class="form-control"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group"></div>
                <label>Terms And Condition</label>
                <div class="input-group"><span class="input-group-addon">T&C</span>
                  <input type="textarea" placeholder="" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group"></div>
                <label>Add Item</label>
                <div class="input-group"><span class="input-group-btn">
                    <button type="button" class="btn btn-primary">ADD  !</button></span></div>
              </div>
            </div>
          </header>
        </div>
      </div>
    </div>
  </body>
</html>