html
  body
      .row(style='opacity: 1;')
        .col-lg-12
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Basic Detail:
              .row
               .col-lg-12
                    form(role='form')
                      .form-group
                        label(for='') Designer Name
                        .input-group
                          .input-group-btn
                            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                              | Select Designer 
                              span.caret
                            ul.dropdown-menu
                              li
                                a(href='#') Narendra Seth
                              li
                                a(href='#') Vijay Kumar
                              li
                                a(href='#') Sushil Soni
                              li.divider
                              li
                                a(href='#') New Designer
                          input.form-control(type='text')
                        .row
                          .col-lg-4
                            .form-group
                            label Name
                            .input-group
                              span.input-group-addon name
                              input.form-control(type='text', placeholder='')
                          .col-lg-4
                            .form-group
                            label Code
                            .input-group
                              span.input-group-addon ###
                              input.form-control(type='text', placeholder='')
                          .col-lg-2
                            .form-group
                            label(for='checkbox-0') Is?
                            .checkbox-nice
                                input#checkbox-1(type='checkbox')
                                label(for='checkbox-0') Publish
                          .col-lg-2
                            .form-group
                            label(for='checkbox-0') Is?
                              .checkbox-nice
                                  input#checkbox-1(type='checkbox')
                                  label(for='checkbox-0')  Party Publish
              .row 
                .col-lg-12
                 .main-box
                   header.main-box-header.clearfix
                     h2 Basic Price:
                   .main-box-body.clearfix
                    .col-lg-3
                      .form-group
                      label Original Price
                      .input-group
                        span.input-group-addon $$
                        input.form-control(type='text', placeholder='')
                    .col-lg-3
                      .form-group
                      label Sales Price
                      .input-group
                        span.input-group-addon $$
                        input.form-control(type='text', placeholder='')
                    .col-lg-6
                      .form-group
                      label Short Description
                      .input-group
                        span.input-group-addon s
                        input.form-control(type='text', placeholder='')
              .row 
                .col-lg-6
                  .form-group
                    label RankWeight
                    .input-group
                      input.form-control(type='text',placeholder='0')
                      span.input-group-addon .00
                .col-lg-6
                  .form-group
                    label ExpiryDate:
                    .input-group
                      span.input-group-addon 
                       i.fa.fa-calendar
                      input.form-control(type='text')
                      span.input-group-addon --/--/----
              .row 
                .col-lg-12
                 .main-box
                   header.main-box-header.clearfix
                     h2 Basic Quantity Option:
                   .main-box-body.clearfix
                    .col-lg-3
                      .form-group
                      label Minimun Order Quantity
                      .input-group 
                        input.form-control(type='text', placeholder='1')
                    .col-lg-3
                      .form-group
                      label Maximum Order Quantity
                      .input-group
                        span.input-group-addon 1<
                        input.form-control(type='text', placeholder='')
                    .col-lg-3
                      .form-group
                      label Quantity Unit
                      .input-group
                        span.input-group-addon pcs
                        input.form-control(type='text', placeholder='')
                    .col-lg-3
                      .form-group
                      label(for='checkbox-0') ?
                        .checkbox-nice
                          input#checkbox-1(type='checkbox')
                          label(for='checkbox-0')  Qty From Set Only
              .row
                .col-lg-12
                 .main-box
                   header.main-box-header.clearfix
                     h2 Item Allow Option
                   .main-box-body.clearfix
                     .row
                        .col-lg-4
                            .checkbox-nice
                                input#checkbox-1(type='checkbox', checked='checked')
                                label(for='checkbox-1') Is Saleable
                         .col-lg-4
                            .checkbox-nice
                                input#checkbox-2(type='checkbox')
                                label(for='checkbox-2') Allow Uploadable 
                          .col-lg-4
                            .checkbox-nice
                                input#checkbox-1(type='checkbox')
                                label(for='checkbox-1') Is Purchaseable 
                      .row
                          .col-lg-4
                            .checkbox-nice
                                input#checkbox-1(type='checkbox')
                                label(for='checkbox-0') Is Productionable
                          .col-lg-4
                            .checkbox-nice
                                input#checkbox-1(type='checkbox')
                                label(for='checkbox-1') Is Website Display 
                          .col-lg-4
                            .checkbox-nice
                                input#checkbox-1(type='checkbox')
                                label(for='checkbox-1') Is Maintain Inventory
                      .row 
                          .col-lg-4
                            .checkbox-nice
                                input#checkbox-1(type='checkbox')
                                label(for='checkbox-1') Is AllowNegative Stock 
                          .col-lg-4
                            .checkbox-nice
                                input#checkbox-1(type='checkbox')
                                label(for='checkbox-1') Is Allow Enquiry Allow
                          .col-lg-4
                             .checkbox-nice
                                 input#checkbox-1(type='checkbox')
                                 label(for='checkbox-1') Is Template
              .row
                .col-lg-12
                 .main-box
                   header.main-box-header.clearfix
                     h2 Item Display Option
                   .main-box-body.clearfix
                     .row
                        .col-lg-4
                            .checkbox-nice
                                input#checkbox-1(type='checkbox', checked='checked')
                                label(for='checkbox-1') Show Detail
                         .col-lg-4
                            .checkbox-nice
                                input#checkbox-2(type='checkbox')
                                label(for='checkbox-2') Show Deatail 
                          .col-lg-4
                            .checkbox-nice
                                input#checkbox-1(type='checkbox')
                                label(for='checkbox-1') Is Visible Sold 
              .row
                .col-lg-12
                 .main-box
                   header.main-box-header.clearfix
                     h2 Marked Option
                   .main-box-body.clearfix
                     .row
                        .col-lg-3
                          .checkbox-nice
                              input#checkbox-1(type='checkbox', checked='checked')
                              label(for='checkbox-1') NewFeatured Latest
                        .col-lg-3
                          .checkbox-nice
                              input#checkbox-1(type='checkbox')
                              label(for='checkbox-1') Featured
                        .col-lg-3
                          .checkbox-nice
                              input#checkbox-1(type='checkbox')
                              label(for='checkbox-1') Latest
                        .col-lg-3
                          .checkbox-nice
                              input#checkbox-1(type='checkbox')
                              label(for='checkbox-1') MostViewed
              .row
                .col-lg-12
                 .main-box
                   header.main-box-header.clearfix
                     h2 Enquiry Send To
                   .main-box-body.clearfix
                     .row
                        .col-lg-6
                          .checkbox-nice
                              input#checkbox-1(type='checkbox', checked='checked')
                              label(for='checkbox-1') Enquiry Send To Admin
                        .col-lg-6
                          .checkbox-nice
                              input#checkbox-1(type='checkbox')
                              label(for='checkbox-1') Item Enquiry Auto Reply
              .row
                .col-lg-12
                 .main-box
                   header.main-box-header.clearfix
                     h2 Item Comment Option
                   .main-box-body.clearfix
                     .row
                        .col-lg-6
                          .checkbox-nice
                              input#checkbox-1(type='checkbox', checked='checked')
                              label(for='checkbox-1') Allow Comments
                        .col-lg-6
                          .form-group
                            .input-group
                              .input-group-btn
                                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                                  | Comment Api, Please Select 
                                  span.caret
                                ul.dropdown-menu(style='width:215px')
                                  li
                                    | Discuss
              .row
                .col-lg-12
                 .main-box
                   header.main-box-header.clearfix
                     h2 Item Other Option
                   .main-box-body.clearfix
                      .row
                        .col-lg-4
                          .form-group
                            label(for='checkbox-0') Add
                              .checkbox-nice
                                input#checkbox-1(type='checkbox')
                                label(for='checkbox-0')  Custom Button
                        .col-lg-4
                          .form-group
                            label  CustomButtonLabel
                            .input-group 
                              input.form-control(type='text', placeholder='')
                        .col-lg-4
                          .form-group
                            label Custom Button Url
                            .input-group
                              input.form-control(type='text', placeholder='')
                      .row
                        .col-lg-4
                          .form-group
                            label Theme Code
                            .input-group
                              input.form-control(type='text', placeholder='')
                        .col-lg-4
                          .form-group
                            label Code Reference
                            .input-group
                              input.form-control(type='text', placeholder='Any Reference')
              .row
                .col-lg-12
                  .main-box
                   .main-box-body.clearfix
                    label WaterMark Image
                    .fileUpload
                      input.upload(type='file')
                    .row
                      .col-lg-12
                        .form-group
                        label WaterMarkText
                        .input-group
                          span.input-group-addon Description
                          input.form-control(type='textarea', placeholder='')
                    .row
                      .col-lg-12
                        .form-group
                        label WaterMarkPosition
                        .input-group
                          .input-group-btn
                            button.btn.dropdown-toggle(type='button', data-toggle='dropdown',style='width:850px')
                              |  Please Select 
                              span.caret
                            ul.dropdown-menu(style='width:850px')
                              li
                                | Top Left
                    .row
                      .col-lg-12
                        .form-group
                        label WaterMark Opacity
                        .input-group
                          span.input-group-addon Description
                          input.form-control(type='textarea', placeholder='')
                    .row
                      .col-lg-12
                        .form-group
                        label Meta Title 
                        .input-group
                          span.input-group-addon Title
                          input.form-control(type='textarea', placeholder='')
                    .row
                      .col-lg-12
                        .form-group
                        label Meta Descritption
                        .input-group
                          span.input-group-addon Desc
                          input.form-control(type='textarea', placeholder='')
              .row
                .col-lg-12
                  .form-group
                  label Terms And Condition
                  .input-group
                    span.input-group-addon T&C
                    input.form-control(type='textarea', placeholder='')
              .row
                .col-lg-12
                  .form-group
                  label Add Item
                  .input-group
                    span.input-group-btn
                      button.btn.btn-primary(type='button') ADD  !
                           
                  
         