
<html>
  <body>
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <header class="main-box-header clearfix">
          <h2 class="pull-left">Products</h2>
          <div class="filter-block pull-right">
            <div class="btn-group">
              <button class="btn btn-primary">Category Management</button>
              <button data-toggle="dropdown" data-placeholder="false" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li>
                  <input id="ID" type="checkbox" name="NAME" value="VALUE"/>
                  <label for="ID">Mugs</label>
                </li>
                <li>
                  <input id="ID" type="checkbox" name="NAME" value="VALUE"/>
                  <label for="ID">Business Card</label>
                </li>
                <li>
                  <input id="ID" type="checkbox" name="NAME" value="VALUE"/>
                  <label for="ID">Wedding Cards</label>
                </li>
              </ul>
            </div>
            <div class="btn-group">
              <button class="btn btn-primary">Template Management</button>
              <button data-toggle="dropdown" data-placeholder="false" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li>
                  <input id="ID" type="checkbox" name="NAME" value="VALUE"/>
                  <label for="ID">Mugs</label>
                </li>
                <li>
                  <input id="ID" type="checkbox" name="NAME" value="VALUE"/>
                  <label for="ID">Business Card</label>
                </li>
                <li>
                  <input id="ID" type="checkbox" name="NAME" value="VALUE"/>
                  <label for="ID">Wedding</label>
                </li>
              </ul>
            </div><a href="{url}?page=commerce_additem{/}" class="btn btn-primary"><i class="fa fa-plus-circle fa-lg"></i> Add product </a>
            <div class="form-group pull-right">
              <input type="text" placeholder="Search..." class="form-control pull-right"/><i class="fa fa-search search-icon"></i>
            </div>
          </div>
        </header>
        <div class="main-box-body clearfix">
          <div class="table-responsive"></div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th class="text-center"><a href="#"><span>Image</span></a></th>
              <th><a href="#"><span>Name</span></a></th>
              <th class="text-right"><a href="#" class="asc"><span>Price</span></a></th>
              <th class="text-center"><a href="#" class="desc"></a><span>Type</span></th>
              <th class="text-center"><span>Status</span></th>
              <th class="text-center"><a href="#" class="desc"><span>Total Sale</span></a></th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"> <img alt="" src="img/samples/ipad.png"/></td>
              <td><a href="{url}?page=commerce_viewitem{/}">
                  <h2>iPad Mini 32GB Wifi</h2></a><span title="code" class="pull-center">Code: Ipd001</span></td>
              <td class="text-right">$ 625.50<br/><i style="text-decoration:line-through;">$800.50</i></td>
              <td class="text-center"><span class="label label-info">Purchasable</span></td>
              <td class="text-center"><span class="label label-default">Publish</span></td>
              <td class="text-center"><span class="graph-label"><i class="fa fa-shopping-cart"><b>1000</b></i> Orders
                  <div class="graph-content spark-orders"></div>
                  <canvas style="display: inline-block; width: 3px; height: 2px; vertical-align: top;" width="3" height="2"></canvas></span></td>
              <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
            </tr>
          </tbody>
          <tr>
            <td class="text-center">               <img alt="" src="img/samples/ipad.png"/></td>
            <td><a href="{url}?page=commerce_viewitem{/}">
                <h2>iPad Mini 32GB Wifi</h2></a><span title="code" class="pull-center">Code: Ipd001</span></td>
            <td class="text-right">$ 625.50<br/><i style="text-decoration:line-through;">$800.50</i></td>
            <td class="text-center"><span class="label label-warning">Saleable</span></td>
            <td class="text-center"><span class="label label-primary">PartyPublish</span></td>
            <td class="text-center"><span class="graph-label"><i class="fa fa-shopping-cart"><b>1500</b></i> Orders
                <div class="graph-content spark-orders"></div>
                <canvas style="display: inline-block; width: 3px; height: 2px; vertical-align: top;" width="3" height="2"></canvas></span></td>
            <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td class="text-center">               <img alt="" src="img/samples/ipad.png"/></td>
            <td><a href="{url}?page=commerce_viewitem{/}">
                <h2>iPad Mini 32GB Wifi</h2></a><span title="code" class="pull-center">Code: Ipd001</span></td>
            <td class="text-right">$ 625.50<br/><i style="text-decoration:line-through;">$800.50</i></td>
            <td class="text-center"><span class="label label-success">Online</span></td>
            <td class="text-center"><span class="label label-danger">Not Publish</span></td>
            <td class="text-center"><span class="graph-label"><i class="fa fa-shopping-cart"><b>800</b></i> Orders
                <div class="graph-content spark-orders"></div>
                <canvas style="display: inline-block; width: 3px; height: 2px; vertical-align: top;" width="3" height="2"></canvas></span></td>
            <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td class="text-center">               <img alt="" src="img/samples/ipad.png"/></td>
            <td><a href="{url}?page=commerce_viewitem{/}">
                <h2>iPad Mini 32GB Wifi</h2></a><span title="code" class="pull-center">Code: Ipd001</span></td>
            <td class="text-right">$ 625.50<br/><i style="text-decoration:line-through;">$800.50</i></td>
            <td class="text-center"><span class="label label-success">Online</span></td>
            <td class="text-center"><span class="label label-danger">Not Publish</span></td>
            <td class="text-center"><span class="graph-label"><i class="fa fa-shopping-cart"><b>900</b></i> Orders
                <div class="graph-content spark-orders"></div>
                <canvas style="display: inline-block; width: 3px; height: 2px; vertical-align: top;" width="3" height="2"></canvas></span></td>
            <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>