
<div class="col-md-10">
  <div class="main-box clearfix">
    <div class="tabs-wrapper profile-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-quotation">Quotation</a></li>
        <li><a data-toggle="tab" href="#tab-salesorder">Sales Order  </a></li>
        <li><a data-toggle="tab" href="#tab-salesinvoice">Sales invoice</a></li>
        <li><a data-toggle="tab" href="#tab-purchaseorder">Purchases Order  </a></li>
        <li><a data-toggle="tab" href="#tab-purchaseinvoice">Purchases invoice </a></li>
        <li><a data-toggle="tab" href="#tab-challan">Challan  </a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-quotation" class="tab-pane fade in active">{$quotation}</div>
        <div id="tab-salesorder" class="tab-pane clearfix fade">{$salesorder}</div>
        <div id="tab-salesinvoice" class="tab-pane clearfix fade">{$salesinvoice}</div>
        <div id="tab-purchaseorder" class="tab-pane clearfix fade">{$purchaseorder}</div>
        <div id="tab-purchaseinvoice" class="tab-pane clearfix fade">{$purchaseinvoice}</div>
        <div id="tab-challan" class="tab-pane clearfix fade">{$challan}</div>
      </div>
    </div>
  </div>
</div>