div(id="{$_name}" class="{$class} xepan-designer-manage-images" style="{$style}")
	{$login_panel}
	{image_wrapper}
	ul#xepan-desigber-image-tabs.nav.nav-tabs(role='tablist')
		li.active(role='presentation')
			a#xepan-desiogner-myimages-tab(href='#myimages', role='tab', data-toggle='tab', aria-controls='myimages', aria-expanded='true') My Images
		li(role='presentation')
			a#xepan-designer-library-tab(aria-expanded='false', href='#library', role='tab', data-toggle='tab', aria-controls='library') Library
		li.pull-right.xepan-designer-images-addimagebutton-spot(style="background:none;margin-right:30px;")
			button.btn.btn-success(style="margin-top:5px;")
				i.icon-plus Add Image
	#xepandesignerimagetabcontent.tab-content(style="height: 400px;padding:0px;")
		#myimages.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='xepan-desiogner-myimages-tab')
			{$tool_user_login}
			{my_image_wrapper}
			.container.xepan-designer-images-search-bar
				.row
					.col-md-6.col-sm-12.col-lg-6
						p.info Upload images in JPEG, JPG, PNG formats.
					.col-md-6.col-sm-12.col-lg-6.xepan-designer-lister-images-paginator-spot
			.container.xepan-designer-image-cat-image
				.row
					.col-md-3.col-sm-12.col-lg-3.category
						{category_lister}{/}
					.col-md-9.col-sm-12.col-lg-9.images
						{images_lister}{/}
			{/}
		#library.tab-pane.fade(role='tabpanel', aria-labelledby='xepan-designer-library-tab')
			.container.xepan-designer-images-search-bar
				.row
					.col-md-6.col-sm-12.col-lg-6
						p.info Upload images in JPEG, JPG, PNG formats.
					.col-md-6.col-sm-12.col-lg-6.xepan-designer-lister-images-paginator-spot
			.container.xepan-designer-image-cat-image
				.row
					.col-md-3.col-sm-12.col-lg-3.category
						{library_cat}{/}
					.col-md-9.col-sm-12.col-lg-9.images
						{library_img}{/}
	{/image_wrapper}
script.
	$(document).ready(function() {
		$("#xepan-designer-library-tab").click(function () {
		    $("li.xepan-designer-images-addimagebutton-spot").addClass("hidden");
		    //- $(".tab").addClass("active");        
		});
		$("#xepan-desiogner-myimages-tab").click(function () {
		    $("li.xepan-designer-images-addimagebutton-spot").removeClass("hidden");
		    //- $(".tab").addClass("active");        
		});
	});	