
<div id="{$_name}" style="{$style}" class="xepan-pos {$class}">
  <div class="row header">
    <div class="col-md-4 col-sm-4 col-lg-4">
      <h2>POS</h2>
    </div>
    <div class="col-md-8 col-sm-8 col-lg-8 text-right">
      <button class="btn btn-warning clear-pos">Clear</button>
      <button class="btn btn-info"> <i class="fa fa-plus-circle fa-lg"></i>&nbsp;New Pos</button>
      <button class="btn btn-default">Mode Change</button>
      <button class="btn btn-primary">Open Hold</button>
      <button class="btn btn-primary"><i class="fa fa-print fa-lg"></i>&nbsp;Print</button>
      <button class="btn btn-primary"><i class="fa fa-envelope fa-lg"></i>&nbsp;Email</button>
      <button class="btn btn-success"><i class="fa fa-save fa-lg"></i>&nbsp;Save</button>
    </div>
  </div>
  <div class="row vertical-divider">
    <div class="col-md-9 col-sm-9 col-lg-9">
      <div class="row">
        <div class="col-md-9 col-sm-9 col-lg-9">
          <input placeholder="Scan Bar Code" class="search"/>
        </div>
        <div style="text-align:right;" class="col-md-3 col-sm-3 col-lg-3">
          <button class="btn btn-primary add-new-item"><i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add New Item</button>
        </div>
      </div>
      <div class="qsp-detail-wrapper">
        <table class="addeditem">
          <tr class="col-heading">
            <th class="col-sno">S.No</th>
            <th class="col-item">Item/Particular</th>
            <th class="col-narration">Narration</th>
            <th class="col-qty">Qty</th>
            <th class="col-price">Price</th>
            <th class="col-amount">Amount</th>
            <th class="col-action"></th>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 height-600">
      <div class="totals well">
        <div class="row">
          <div style="text-align:right;" class="col-md-5 col-lg-5 col-sm-5">Gross</div>
          <div style="text-align:right;" class="col-md-7 col-lg-7 col-sm-7">
            <h4 class="pos-gross-amount">00.00</h4>
          </div>
        </div>
        <div class="row">
          <div style="text-align:right;" class="col-md-5 col-lg-5 col-sm-5">Discount</div>
          <div style="text-align:right;" class="col-md-7 col-lg-7 col-sm-7">
            <h4 class="pos-discount-amount">00.00</h4>
          </div>
        </div>
        <hr style="margin:3px;"/>
        <div style="text-align:right;" class="row">
          <div class="col-md-5 col-lg-5 col-sm-5">Net</div>
          <div class="col-md-7 col-lg-7 col-sm-7">
            <h2 class="pos-net-amount">00.00</h2>
          </div>
        </div>
      </div>
      <h3>Search Item</h3>
      <input placeholder="Search Item By Code" class="search"/>
      <input placeholder="Search Item By Category" class="search"/>
      <div class="item-section"></div>
    </div>
  </div>
  <style>
    #content-header{
    	display:none;
    }
    #content-wrapper{
    	background:#fff none repeat scroll 0 0;
    }
    .height-600{
    	height:600px;
    }
    
    .xepan-pos .header{
    	padding-bottom:3px;
    	border-bottom:2px solid #F2F7F9;
    }
    .xepan-pos input{
    	width:100%;
    	border:2px solid #E7EBEE;
    	margin-bottom:5px;
    	padding:5px;
    }
    
    .accordion select{
    	border:2px solid #E7EBEE !important;
    }
    
    .xepan-pos .row.vertical-divider {
    	overflow: hidden;
    }
    .xepan-pos .row.vertical-divider > div[class^="col-"] {
    	  //- padding-bottom: 100px;
    	  //- margin-bottom: -100px;
    	  border-left: 3px solid #F2F7F9;
    	  //- border-right: 3px solid #F2F7F9;
    	  padding-top:5px;
    }
    
    .xepan-pos .search{
    	padding:5px;
    	border-radius:10px;
    }
    
    .clear-padding{
    	padding-left:0px;
    	padding-right:0px;
    	padding-top:0px;
    	padding-bottom:0px;
    }
    .clear-margin{
    	margin-left:0px;
    	margin-right:0px;
    	margin-top:0px;
    	margin-bottom:0px;
    }
    //- table css  
    table.addeditem{
    	width:100%;
    }
    .col-sno{
    	width:5%;
    }
    .col-item{
    	width:30%;
    }
    .col-qty{
    	width:13%;
    	text-align:right;
    }
    
    .col-narration{
    	width:20%;
    }
    .col-price{
    	width:10%;
    	text-align:right;
    }
    .col-amount{
    	width:20%;
    	text-align: right;
    }
    .col-action{
    	width:5%;
    }
    
    .col-price input,
    .col-qty input,
    .col-amount input{
    	text-align:right;
    }
    
    .col-remove{
    	color:red;
    }
    .col-remove .fa-trash{
    	color:white;
    }
    .col-add{
    	color:#2980b9;
    }
    .col-add .fa-navicon{
    	color:white;
    }
    //- auto complete css
    .ui-state-focus:hover .item-extra-info,
    .ui-state-focus .item-extra-info{
    	display:block;
    }
    #config-tool-cog{
    	display:none;
    }
    
    .pos-field-error{
    	color:red !important;
    }
    
    
    .pos-field-error .pos-form-field{
    	border:1px solid red !important;
    }
  </style>
</div>