html 
  body
    .main-box.no-header.clearfix
      header.main-box-header.clearfix
        h2.pull-left Purchase Order
        .filter-block.pull-right
          .form-group.pull-left
            input.form-control(type='text', placeholder='Search...')
            i.fa.fa-search.search-icon
          .form-group.pull-left
            input.form-control.ui-autocomplete-input(type='text', placeholder=' By Supplier or Status', value='', data-shortname='order_2', data-initvalue='', autocomplete='off')
          a.btn.btn-primary(href='#')
            i.fa.fa-plus-circle.fa-lg
            |  Add Order Draft
      .main-box-body.clearfix
        .table-responsive
          table.table.user-list.table-hover
            thead
              tr
                th
                  span Supplier
                th
                  span Order Id
                th.text-center
                  span Ordered
                th.text-center
                  span Supplier Name
                th
                  span Contact No
                th.text-center
                  span Status
                th.text-center
                  span Price
                th
            tbody
              tr
                td
                  img(alt='', src='img/samples/robert-300.jpg')
                td 
                  a(href='{url}?page=xepan_commerce_invoicepurchase{/}')
                    h2 045556
                  span Scarlet
                td
                  .row
                    .col-lg-12
                      .row
                        .col-lg-6
                          | Ordered Date:
                          br
                          | Ordered By:
                        .col-lg-6.pull-right
                          | 02/10/2015
                          br
                          | Hemendra Seth
                td.text-center
                  | Supplier Name
                td 
                  | 65823214578
                td.text-center
                  span.label.label-info Draft
                td
                  span 0000000000 
                td(style='width: 15%;')
                  a.table-link(href='#')
                    span.fa-stack
                      i.fa.fa-square.fa-stack-2x
                      i.fa.fa-pencil.fa-stack-1x.fa-inverse
                  a.table-link.danger(href='#')
                    span.fa-stack
                      i.fa.fa-square.fa-stack-2x
                      i.fa.fa-trash-o.fa-stack-1x.fa-inverse
              tr
                td
                  img(alt='', src='img/samples/robert-300.jpg')
                td 
                  a(href='{url}?page=xepan_commerce_invoicepurchase{/}')
                    h2 045556
                  span Scarlet
                td
                  .row
                    .col-lg-12
                      .row
                        .col-lg-6
                          | Ordered Date:
                          br
                          | Ordered By:
                        .col-lg-6.pull-right
                          | 5 months ago
                          br
                          | Hemendra Seth
                td.text-center
                  | Supplier Name
                td 
                  | 65823214578
                td.text-center
                  span.label.label-default Processing
                td
                  span 0000000000 
                td(style='width: 15%;')
                  a.table-link(href='#')
                    span.fa-stack
                      i.fa.fa-square.fa-stack-2x
                      i.fa.fa-pencil.fa-stack-1x.fa-inverse
                  a.table-link.danger(href='#')
                    span.fa-stack
                      i.fa.fa-square.fa-stack-2x
                      i.fa.fa-trash-o.fa-stack-1x.fa-inverse
              tr
                td
                  img(alt='', src='img/samples/robert-300.jpg')
                td 
                  a(href='{url}?page=xepan_commerce_invoicepurchase{/}')
                    h2 045556
                  span Scarlet
                td
                  .row
                    .col-lg-12
                      .row
                        .col-lg-6
                          | Ordered Date:
                          br
                          | Ordered By:
                        .col-lg-6.pull-right
                          | 5 months ago
                          br
                          | Hemendra Seth
                td.text-center
                  | Supplier Name
                td 
                  | 65823214578
                td.text-center
                  span.label.label-danger Approved
                td
                  span 0000000000 
                td(style='width: 15%;')
                  a.table-link(href='#')
                    span.fa-stack
                      i.fa.fa-square.fa-stack-2x
                      i.fa.fa-pencil.fa-stack-1x.fa-inverse
                  a.table-link.danger(href='#')
                    span.fa-stack
                      i.fa.fa-square.fa-stack-2x
                      i.fa.fa-trash-o.fa-stack-1x.fa-inverse
              tr
                td
                  img(alt='', src='img/samples/robert-300.jpg')
                td 
                  a(href='{url}?page=xepan_commerce_invoicepurchase{/}')
                    h2 045556
                  span Scarlet
                td
                  .row
                    .col-lg-12
                      .row
                        .col-lg-6
                          | Ordered Date:
                          br
                          | Oredered By:
                        .col-lg-6.pull-right
                          | 5 months ago
                          br
                          | Hemendra Seth
                td.text-center
                  | Supplier Name
                td 
                  | 65823214578
                td.text-center
                  span.label.label-primary Completed
                td
                  span 0000000000 
                td(style='width: 15%;')
                  a.table-link(href='#')
                    span.fa-stack
                      i.fa.fa-square.fa-stack-2x
                      i.fa.fa-pencil.fa-stack-1x.fa-inverse
                  a.table-link.danger(href='#')
                    span.fa-stack
                      i.fa.fa-square.fa-stack-2x
                      i.fa.fa-trash-o.fa-stack-1x.fa-inverse