
<html>
  <body>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box clearfix">
          <header class="main-box-header clearfix">
            <h2 class="pull-left">Quotation No. 20140566</h2>
            <div class="filter-block pull-right"><a href="#" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Create Quotation</a><a href="#" class="btn btn-primary pull-right"><i class="fa fa-pencil fa-lg"></i> Edit Quotation</a></div>
          </header>
          <div class="main-box-body clearfix">
            <div id="invoice-companies" class="row">
              <div class="col-sm-8 invoice-box">
                <div class="invoice-company">
                  <h4>Company Name</h4>
                  <p>
                    <label></label><strong>Company Address:</strong><br/>10880 Malibu Point,Malibu, Calif., 90265,USA
                  </p>
                </div>
              </div>
              <div class="col-sm-4 invoice-box invoice-box-dates">
                <div class="invoice-dates">
                  <div class="invoice-number clearfix"><strong>Quotation No.</strong><span class="pull-right">20140566</span></div>
                  <div class="invoice-date clearfix"><strong>Created Date:</strong><span class="pull-right">12/04/2014</span></div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center"><span>Sr.No</span></th>
                    <th><span>Name</span></th>
                    <th class="text-center"><span>Quantity</span></th>
                    <th class="text-center"><span>Tax Rate</span></th>
                    <th class="text-center"><span>Tax Amount</span></th>
                    <th class="text-center"><span>Unit price</span></th>
                    <th class="text-center"><span>Total</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">8001</td>
                    <td>iPad Mini 32GB Wifi<br/>Paper GSM</td>
                    <td class="text-center">5</td>
                    <td class="text-center">6 %</td>
                    <td class="text-center">&dollar; 50.30</td>
                    <td class="text-center">&dollar; 225.20</td>
                    <td class="text-center">&dollar; 1126.00</td>
                  </tr>
                  <tr>
                    <td class="text-center">8001</td>
                    <td>iPad Mini 32GB Wifi<br/>Paper GSM</td>
                    <td class="text-center">5</td>
                    <td class="text-center">6 %</td>
                    <td class="text-center">&dollar; 50.30</td>
                    <td class="text-center">&dollar; 225.20</td>
                    <td class="text-center">&dollar; 1126.00</td>
                  </tr>
                  <tr>
                    <td class="text-center">8001</td>
                    <td>iPad Mini 32GB Wifi<br/>Paper GSM</td>
                    <td class="text-center">5</td>
                    <td class="text-center">6 %</td>
                    <td class="text-center">&dollar; 50.30</td>
                    <td class="text-center">&dollar; 225.20</td>
                    <td class="text-center">&dollar; 1126.00</td>
                  </tr>
                  <tr>
                    <td class="text-center">8001</td>
                    <td>iPad Mini 32GB Wifi<br/>Paper GSM</td>
                    <td class="text-center">5</td>
                    <td class="text-center">6 %</td>
                    <td class="text-center">&dollar; 50.30</td>
                    <td class="text-center">&dollar; 225.20</td>
                    <td class="text-center">&dollar; 1126.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="invoice-box-total clearfix">
              <div class="row">
                <div class="col-sm-9 col-md-10 col-xs-6 text-right invoice-box-total-label">Sub Total</div>
                <div class="col-sm-3 col-md-2 col-xs-6 text-right invoice-box-total-value">$ 7125.76</div>
              </div>
              <div class="row">
                <div class="col-sm-9 col-md-10 col-xs-6 text-right invoice-box-total-label">Discount</div>
                <div class="col-sm-3 col-md-2 col-xs-6 text-right invoice-box-total-value">$ 125.76</div>
              </div>
              <div class="row">
                <div class="col-sm-9 col-md-10 col-xs-6 text-right invoice-box-total-label">Total</div>
                <div class="col-sm-3 col-md-2 col-xs-6 text-right invoice-box-total-value">$ 7000.76</div>
              </div>
              <div class="row">
                <div class="col-sm-9 col-md-10 col-xs-6 text-right invoice-box-total-label">VAT (20%)</div>
                <div class="col-sm-3 col-md-2 col-xs-6 text-right invoice-box-total-value">$ 1425.15</div>
              </div>
              <div class="row grand-total">
                <div class="col-sm-9 col-md-10 col-xs-6 text-right invoice-box-total-label">Grand Total</div>
                <div class="col-sm-3 col-md-2 col-xs-6 text-right invoice-box-total-value">$ 8550.91</div>
              </div>
            </div>
            <div class="clearfix"><a href="#" class="btn btn-success pull-right"> Print Quotation</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>