html
  body
    .row
      .col-lg-12
        .main-box.clearfix
          header.main-box-header.clearfix
            h2.pull-left Quotation No. 20140566
            .filter-block.pull-right
              a.btn.btn-primary.pull-right(href='#')
                i.fa.fa-plus-circle.fa-lg
                |  Create Quotation
              a.btn.btn-primary.pull-right(href='#')
                i.fa.fa-pencil.fa-lg
                |  Edit Quotation
          .main-box-body.clearfix
            #invoice-companies.row
              .col-sm-8.invoice-box
                .invoice-company
                  h4 Company Name
                  p
                    label
                    strong Company Address:
                    br
                    | 10880 Malibu Point,Malibu, Calif., 90265,USA
              .col-sm-4.invoice-box.invoice-box-dates
                .invoice-dates
                  .invoice-number.clearfix
                    strong Quotation No.
                    span.pull-right 20140566
                  .invoice-date.clearfix
                    strong Created Date:
                    span.pull-right 12/04/2014
            .table-responsive
              table.table
                thead
                  tr
                    th.text-center
                      span Sr.No
                    th
                      span Name
                    th.text-center
                      span Quantity
                    th.text-center
                      span Tax Rate
                    th.text-center
                      span Tax Amount
                    th.text-center
                      span Unit price
                    th.text-center
                      span Total
                tbody
                  tr
                    td.text-center
                      | 8001
                    td
                      | iPad Mini 32GB Wifi
                      br
                      | Paper GSM
                    td.text-center
                      | 5
                    td.text-center
                      | 6 %
                    td.text-center
                      | &dollar; 50.30
                    td.text-center
                      | &dollar; 225.20
                    td.text-center
                      | &dollar; 1126.00
                  tr
                    td.text-center
                      | 8001
                    td
                      | iPad Mini 32GB Wifi
                      br
                      | Paper GSM
                    td.text-center
                      | 5
                    td.text-center
                      | 6 %
                    td.text-center
                      | &dollar; 50.30
                    td.text-center
                      | &dollar; 225.20
                    td.text-center
                      | &dollar; 1126.00
                  tr
                    td.text-center
                      | 8001
                    td
                      | iPad Mini 32GB Wifi
                      br
                      | Paper GSM
                    td.text-center
                      | 5
                    td.text-center
                      | 6 %
                    td.text-center
                      | &dollar; 50.30
                    td.text-center
                      | &dollar; 225.20
                    td.text-center
                      | &dollar; 1126.00
                  tr
                    td.text-center
                      | 8001
                    td
                      | iPad Mini 32GB Wifi
                      br
                      | Paper GSM
                    td.text-center
                      | 5
                    td.text-center
                      | 6 %
                    td.text-center
                      | &dollar; 50.30
                    td.text-center
                      | &dollar; 225.20
                    td.text-center
                      | &dollar; 1126.00
            .invoice-box-total.clearfix
              .row
                .col-sm-9.col-md-10.col-xs-6.text-right.invoice-box-total-label
                  | Sub Total
                .col-sm-3.col-md-2.col-xs-6.text-right.invoice-box-total-value
                  | $ 7125.76
              .row
                .col-sm-9.col-md-10.col-xs-6.text-right.invoice-box-total-label
                  | Discount
                .col-sm-3.col-md-2.col-xs-6.text-right.invoice-box-total-value
                  | $ 125.76
              .row
                .col-sm-9.col-md-10.col-xs-6.text-right.invoice-box-total-label
                  | Total
                .col-sm-3.col-md-2.col-xs-6.text-right.invoice-box-total-value
                  | $ 7000.76
              .row
                .col-sm-9.col-md-10.col-xs-6.text-right.invoice-box-total-label
                  | VAT (20%)
                .col-sm-3.col-md-2.col-xs-6.text-right.invoice-box-total-value
                  | $ 1425.15
              .row.grand-total
                .col-sm-9.col-md-10.col-xs-6.text-right.invoice-box-total-label
                  | Grand Total
                .col-sm-3.col-md-2.col-xs-6.text-right.invoice-box-total-value
                  | $ 8550.91
            .clearfix
              a.btn.btn-success.pull-right(href='#')
                |  Print Quotation