div(id="{$_name}" class="{$class}" style="{$style}")
  div.main-box.clearfix
    .tabs-wrapper.taxation
      ul.nav.nav-tabs.responsive-tabs
        li.active
          a(data-toggle="tab" href="#tab-taxation") Taxation
        li
          a(data-toggle="tab" href="#tab-taxationrule") Taxation Rule
        li
          a(data-toggle="tab" href="#tab-taxationconfig") Taxation Configuration
        li
          a(data-toggle="tab" href="#tab-subtax" style="display:none;") Sub Tax
      div.tab-content
        div.tab-pane.active(id="tab-taxation")
          | {$taxation}
        div.tab-pane(id="tab-taxationrule")
          | {$taxation_rule}
        div.tab-pane(id="tab-taxationconfig")
          | {$taxation_configuration}
        div.tab-pane(id="tab-subtax" style="display:none;")
          | {$sub_tax}
        