
<div id="{$_name}" style="{$style}" class="{$class}">
  <div class="main-box clearfix">
    <div class="tabs-wrapper taxation">
      <ul class="nav nav-tabs responsive-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-taxation">Taxation</a></li>
        <li><a data-toggle="tab" href="#tab-taxationrule">Taxation Rule</a></li>
        <li><a data-toggle="tab" href="#tab-taxationconfig">Taxation Configuration</a></li>
        <li><a data-toggle="tab" href="#tab-subtax" style="display:none;">Sub Tax</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-taxation" class="tab-pane active">{$taxation}</div>
        <div id="tab-taxationrule" class="tab-pane">{$taxation_rule}</div>
        <div id="tab-taxationconfig" class="tab-pane">{$taxation_configuration}</div>
        <div id="tab-subtax" style="display:none;" class="tab-pane">{$sub_tax}</div>
      </div>
    </div>
  </div>
</div>