
<div id="{$_name}" style="{$style}" class="{$class}">
  <div class="main-box clearfix">
    <div class="tabs-wrapper taxation">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-taxation">Taxation</a></li>
        <li><a data-toggle="tab" href="#tab-taxationrule">Taxation Rule</a></li>
        <li><a data-toggle="tab" href="#tab-taxationconfig">Taxation Configuration</a></li>
        <li><a data-toggle="tab" href="#tab-shippingrule">Shipping Rule</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-taxation" class="tab-pane fade in active">{$taxation}</div>
        <div id="tab-taxationrule" class="tab-pane fade in">{$taxation_rule}</div>
        <div id="tab-taxationconfig" class="tab-pane fade in">{$taxation_configuration}</div>
        <div id="tab-shippingrule" class="tab-pane fade in">{$shippingrule}</div>
      </div>
    </div>
  </div>
</div>