
<div class="panel">
  <div id="headingOne" role="tab"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Extra Info</a></div>
  <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse">
    <div class="panel-body">{extra_info}<b>{$department_name}</b><br/>{rows}{row}
      {$custom_field_name} :: {$custom_field_value_name}<br/>{/}{/}
      {$narration}
      {/extra_info}
    </div>
  </div>
</div>