.panel
	#headingOne(role='tab')
		a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
			| Extra Info
	#collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
		.panel-body
			{extra_info}
			b {$department_name}
			br
			{rows}{row}
			{$custom_field_name} :: {$custom_field_value_name}
			br
			{/}{/}
			{$narration}
			{/extra_info}