.xepan-grid.main-box.clearfix(id="{$_name}" class="{$class}")
	header.main-box-header
		h3 Please Select Affiliate Name To Convert It To Customer, Or Click On Create a New Customer
	.main-box-body.clearfix
		.row
			.col-md-12
				{$affiliate}
				{$FormButtons}
	hr   