
<div id="{$_name}" style="{$style}" class="{$class} row">{rows}{row}
  <ul data-xsnb-item-id="{$id}" onclick="javascript:void(0);" class="xshop-item col-lg-3 col-md-3 list-group">{image_wrapper}
    <li class="list-group-item"><a href="{$item_detail_page_url_via_image}" class="xshop-item-image-anchor"><img src="{first_image}abc{/}" class="xshop-item-img thumbnail"/></a></li>{/image_wrapper}
    {name_wrapper}
    <li class="list-group-item active text-center"><a href="{item_detail_page_url_via_name}{/}" class="xepan-commerce-item-name">
        <h2>{$name}</h2></a></li>{/}
    {sale_price_wrapper}
    <li class="xepan-commerce-tool-item-sale-price list-group-item">
      <div class="row">
        <div class="col-md-4">Price</div>
        <div class="col-md-8 text-right">{$sale_price}</div>
      </div>
    </li>{/}
    {original_price_wrapper}
    <li class="xepan-commerce-tool-item-original-price list-group-item">{$original_price}</li>{/}
    {shipping_charge_wrapper}
    <li class="xepan-commerce-tool-item-shipping-charge list-group-item">
      <div class="row">
        <div class="col-md-4">Shipping </div>
        <div class="col-md-8 text-right">{shipping_charge}0{/}</div>
      </div>
    </li>{/}
    {description_wrapper}
    <li onclick="javascript:void(0)" class="xshop-item-short-description list-group-item">{$description}</li>{/}
    {specification_wrapper}
    <li class="xepan-commerce-tool-item-specification list-group-item">
      {specification}
      {rows}{row}
      <div class="row">
        <div class="col-md-6">{$name}</div>
        <div class="col-md-6">{$value}</div>
      </div>{/}{/}
      {/specification}
    </li>{/}
    {personalizedbtn_wrapper}
    <li class="list-group-item">
      <div data-xsnbitemid="{$id}">{$personalizedbtn}</div>
    </li>{/}
    {addtocart_wrapper}
    <li class="list-group-item">
      <div data-xsnbitemid="{$id}" data-name="{$name}" class="xshop-item-addtocart">{$Addtocart}</div>
    </li>{/}
  </ul>{/}{/}
  {not_found}
  <div role="alert" class="full-width alert alert-warning"><strong class="glyphicon glyphicon-warning-sign">&nbsp;Warning!<span>&nbsp;{$not_found_message}</span></strong></div>{/}
  {paginator_wrapper}
  <div style="float:none; clear:both" class="xshop-item-paginator">{$Paginator}</div>{/}
  <style>
    .xshop-item-addtocart input, .xshop-item-addtocart select{
    	width:100%;
    }
    .xshop-item-img{
    	max-width:100%;
    }
  </style>
</div>