
<table>
  <tbody>
    <tr>
      <td colspan="2">
        <h3 style="text-align: center; text-height: 0px;">SALE ORDER</h3>
      </td>
    </tr>
    <tr>
      <td>
        <div>Tin No:08563962161</div>
        <div> Our Bankers :</div>
        <div> Union Bank of India, Main Branch, Udaipur</div>
        <div> A/c No: 310105010100018 & (IFC Code - UBIN0531014)</div>
        <div> State Bank of Bikaner & Jaipur, University Road, Udaipur</div>
        <div> A/c No: 61191331223 & (IFC Code - SBBJ0011084)</div>
      </td>
      <td><img style="float: right;" src="img/samples/tahiti-1.jpg" alt="" width="300" height="141"/></td>
    </tr>
    <tr>
      <td colspan="2"><img src="img/samples/tahiti-1.jpg" alt="" width="100%" height="1"/></td>
    </tr>
    <tr style="font-size: 8px;">
      <td>To,<br/><br/><strong style="font-size: 10px;">{$contact}{contact_id}{/}/Organization Name</strong><br/> {$billing_contact},{$billing_email}<br/> {$billing_address},{$billing_city}, {$billing_state}, {$billing_country},<br/> {$billing_pincode}, {$billing_contact}<br/> TIN No.: {$customer_tin_no}08563962161<br/> PAN No.: {$customer_pan_no}25463962161</td>
      <td style="text-align: right; vertical-align: middle;">
        <p>Order No.: {$document_no}</p>
        <p>Date.: {$created_at}</p>
      </td>
    </tr>
    <tr>
      <td colspan="2"><img src="img/samples/tahiti-1.jpg" alt="" width="100%" height="1"/></td>
    </tr>
    <tr>
      <td colspan="2">{$item_info}</td>
    </tr>
    <tr>
      <td colspan="2"><img src="epans/web/invoice/INVOICE%20line.png" alt="" width="100%" height="1"/></td>
    </tr>
    <tr>
      <td colspan="2" height="2px;"> </td>
    </tr>
    <tr>
      <td style="background-image: url('../../admin/img/samples/tahiti-1.jpg'); background-size: 100px auto; background-repeat: no-repeat; background-position: left bottom; text-align: left; vertical-align: top; font-size: 8px;" width="40%;" class="noprint-background"><strong>Terms and Condition</strong><br/>{terms_and_conditions}
        {rows}{row}
        {terms_and_conditions}Not Specified{/} 
        {/}{/}
        {/}
      </td>
      <td style="text-align: right; background-image: url('img/samples/tahiti-1.jpg'); background-repeat: no-repeat; background-position: right top; height: 100px; vertical-align: bottom;" width="60%">
        <table width="100%" align="center">
          <tbody>
            <tr>
              <td style="text-align: right;">
                <p>Customer Signature</p>
              </td>
              <td style="text-align: right;">
                <p>Authorized Signature</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>