
<table style="height: 231px;" border="true">
  <thead>
    <tr style="border: 5 px solid; border-color: #000000; text-align: left;">
      <td style="text-align: left;"><img src="img/samples/tahiti-1.jpg" alt="" width="300" height="200"/><br/>
        <p> </p>
        <p> </p>
      </td>
      <td style="border-color: #000000; text-align: right; vertical-align: top;">
        <p><strong>Prime Scan</strong></p>
        <p><strong>"Shubh Ashiyana" </strong></p>
        <p><strong>Flat no.- 102, Second Floor, B- Block,100 Ft. Road, Ayad - Shobhagpura </strong></p>
        <p><strong>Udaipur - 313001 (Raj.) India </strong></p>
        <h5><strong>Email :- <a href="mailto:primescan2006@gmail.com">primescan2006@gmail.com, </a><a>prime_scan@yahoo.com</a></strong></h5>
        <p><strong>Company's VAT TIN. : 08563962161</strong></p>
      </td>
    </tr>
    <tr style="border: 5 px solid; border-color: #000000; text-align: left;">
      <td style="text-align: left;" colspan="2">
        <p style="text-align: right;"><strong>Purchase Invoice No. :-</strong> {$document_no}</p>
        <p style="text-align: right;"><strong>Dated :-</strong> {$created_at}</p>
      </td>
    </tr>
    <tr style="border: 5 px solid; border-color: #000000; text-align: left;">
      <td style="text-align: left;">
        <p><strong>Order To:</strong></p>
        <h4>{$contact}{contact_id}{/}/Company Name</h4>
        <h5>{$contact}{contact_id}{/}<br/>{$billing_contact}<br/> {$billing_email}<br/>{$billing_address},{$billing_city}, {$billing_state},<br/>{$billing_pincode},{$billing_country}<br/>Supplier Tin No {$supplier_tin_no}54545544 <br/>Supplier's PAN : {$supplier_pan_no}45445454</h5>
      </td>
      <td style="border-color: #000000; text-align: left; vertical-align: top;">
        <p><strong>Delivery To:</strong></p>
        <h4>{$contact}{contact_id}{/}/Company Name</h4>
        <h5>{$contact}{contact_id}{/}<br/>{$shipping_contact}<br/> {$shipping_email}<br/>{$shipping_address},{$shipping_city}, {$shipping_state},<br/>{$shipping_pincode},{$shipping_country}</h5>
      </td>
    </tr>
    <tr style="border: 5 px solid; border-color: #000000; text-align: left;">
      <td style="text-align: left;" colspan="2">
        <p>{$item_info}</p>
      </td>
    </tr>
    <tr style="border: 5 px solid; border-color: #000000; text-align: left;">
      <td style="text-align: left;" colspan="2"> </td><strong>Terms and Condition<br/>{terms_and_conditions}
        {rows}{row}
        {terms_and_conditions}Not Specified{/} 
        {/}{/}
        {/}</strong>
    </tr>
  </thead>
</table>