
<table>{header}
  <thead>{cols}{col}
    <tr>
      <th>Sno</th>
      <th class="text-left">Particular</th>
      <th>Rate</th>
      <th>Qty</th>
      <th>Amount
        <div class="text-muted"> excluding tax</div>
      </th>
      <th>Tax %</th>
      <th>Tax</th>
      <th>Amount
        <div class="text-muted">including tax</div>
      </th>
    </tr>{/}{/}
  </thead>{/}
  {$subheader}
  <tbody>{rows}{row}
    <tr data-id="{$id}" class="{$odd_even}">{cols}
      <td>{sno}01{/}</td>
      <td style="padding: 1px; font-size: 5px;" class="text-left">
        {item}Item Name{/} 
        {$extra_info}
      </td>
      <td>{price}price_here{/}</td>
      <td>{quantity}{/}</td>
      <td>{amount_excluding_tax}{/}</td>
      <td>{tax_percentage}{/}</td>
      <td>{tax_amount}tax_amount{/}</td>
      <td>{total_amount}total_amount{/}</td>{/}
    </tr>{/}{/}
    {not_found}
    <div class="row">
      <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
    </div>{/}
  </tbody>
</table>