{$contact}{contact_id}{/}
{$billing_address}
{$billing_city}
{$billing_state}
{$billing_pincode}
{$billing_country}
{$billing_contact}
{$billing_email}
{$shipping_address}
{$shipping_city}
{$shipping_state}
{$shipping_pincode}
{$shipping_country}
{$shipping_contact} 
{$shipping_email}
{type} DocType {/} No:
{$document_no}
{$created_at}
{$due_date}
{$item_info}
{narration} This Item to be sold and replaced and Reproduction and wastage. {/}
   
{gross_amount} $ 00000000 {/}
{discount_amount} $ 00000000 {/}
{net_amount} $ 0000000{/}
{$tnc_id}
{$tnc_text}

{terms_and_conditions}
{rows}{row}
{terms_and_conditions}Not Specified{/} 
{/}{/}
{/}
{common_vat}
div{$id} = {$name}
{/}
{$currency} {$currency_id} @
{$exchange_rate}
{$nominal} {$nominal_id}
