.row.memeber-account-member-address-form
	.col-md-12
		div 
			strong Address:
			{$address}
		div
			strong Country:
			{$country_id}
		div
			strong State:
			{$state_id}
		div
			strong City:
			{$city}
		div
			strong pincode:
			{$pin_code}
.row(style="margin-left:312px; padding-bottom:10px;")
		{$same_as_billing_address}			
.row.memeber-account-member-address-form
	.col-md-6
		div
			strong Billing Address:
			{$billing_address}
		div
			strong Billing Country:
			{$billing_country_id}
		div
			strong Billing State:
			{$billing_state_id}
		div
			strong Billing City:
			{$billing_city}
		div
			strong Billing Pincode:
			{$billing_pincode}
	
	.col-md-6
		div
			strong Shipping Address:
			{$shipping_address}
		div
			strong Shipping Country:
			{$shipping_country_id}
		div
			strong Shipping State:
			{$shipping_state_id}
		div
			strong Shipping City:
			{$shipping_city}
		div
			strong Shipping Pincode:
			{$shipping_pincode}
.row(style="margin-left:16px;")
		{$FormButtons}			