div(id="{$_name}" class="{$class} xepan-customize-design-preview" style="{$style}")
	.row
		{rows}
		{row}
		.col-md-6(style="text-align: center;")
			h2.head{$page_name} {$layout_name}
			img(src="{$src}")
		{/}
		{/}