div(id="{$_name}" class="{$class} xepan-customize-design-preview" style="{$style}")
	.row
		{rows}
		{row}
		.col-md-6(style="text-align: center;")
			div.design-preview-canvas(data-base64encode='{$encodejson}' data-xsnbdesignitemid="{$xsnbdesignitemid}" data-itemmemberdesignid="{$itemmemberdesignid}" data-pagename="{$pagename}" data-layoutname="{$layoutname}")
		{/}
		{/}