
<div id="{$_name}" class="{$class}" style="{$style}" {$attributes}>
  {$Content}
  {xepan_commerce_itemdetail_wrapper}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">{name_wrapper}
      <div class="xepan-commerce-itemdetail-name"><span class="h1">{$name}</span></div>{/}
    </div>
  </div>
  <div class="row xepan-commerce-itemdetail-amount xshop-item">
    <div class="col-lg-8 col-md-8 col-sm-8">{sale_price_wrapper}
      <div>Amount
        <div class="xepan-commerce-tool-item-sale-price">{$sale_price}</div>
      </div>{/}
      {original_price_wrapper}
      <div class="xepan-commerce-tool-item-original-price">{$original_price}</div>{/}
      {shipping_charge_wrapper}
      <div class="xepan-commerce-tool-item-shipping-charge">{$shipping_charge}</div>{/}
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4">{personalizedbtn_wrapper}
      <div data-xsnbitemid="{$id}" class="commerce-personalize-button-wrapper">{$personalizedbtn}</div>{/}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      {addtocart_wrapper}
      <div class="panel panel-default">
        <div class="panel-heading">Price</div>
        <div class="panel-body">
          <div data-xsnbitemid="{$id}" data-name="{$name}" class="xshop-item-custom-field-name xshop-item-addtocart">{$Addtocart}</div>
        </div>
      </div>
      {/}
      {add_to_wishlist_wrapper}
        <div class="xepan-item-detail-add-to-wish-button">
          {$add_to_wishlist}
        </div>
      {/}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="main-box clearfix">
        <div class="tabs-wrapper profile-tabs">
          <ul class="nav nav-tabs">{description_wrapper}
            <li class="active"><a data-toggle="tab" href="#tab-description">Description</a></li>{/}
            {specification_wrapper}
            <li>
              <a data-toggle="tab" href="#tab-specification">Specification  </a></li>
            {/}
            {review_wrapper}
            <li>
              <a data-toggle="tab" href="#{$_name}tab-review">Review & Rating</a></li>
            {/}
            {item_upload_wrapper}
            <li><a data-toggle="tab" href="#tab-itemupload">Item Upload  </a></li>{/}
          </ul>
          <div class="tab-content">
            <div id="tab-description" class="tab-pane fade in active">
              <div class="panel panel-default">
                <div class="panel-heading">Product Summary</div>
                <div class="panel-body">{$item_description}</div>
              </div>
            </div>
            <div id="tab-specification" class="tab-pane clearfix fade">
              <div class="panel panel-default">
                <div class="panel-heading">Specification</div>
                <div class="panel-body">{$specification}</div>
              </div>
            </div>
            {review_wrapper}
            <div id="{$_name}tab-review" class="tab-pane clearfix fade">
                {$review}
            </div>
            {/}
            <div id="tab-itemupload" class="tab-pane clearfix fade">
              <div class="panel panel-default">
                <div class="panel-heading">Upload Your Design</div>
                <div class="panel-body">{$item_upload}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>{/}
</div>