div(id='{$_name}' class="{$class}")
  {$Content}
  {xepan_commerce_itemdetail_wrapper}
  .row
    .col-lg-12.col-md-12.col-sm-12
        {name_wrapper}
        .xepan-commerce-itemdetail-name
          span(class="h1") {$name}
        {/}
  .row.xepan-commerce-itemdetail-amount.xshop-item
      .col-lg-8.col-md-8.col-sm-8
        {sale_price_wrapper}
        div Amount
          .xepan-commerce-tool-item-sale-price {$sale_price}
        {/}
        {original_price_wrapper}
        .xepan-commerce-tool-item-original-price
          {$original_price}
        {/}
        {shipping_charge_wrapper}
        .xepan-commerce-tool-item-shipping-charge
          {$shipping_charge}
        {/}
      .col-md-4.col-lg-4.col-sm-4
        {personalizedbtn_wrapper}
        div(data-xsnbitemid="{$id}" class="commerce-personalize-button-wrapper")
          {$personalizedbtn}
        {/}
  .row
    .col-lg-12.col-md-12.col-sm-12
        {addtocart_wrapper}
        div.panel.panel-default
          div.panel-heading Price
          div.panel-body
            .xshop-item-custom-field-name.xshop-item-addtocart(data-xsnbitemid="{$id}" data-name="{$name}"){$Addtocart}
        {/}
  .row
    .col-lg-12.col-md-12.col-sm-12
      .main-box.clearfix
        .tabs-wrapper.profile-tabs
          ul.nav.nav-tabs
            {description_wrapper}
            li.active
              a(data-toggle='tab', href='#tab-description') Description
            {/}
            {specification_wrapper}
            li
              a(data-toggle='tab', href='#tab-specification') Specification  
            {/}
            {item_upload_wrapper}
            li
              a(data-toggle='tab', href='#tab-itemupload') Item Upload  
            {/}
          .tab-content
             #tab-description.tab-pane.fade.in.active
                div.panel.panel-default
                  div.panel-heading Product Summary
                  div.panel-body
                    {$item_description}
             #tab-specification.tab-pane.clearfix.fade
                div.panel.panel-default
                  div.panel-heading Specification
                  div.panel-body
                    {$specification}
             #tab-itemupload.tab-pane.clearfix.fade
                div.panel.panel-default
                  div.panel-heading Upload Your Design
                  div.panel-body
                    {$item_upload}


  {/}