
<div id="{$_name}" class="{$class}">
  {$Content}
  {xepan_commerce_itemdetail_wrapper}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">{name_wrapper}
      <div class="xepan-commerce-itemdetail-name">
        <h1>{$name}</h1>
      </div>{/}
    </div>
  </div>
  <div class="row xepan-commerce-itemdetail-amount xshop-item">
    <div class="col-lg-8 col-md-8 col-sm-8">{sale_price_wrapper}
      <div>Amount
        <div class="xepan-commerce-tool-item-sale-price">{$sale_price}</div>
      </div>{/}
      {original_price_wrapper}
      <div class="xepan-commerce-tool-item-original-price">{$original_price}</div>{/}
      {shipping_charge_wrapper}
      <div class="xepan-commerce-tool-item-shipping-charge">{$shipping_charge}</div>{/}
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4">{personalizedbtn_wrapper}
      <div data-xsnbitemid="{$id}" class="commerce-personalize-button-wrapper">{$personalizedbtn}</div>{/}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <ul class="nav nav-tabs responsive-tabs">{description_wrapper}
        <li class="active"><a href="#tab-Summary" data-toggle="tab" background:color="#fffff">Product Summary</a></li>{/}
        {specification_wrapper}
        <li><a href="#tab-Specification" data-toggle="tab">Specification</a></li>{/}
        {addtocart_wrapper}
        <li><a href="#tab-Price" data-toggle="tab">Price</a></li>{/}
        {item_upload_wrapper}
        <li><a href="#tab-UploadYourDesign" data-toggle="tab">Upload Your Design</a></li>{/}
        {review_wrapper}
        <li><a href="#{$_name}tab-review" data-toggle="tab">Review & Ratings</a></li>{/}
      </ul>
      <div class="tab-content">{description_wrapper}
        <div id="tab-Summary" class="tab-pane active">
          <div class="pading">{$item_description}</div>
        </div>{/}
        {specification_wrapper}
        <div id="tab-Specification" class="tab-pane">
           
          {$specification}
        </div>{/}
        {review_wrapper}
            <div id="{$_name}tab-review" class="tab-pane">
                {$review}
            </div>
            {/}
        {addtocart_wrapper}
        <div id="tab-Price" class="tab-pane">
          <div data-xsnbitemid="{$id}" data-name="{$name}" class="xshop-item-custom-field-name xshop-item-addtocart">{$Addtocart}</div>
        </div>{/}
        {add_to_wishlist_wrapper}
        <div class="xepan-item-detail-add-to-wish-button">
          {$add_to_wishlist}
        </div>
      {/}
        {item_upload_wrapper}
        <div id="tab-UploadYourDesign" class="tab-pane">{$item_upload}</div>{/}
      </div>
    </div>{/}
  </div>
</div>