.main-box.clearfix
      .row
          {$Content}
         .col-md-6
            h2.xepan-push Item To Deliver
            {$send}
         .col-md-6
            h2.xepan-push Delived Item
            {$delivered}
        {$form}    