
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons}</div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table-responsive">
    <table class="table user-list table-hover footable toggle-circle-filled">{header}
      <thead>
         
        {cols}{col}
        <th></th>
        <th id="{$name_sortid}"><span>Name {$name_sort}</span></th>
        <th class="text-center"><span>Active</span></th>
        <th id="{$processing_sortid}"><span>Processing {$processing_sort}</span></th>
        <th data-hide="phone"> <span>Gateway Image Id</span></th>
        <th></th>
        <th></th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$selected}</td>
          <td>{$name}</td>
          <td class="text-left">{$is_active}</td>
          <td>{$processing}</td>
          <td>{$gateway_image_id}</td>
          <td style="width: 25%;">
            {$Update_data}
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>