
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="main-box">
      <header class="main-box-header clearfix text-center">
        <h1>Add New Customer</h1>
      </header>
      <div class="main-box-body clearfix">
        <div class="row">
          <div class="form-group col-xs-8">
            <div style="margin-bottom:0px;" class="panel panel-default">
              <div class="panel panel-heading panle-primary">General Information</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group atk-form-row atk-form-field">{$first_name}</div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group atk-form-row atk-form-field">{$last_name}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group atk-form-row atk-form-field">{$organization}</div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group atk-form-row atk-form-field">{$website}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group atk-form-row atk-form-field">{$customer_type}</div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group atk-form-row atk-form-field">{$gstin}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group atk-form-row atk-form-field">{$post}</div>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom:0px;" class="panel panel-default">
              <div class="panel panel-heading panle-primary">Address</div>
              <div class="panel-body">
                <div class="row">
                  <div class="form-group col-xs-6 atk-form-row atk-form-field">{$address}</div>
                  <div class="col-xs-6">
                    <div class="form-group atk-form-row atk-form-field">
                      Country 
                      {$country_id}
                    </div>
                    <div class="form-group atk-form-row atk-form-field">
                      State
                      {$state_id}    
                    </div>
                    <div class="form-group atk-form-row atk-form-field">{$city}</div>
                    <div class="form-group atk-form-row atk-form-field">{$pin_code}</div>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom:0px;" class="panel panel-default">
              <div class="panel panel-heading panle-primary">Miscellaneous Information</div>
              <div class="panel-body">
                <div class="row">
<!--                   <div class="form-group col-xs-4 atk-form-row atk-form-field">
                    Tin Number
                    {$tin_no}
                  </div> -->
                  <div class="form-group col-xs-4 atk-form-row atk-form-field">
                    Pan Number
                    {$pan_no}
                  </div>
                  <div class="form-group col-xs-4 atk-form-row atk-form-field">
                    Currency 
                    {$currency_id}
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12 atk-form-row atk-form-field">
                    Lead Note\ Remark\ Interest\ Narration
                    {$remark}
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12 atk-form-row atk-form-field">
                    Tags
                    {$tag}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <div style="margin-bottom:0px;" class="panel panel-default">
              <div class="panel panel-heading panle-primary">User Information</div>
              <div class="panel-body">        
                <div class="row">
                  <div class="form-group col-xs-12 atk-form-row atk-form-field">{$user_id}</div>
                  <div class="form-group col-xs-12 atk-form-row atk-form-field">{$password}</div>
                </div>
              </div>
            </div>
            <div style="margin-bottom:0px;" class="panel panel-default">
              <div class="panel panel-heading panle-primary">Official Email</div>
              <div class="panel-body">        
                <div class="row">
                  <div class="form-group col-xs-12 atk-form-row atk-form-field">{$email_1}</div>
                  <div class="form-group col-xs-12 atk-form-row atk-form-field">{$email_2}</div>
                </div>
              </div>
            </div>
            <div style="margin-bottom:0px;" class="panel panel-default">
              <div class="panel panel-heading panle-primary">Personal Email</div>
              <div class="panel-body">
                <div class="row">
                  <div class="form-group col-xs-12 atk-form-row atk-form-field">{$email_3}</div>
                  <div class="form-group col-xs-12 atk-form-row atk-form-field">{$email_4}</div>
                </div>
              </div>
            </div>
            <div style="margin-bottom:0px;" class="panel panel-default">
              <div class="panel panel-heading panle-primary">Official Contact</div>
              <div class="panel-body">
                <div class="row">
                  <div class="form-group col-xs-12 atk-form-row atk-form-field">{$contact_no_1}</div>
                  <div class="form-group col-xs-12 atk-form-row atk-form-field">{$contact_no_2}</div>
                </div>
              </div>
            </div>
            <div style="margin-bottom:0px;" class="panel panel-default">
              <div class="panel panel-heading panle-primary">Personal Contact</div>
              <div class="panel-body">
                <div class="row">
                  <div class="form-group col-xs-12 atk-form-row atk-form-field">{$contact_no_3}</div>
                  <div class="form-group col-xs-12 atk-form-row atk-form-field">{$contact_no_4}</div>
                </div>
              </div>
            </div>
            <div style="margin-bottom:0px;" class="panel panel-default">
              <div class="panel panel-heading panle-primary">Customer Other Info</div>
              <div class="panel-body">
                <div class="row">
                  {$Content}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 atk-form-row atk-form-field">{$want_to_add_next_customer}</div>
        </div>
      </div>{$form_buttons}
    </div>
  </div>
</div>