#user-profile
  .col-lg-3.col-md-4.col-sm-4 {$contact_view}
  .col-lg-9.col-md-8.col-sm-8
    .main-box.clearfix
      .tabs-wrapper.profile-tabs
        ul.nav.nav-tabs
          li.active
            a(data-toggle='tab', href='#tab-BasicInfo') Customer Info
          li
            a(data-toggle='tab', href='#tab-Orders') Orders
          li
            a(data-toggle='tab', href='#tab-Invoice') Invoice
          li
            a(data-toggle='tab', href='#tab-Activity') Activity
        .tab-content
          #tab-BasicInfo.tab-pane.fade.in.active
            #BasicInfo
            | {basic_info}
            .col-lg-12
              .main-box.clearfix
                header.main-box-header.clearfix
                  h1 {$organization}
                  .row
                    .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Legal Information:
                        .main-box-body.clearfix
                          .row.xepan-push
                            .col-lg-3.xepan-push
                              label  
                              strong Tin Number:
                            .col-lg-1
                            .col-lg-3
                              label  
                              strong Pan Number:
                            .col-lg-1
                            .col-lg-3
                              label  
                              strong Currency Number:
                            .col-lg-1
                          .row.xepan-push
                            .col-lg-3  
                              {$tin_no}
                            .col-lg-1
                            .col-lg-3  
                              {$pan_no}
                            .col-lg-1
                            .col-lg-3
                              {$currency}{$currency_id}
                  .row
                    .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Billing Address:
                        .main-box-body.clearfix#billing-address
                          .row.xepan-push
                            .col-lg-12
                              label  
                              strong Address:
                          .row.xepan-push
                            .col-lg-12  
                              {$billing_address}
                          .row.xepan-push  
                            .col-lg-3
                              label  
                              strong City:
                            .col-lg-3
                              label  
                              strong State:
                            .col-lg-3
                              label  
                              strong Country:
                            .col-lg-3
                              label  
                              strong Pin Code:
                          .row
                            .col-lg-3  
                              {$billing_city}
                            .col-lg-3  
                              {$billing_state}
                            .col-lg-3  
                              {$billing_country}
                            .col-lg-3 
                              {$billing_pincode}  
                  .row
                    .col-lg-12
                      .checkbox-nice
                        {$same_as_billing_address}
                  .row
                    .col-lg-12
                      .main-box#shipping_address
                        header.main-box-header.clearfix
                          h2 Shipping Address:
                        .main-box-body.clearfix 
                          .row.xepan-push
                            .col-lg-12
                              label  
                              strong Address:
                          .row.xepan-push
                            .col-lg-12  
                              {$shipping_address}
                          .row.xepan-push  
                            .col-lg-3
                              label  
                              strong City:
                            .col-lg-3
                              label  
                              strong State:
                            .col-lg-3
                              label  
                              strong Country:
                            .col-lg-3
                              label  
                              strong Pin Code:
                          .row
                            .col-lg-3  
                              {$shipping_city}
                            .col-lg-3  
                              {$shipping_state}
                            .col-lg-3  
                              {$shipping_country}
                            .col-lg-3  
                              {$shipping_pincode}
            | {/}
          #tab-Orders.tab-pane.fade
            {$orders}
          #tab-Invoice.tab-pane.clearfix.fade
            {$invoices}
          #tab-Activity.tab-pane.fade
            {$activity}