#user-profile
  .col-lg-3.col-md-4.col-sm-4 {$contact_view}
  .col-lg-9.col-md-8.col-sm-8
    .main-box.clearfix
      .tabs-wrapper.profile-tabs
        ul.nav.nav-tabs
          li.active
            a(data-toggle='tab', href='#tab-BasicInfo') Customer Info
          li
            a(data-toggle='tab', href='#tab-Orders') Orders
          li
            a(data-toggle='tab', href='#tab-Invoice') Invoice
          li
            a(data-toggle='tab', href='#tab-Activity') Activity
        .tab-content
          #tab-BasicInfo.tab-pane.fade.in.active
            #BasicInfo
            | {basic_info}
            .col-lg-12
              .main-box.clearfix
                header.main-box-header.clearfix
                  h1 {$organization}
                  .row
                    .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Legal Information:
                        .main-box-body.clearfix
                          .row.xepan-push
                            .col-lg-3.xepan-push
                              label  
                              strong Tin Number:
                            .col-lg-1
                            .col-lg-3
                              label  
                              strong Pan Number:
                            .col-lg-1
                            .col-lg-3
                              label  
                              strong Currency Number:
                            .col-lg-1
                          .row.xepan-push
                            .col-lg-3  
                              {$tin_no}
                            .col-lg-1
                            .col-lg-3  
                              {$pan_no}
                            .col-lg-1
                            .col-lg-3
                              {$currency}{$currency_id}
                  .row
                    .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Billing Address:
                        .main-box-body.clearfix
                          .row.xepan-push
                            .col-lg-12
                              label  
                              strong Address:
                          .row.xepan-push
                            .col-lg-12  
                              {$billing_address}
                          .row.xepan-push  
                            .col-lg-3
                              label  
                              strong City:
                            .col-lg-3
                              label  
                              strong State:
                            .col-lg-3
                              label  
                              strong Country:
                            .col-lg-3
                              label  
                              strong Pin Code:
                          .row
                            .col-lg-3  
                              {$billing_city}
                            .col-lg-3  
                              {$billing_state}
                            .col-lg-3  
                              {$billing_country}
                            .col-lg-3 
                              {$billing_pincode}  
                  .row
                    .col-lg-12
                      .checkbox
                        label
                          input(type='checkbox', value='yes')
                          strong Same as Billing Address
                  .row
                    .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Shipping Address:
                        .main-box-body.clearfix 
                          .row.xepan-push
                            .col-lg-12
                              label  
                              strong Address:
                          .row.xepan-push
                            .col-lg-12  
                              {$shipping_address}
                          .row.xepan-push  
                            .col-lg-3
                              label  
                              strong City:
                            .col-lg-3
                              label  
                              strong State:
                            .col-lg-3
                              label  
                              strong Country:
                            .col-lg-3
                              label  
                              strong Pin Code:
                          .row
                            .col-lg-3  
                              {$shipping_city}
                            .col-lg-3  
                              {$shipping_state}
                            .col-lg-3  
                              {$shipping_country}
                            .col-lg-3  
                              {$shipping_pincode}
            | {/}
          #tab-Orders.tab-pane.fade
            .table-responsive
              table.table
                tbody
                  table.table
                    thead
                      tr
                        th.text-left
                          a(href='#')
                            span Order Id
                        th.text-center
                          span Created
                        th
                          a.asc(href='#')
                            span Amount
                        th.text-left
                          a.desc(href='#')
                          span Last Action
                        th  
                    tbody
                      tr
                        td
                          a(href='#') 045556
                        td
                          .row
                            .col-lg-12
                              .row
                                .col-lg-6
                                  | Created Date:
                                  br
                                  | Created By:
                                  br
                                  | Invoice:
                                .col-lg-6.pull-right
                                  | 5 months ago
                                  br
                                  | Hemendra Seth
                                  br
                                  | Not Created
                        td
                          | 000000
                        td.text-center
                          span Total Items:
                          br
                          | 8
                        td(style='width: 15%;')
                          a.table-link(href='#')
                            span.fa-stack
                              i.fa.fa-square.fa-stack-2x
                              i.fa.fa-pencil.fa-stack-1x.fa-inverse
                          a.table-link.danger(href='#')
                            span.fa-stack
                              i.fa.fa-square.fa-stack-2x
                              i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                      
          #tab-Invoice.tab-pane.clearfix.fade
            .table-responsive
              table.table
                tbody
                  table.table
                    thead
                      tr
                        th.text-left
                          a(href='#')
                            span Invoice No
                        th
                          a(href='#')
                            span Amount
                        th.text-center
                          span Info
                        th.text-left
                          a.desc(href='#')
                          span Status
                        th  
                    tbody
                      tr
                        td
                          a(href='#') 045556
                        td
                          | 0000
                        td
                          .row
                            .col-lg-12
                              .row
                                .col-lg-6
                                  | Created Date:
                                  br
                                  | Submitted Date:
                                .col-lg-6.pull-right
                                  | 5 months ago
                                  br
                                  | 5 months ago
                        td
                          span.label.label-info Completed 
                        td(style='width: 15%;')
                          a.table-link(href='#')
                            span.fa-stack
                              i.fa.fa-square.fa-stack-2x
                              i.fa.fa-pencil.fa-stack-1x.fa-inverse
                          a.table-link.danger(href='#')
                            span.fa-stack
                              i.fa.fa-square.fa-stack-2x
                              i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          #tab-Activity.tab-pane.fade
            .table-responsive
              table.table
                tbody
                  tr
                    td.text-center
                      i.fa.fa-comment
                    td Approved invoice number 1001
                    td 2014/08/08 12:08
                  tr
                    td.text-center
                      i.fa.fa-truck
                    td
                      | changed order status from 
                      span.label.label-primary Pending
                      | to 
                      span.label.label-success Completed
                    td 2014/08/08 12:08
                  tr
                    td.text-center
                      i.fa.fa-check
                    td form-groupt approval for holidays 
                    td 2014/08/08 12:08
                  tr
                    td.text-center
                      i.fa.fa-users
                    td Updated password
                    td 2014/08/08 12:08
                  tr
                    td.text-center
                      i.fa.fa-truck
                    td
                      | changed order status from 
                      span.label.label-primary Pending
                      | to 
                      span.label.label-success Completed
                    td 2014/08/08 12:08