.xepan-grid.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block( style="100%")
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                span(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix.table
        table.table.user-list.table-hover(style="width:100%")
            {header}
            thead
                {cols}{col}
                th
                th(id="{$department_sortid}")
                    span department
                    span(style= "cursor:pointer; cursor: hand;"){$department_sort}
                th
                    span Custom Field
                th 
                    span Effect Stock
                th(id="{$status_sortid}") 
                    span Status
                    span(style= "cursor:pointer; cursor: hand;"){$status_sort}
                th 
                    span Values
                {/}{/}
            {/}
            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td {$selected}
                    td {$department}
                    td {$customfield_generic}
                        br
                        small(title="Display Type") ({$display_type})
                    td {$can_effect_stock}
                    td {$status}
                    td {$value}{$Values}
                    td(style="width: 15%;")
                        {$edit}
                        {$delete}
                    
                    {/}
                {/}{/}
                {not_found}
                div.row
                    .col-md-12.text-center.alert.alert-warning(role="alert")
                        span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
                {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
