
<div id="{$_name}" class="xepan-grid clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th></th>
        <th id="{$department_sortid}"><span>department</span><span style="cursor:pointer; cursor: hand;">{$department_sort}</span></th>
        <th><span>Custom Field</span></th>
        <th> <span>Effect Stock</span></th>
        <th id="{$status_sortid}"> <span>Status</span><span style="cursor:pointer; cursor: hand;">{$status_sort}</span></th>
        <th> <span>Values</span></th>{/}{/}
      </thead>{/}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$selected}</td>
          <td>{$department}</td>
          <td>{$customfield_generic}<br/><small title="Display Type">({$display_type})</small></td>
          <td>{$can_effect_stock}</td>
          <td>{$status}</td>
          <td>{$value}{$Values}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>