
<div class="row">
  <div class="col-md-3">
    <div style="height:230px;background: #43cea2;background: -webkit-linear-gradient(to left, #43cea2 , #185a9d);background: linear-gradient(to left, #43cea2 , #185a9d);" class="thumbnail"><img style="width:130px;min-height:130px;max-height:130px;margin-top:30px;border:5px solid #fff;background-clip:padding-box;border-radius:18%;" alt-text="" src="{image}http://i.dailymail.co.uk/i/pix/2015/12/01/05/2EF2F2E400000578-0-image-a-24_1448949430190.jpg{/}"/>
      <h2 style="color:white; !important; font-size:20px;" class="text-center">{$name}</h2>
    </div>{$myaccount}
    {$orderhistory}
    {$mydesign}
    {$settings}
  </div>
  <div class="col-md-9">{$sideview}</div>
</div>