h2(style=";border-bottom:2px solid #f2f2f2;padding-bottom:10px !important;font-size:25px;" class="" id="f6544eaf__ount_view_2_heading") Account Information
		.row
			span(style=";border-bottom:2px solid #f2f2f2;padding-bottom:10px !important;font-size:20px;" class="text-muted" id="f6544eaf__ount_view_2_heading") {$name}	
		.row
			span.glyphicon.glyphicon-envelope
			span(style="margin-left:4px; border-bottom:2px solid #f2f2f2;padding-bottom:10px !important;font-size:15px;" class="text-muted" id="f6544eaf__ount_view_2_heading") {$email}	
		.row
			span.glyphicon.glyphicon-earphone
			span(style="margin-left:4px; border-bottom:2px solid #f2f2f2;padding-bottom:10px !important;font-size:15px;" class="text-muted" id="f6544eaf__ount_view_2_heading") {$contact}
		.row
			panel.panel-default
				.panel-body
					span.text-center(style="!important;font-size:17px;" class="text-muted" id="f6544eaf__ount_view_2_heading"){$address}

		.row
			{$grid}
			


