{$content}
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfixs  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th><span>Image</span></th>
        <th><span>Item</span></th>
        <th><span>Unit Price</span></th>
        <th><span>Qty</span></th>
        <th><span>Tax</span></th>
        <th><span>Total</span></th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td><img alt="" src="img/samples/ipad.png"/></td>
          <td><a class="user-subhead">Code : </a><span>{item_id}qa-5544{/}</span>
            <div>{$name}</div><a href="#"> Edit </a>
            <div>Lamination Type : {type}Matt{/}</div>
          </td>
          <td>{unit_price}150{/}</td>
          <td>{qty}10{/}</td>
          <td>
             
            {tax_percantage}14{/}
          </td>
          <td>
             
            {amount_excluding_tax}amt_excluding_tax_here{/}
          </td>{/}
        </tr>{/}{/}
      </tbody>
    </table>
    <div class="row">
      <div class="row xepan-push-large">
        <div class="col-md-4 pull-right"><strong>Apply Coupan Code: </strong>
          <div class="xepan-push">
            <div class="col-md-8 text-center">Enter Promo Code</div>
            <div class="col-md-4 btn btn-primary pull-right">PlaceOrder</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 pull-right">
          <div class="xepan-push"><strong>Total: <span class="pull-right">₹ {amount_excluding_tax}amt_excluding_tax_here{/}</span></strong></div>
          <div class="xepan-push"><strong>Shipping Cost: <span class="pull-right">₹ {Shipping_charge}Shipping_charge{/}</span></strong></div>
          <div class="xepan-push-large"><strong>Sale Tax: <span class="pull-right">₹ {tax_amount}tax_amount{/}</span></strong></div>
        </div>
      </div>
      <div class="row xepan-push-large">
        <div class="col-md-4 pull-right"><strong>Estimated Total Amount: <span class="pull-right">₹ {total_amount}total_amount{/}</span></strong>
          <div class="xepan-push-large">
            <div class="col-md-9">
              <div class="btn btn-primary pull-right">PlaceOrder</div>
            </div>
          </div>
        </div>
      </div>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </div>{$Paginator}
  </div>
</div>