{$content}
<div id="{$_name}" class="xepan-commerce-tool-cart xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">
  {Pannel}
  {$grid_buttons} 
  {/Pannel}
  {lister}
  {$total_count}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th><span>Image</span></th>
        <th><span>Item</span></th>
        <th><span>Unit Price</span></th>
        <th><span>Qty</span></th>
        <th><span>Tax</span></th>
        <th><span>Total</span></th>
        <th></th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even} xepan-commerce-tool-cart-item-row">{cols}
          <td><img alt="" src="{$image_url}"/></td>
          <td><a class="user-subhead">Code : </a><span>{item_id}{/}</span>
            <div>{$name}</div><a href="#"> Edit </a>{custom_fields_wrapper}
            {custom_field}
            <div>{$id}: {$name}</div>{/}{/}
          </td>
          <td>{unit_price}{/}</td>
          <td>
            {qty_wrapper}
            {qty_form}
            {$qty}
            {/}{/}
          </td>
          <td>
             
            {tax_percentage}undefined{/}
          </td>
          <td>
             
            {amount_excluding_tax}amt_excluding_tax_here{/}
          </td>
          <td>
            <button data-cartid="{$id}" class="btn btn-xs btn-danger pull-right xepan-commerce-cart-item-delete">x</button>
          </td>{/}
        </tr>{/}{/}
      </tbody>
    </table>{/lister}
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div>Gross Amount = {$gross_amount}</div>
        <div>Total Tax Amount = {$total_tax_amount}</div>
        <div>Discount Amount = {$discount_amount}</div>
        <div>New Amount = {$net_amount}</div>
        <div>Shipping Amount = {$total_shipping_amount}</div>
      </div>
    </div>
  </div>
</div>