{$content}
.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    {$grid_buttons} 
    {/Pannel}
    {lister}
    .main-box-body.clearfix.table
        table.table.user-list.table-hover(style="width:100%")
            {header}
            thead
                {cols}{col}
                th
                  span Image
                th
                  span Item
                th
                  span Unit Price
                th
                  span Qty
                th
                  span Tax
                th
                  span Total
                {/}{/}
            {/}
            {$subheader}

            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td
                        img(alt='', src='img/samples/ipad.png')
                    td
                        a.user-subhead Code : 
                        span {item_id}qa-5544{/}
                        div {$name}
                        a(href='#')  Edit 
                        div Lamination Type : {type}Matt{/}
                    td
                        {unit_price}150{/}
                    td
                        {qty}10{/}
                    td 
                        {tax_percentage}14{/}
                    td 
                        {amount_excluding_tax}amt_excluding_tax_here{/}
                    {/}
                {/}{/}
        {/lister}
        .row
            .row.xepan-push-large
                .col-md-4.pull-right
                    strong Apply Coupan Code: 
                    .xepan-push
                        .col-md-8.text-center Enter Promo Code
                        .col-md-4.btn.btn-primary.pull-right PlaceOrder
            .row
                .col-md-4.pull-right
                    .xepan-push
                        strong Total: 
                         span.pull-right ₹ {sum_amount_excluding_tax}amt_excluding_tax_here{/}
                    .xepan-push
                        strong Shipping Cost: 
                         span.pull-right ₹ {$shipping_charge}
                    .xepan-push-large
                        strong Sale Tax: 
                         span.pull-right ₹ {tax_amount}tax_amount{/}
            .row.xepan-push-large
                .col-md-4.pull-right
                    strong Estimated Total Amount: 
                          span.pull-right ₹ {total_amount}total_amount{/}
                    .xepan-push-large
                        .col-md-9
                           .btn.btn-primary.pull-right PlaceOrder

        

            {totals}

            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
