{$Content}
<div id="{$_name}" style="{$style}" class="{$class}">
  <div class="col-md-12">{image_wrapper}
    <div class="category-image"><img src="{$cat_image}" alt=""/></div>{/}
    <div class="category-information">
      <h1>{$name}</h1>{description_wrapper}  
      <p>{$category_description}</p>{/}  
    </div>
    <div class="row"></div>{counts}
    Minimum-price: {$min_price}
    <div class="row"></div>Maximum-price: {$max_price}
    <div class="row"></div>Item-count: {$item_count}
    {/}
  </div>
</div>