div(id='{$_name}')
  | {category_list}
  ul
    | {rows}{row}
    li(data-id='{$id}')
      div
        a(href="") {$name}
                   {$nested_category}
    |         {/}{/}
  |     {/category_list}
