<div id="{$_name}" class=""><!--class=" cf nestable-lists" -->
    {$header}
    {nested_category}
    <ol class="">
        {rows}{row}
        <li class="">
            <div class="" >
            {$category}
            </div>
            <span class="text-{$color} text-muted">{$sub_category}</span>
        </li>
        {/}{/}
    </ol>
    {/nested_category}
</div>