
div( id="{$_name}" class="{$class} xepan-category-detail" style="{$style}")
  {$Content}
  {root_wrapper}
  .row
    {image_wrapper}
    .col-md-4.col-sm-12.col-lg-4.col-xs-12
      .category-image
        img(src='{$cat_image}', alt='')
    {/}
    .col-md-8.col-sm-12.col-lg-8.col-xs-12
      .category-information
        {name_wrapper}
        h1 
          a(href="{$url}") {$name}
        {/}
        {description_wrapper}
        p {$category_description}
        {/}
        p Products in this Category: {$counts}
        {price_wrapper}
        .row
          .col-md-6.col-sm-12.col-lg-6.col-xs-12
            p Minimum-price: {$min_price}
          .col-md-6.col-sm-12.col-lg-6.col-xs-12
            p Maximum-price: {$max_price}
        {/}
        div
          {item_count_wrapper} Item-count: {$website_display_item_count}{/}
    {/}