
<div class="main-box clearfix">
  <section id="email_setting_wizard" class="wizard multiple-template section-padding color-light-white">
    <div style="padding:1em" class="wizard-inner">
      <ul style="margin-left: 0" class="steps">
        <li data-target="#step1" class="active"><span>
            <div class="badge badge-primary">1 </div>Amount<span class="chevron"></span></span></li>
        <li data-target="#step2"><span>
            <div class="badge badge-primary">2 </div>Address<span class="chevron"></span></span></li>
        <li data-target="#step3"><span>
            <div class="badge badge-primary">3</div>Payment Gateway Selected<span class="chevron"></span></span></li>
        <li data-target="#step4"><span>
            <div class="badge badge-primary">4</div>Processed<span class="chevron"></span></span></li>
      </ul>
    </div>
    <div class="actions">
      <button type="button" class="btn btn-primary btn-mini btn-prev"><i class="icon-arrow-left">Prev</i></button>
      <button type="button" class="btn btn-success btn-mini btn-next"><i class="icon-arrow-right"> Next</i></button>
    </div>
  </section>
</div>
<div class="step-content container">
  <div id="step1" class="step-pane">
    <div class="main-title font-color-s-light xepan-edittext">Amount</div>
    <div style="margin:auto!important" class="row xepan-push">
      <div class="xepan-push-large">
        <form name="add-estimation" method="post">
          <div class="col-lg-3 xepan-push"><strong>TOTAL:
              <div class="row">
                <input type="text" placeholder="TOTAL" value="" data-shortname="name" name="" data-initvalue=""/>
              </div></strong></div>
          <div class="col-lg-3 xepan-push"><strong>Discount Voucher:
              <div class="row">
                <input type="text" placeholder="Discount Voucher" value="" data-shortname="name" name="" data-initvalue=""/>
              </div></strong></div>
          <div class="col-lg-3 xepan-push"><strong>Discount Amount:
              <div class="row">
                <input type="text" placeholder="Discount Amount" value="" data-shortname="name" name="" data-initvalue=""/>
              </div></strong></div>
          <div class="col-lg-3 xepan-push"><strong>Net Amount:
              <div class="row">
                <input type="text" placeholder="Net Amount" value="" data-shortname="name" name="" data-initvalue=""/>
              </div></strong></div>
        </form>
        <div class="row xepan-push-large">
          <div class="col-lg-10"></div>
          <div class="col-lg-2 pull-right">
            <div class="btn btn-success">Next</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="step-content container">
  <div id="step2" class="step-pane">
    <div class="main-title font-color-s-light xepan-edittext">Address</div>
    <div style="margin:auto!important" class="row xepan-push">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
          <div class="xepan-push-large">
            <form name="add-estimation" method="post">
              <div class="xepan-push"><strong>Billing Address:</strong>
                <div class="row"></div>
                <input type="text" placeholder="Address" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Billing Landmark:</strong>
                <div class="row"></div>
                <input type="text" placeholder="Landmark" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Billing City:</strong>
                <div class="row"></div>
                <input type="text" placeholder="City" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Billing State:</strong>
                <div class="row"></div>
                <input type="text" placeholder="State" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Billing Country:</strong>
                <div class="row"></div>
                <input type="text" placeholder="Country" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Billing Pincode:</strong>
                <div class="row"></div>
                <input type="text" placeholder="Pincode" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Billing Tel:</strong>
                <div class="row"></div>
                <input type="text" placeholder="Contact no." value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Billing E-mail:</strong>
                <div class="row"></div>
                <input type="text" placeholder="E-mail" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="xepan-push-large">
            <form name="add-estimation" method="post">
              <div class="xepan-push"><strong>Shipping Address:</strong>
                <div class="row"></div>
                <input type="text" placeholder="Address" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Shipping Landmark:</strong>
                <div class="row"></div>
                <input type="text" placeholder="Landmark" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Shipping City:</strong>
                <div class="row"></div>
                <input type="text" placeholder="City" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Shipping State:</strong>
                <div class="row"></div>
                <input type="text" placeholder="State" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Shipping Country:</strong>
                <div class="row"></div>
                <input type="text" placeholder="Country" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Shipping Pincode:</strong>
                <div class="row"></div>
                <input type="text" placeholder="Pincode" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Shipping Tel:</strong>
                <div class="row"></div>
                <input type="text" placeholder="Contact no." value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
              <div class="xepan-push"><strong>Shipping E-mail:</strong>
                <div class="row"></div>
                <input type="text" placeholder="E-mail" value="" data-shortname="name" name="" data-initvalue=""/>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row xepan-push-large text-center">
        <div class="btn btn-warning">Copy Address </div>
      </div>
      <div class="actions">
        <div class="col-lg-10">
          <input type="checkbox" value="1"/><a>I have Read All trems & Conditions</a>
        </div>
        <div class="col-lg-2 pull-right">
          <button type="button" class="btn btn-primary btn-mini btn-prev"><i class="icon-arrow-left">Prev</i></button>
          <button type="button" data-last="Save" class="btn btn-success btn-mini btn-next">Next<i class="icon-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="step-content container">
  <div id="step3" class="step-pane">
    <div class="main-title font-color-s-light xepan-edittext">Payment Gateway Selected</div>
    <div style="margin:auto!important" class="row xepan-push">
      <div class="row">
        <form name="add-estimation" method="post">
          <div class="actions xepan-push">
            <input type="radio" value="7"/>
            <label for="#">CCAvenue</label><img style="width:100%;" src="#"/>
          </div>
        </form>
      </div>
      <div class="xepan-push-large"></div>
      <div class="actions"></div>
      <div class="col-lg-10"></div>
      <div class="col-lg-2 pull-right">
        <button type="button" class="btn btn-primary btn-mini btn-prev"><i class="icon-arrow-left">Prev</i></button>
        <button type="button" data-last="Save" class="btn btn-success btn-mini btn-next">Next<i class="icon-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="step-content container">
  <div id="step2" class="step-pane">
    <div class="main-title font-color-s-light xepan-edittext">Processed</div>
    <div style="margin:auto!important" class="row xepan-push">
      <div class="xepan-push-large">
        <div class="row">
          <div class="col-md-12 text-center"><i class="fa fa-check-circle fa-fw fa-lg"></i>
            <div role="" class="alert alert-success">Congratulation Payment Successfully Done...!</div>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="col-lg-10"></div>
        <div class="col-lg-2 pull-right">
          <button type="button" class="btn btn-primary btn-mini btn-prev"><i class="icon-arrow-left">Prev</i></button>
          <button class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>