div(id="{$_name}" class=" {$class} xepan-item-designer-wizard" style="{$style}")
	.row
		.col-md-6
		.col-md-6
	.row
		.col-md-3.step1(class="{$step1_class}")
			|Step 1 Customize Your Design
		.col-md-3.step2(class="{$step2_class}") Step 2 ( Verify )
		.col-md-3.step3(class="{$step3_class}") Step 3 ( Select Designing Options )
		.col-md-3.button-section
			{previous_button}
			button(disabled="disabled").xepan-designer-previous-step-button.atk-button.dimmed Previous
			{/}
			.pull-right
				{next_button}Finish{/}
	.xepan-designer-tool.xepan-padding
		{$designer_tool}
	
	{$Content}