div(id="{$_name}" class=" {$class} xepan-item-designer-wizard" style="{$style}")
	.row.colmargin
		.col-md-3.colmargin.step1(class="{$step1_class}")
			|Step 1 Customize Your Design
		.col-md-3.colmargin.step2(class="{$step2_class}") Step 2 Verify
		.col-md-3.colmargin.step3(class="{$step3_class}") Step 3 Select Designing Options
		.col-md-3.colmargin.button-section
			{previous_button}
			button(disabled="disabled").xepan-designer-step-button-dimmed.atk-button.xepan-designer-previous-step-button Previous
			{/}
			.pull-right
				.next
					{next_button}
					button(disabled="disabled").xepan-designer-step-button-dimmed.atk-button.finish Finish
					{/}
	{designer_tool_wrapper}
	.xepan-designer-tool.xepan-padding
		{$designer_tool}
	{/}
	
	{design_preview_wrapper}
	h1.xshop-designer-item-name
		{$name}
	.xepan-design-approved-form(style="text-align:center;")
		{$check_and_approved_design}
	{$design_preview}
	{/}

	{add_to_cart_wrapper}
	h1.xshop-designer-item-name
		{$name}
	.xepan-designer-price-addtocart-section.crt
		{$add_to_cart}
	{/}

	{$Content}