
<div id="{$_name}" style="{$style}" class=" {$class} xepan-item-designer-wizard">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-md-3 step1 {$step1_class}">Step 1 Customize Your Design</div>
    <div class="col-md-3 step2 {$step2_class}">Step 2 ( Verify )</div>
    <div class="col-md-3 step3 {$step3_class}">Step 3 ( Select Designing Options )</div>
    <div class="col-md-3 button-section">{previous_button}
      <button disabled="disabled" class="xepan-designer-previous-step-button atk-button dimmed">Previous</button>{/}
      <div class="pull-right">{next_button}Finish{/}</div>
    </div>
  </div>
  <div class="xepan-designer-tool xepan-padding">{$designer_tool}</div>{$Content}
</div>