
<div id="{$_name}" style="{$style}" class=" {$class} xepan-item-designer-wizard">
  <div class="row colmargin">
    <div class="col-md-3 colmargin step1 {$step1_class}">Step 1 Customize Your Design</div>
    <div class="col-md-3 colmargin step2 {$step2_class}">Step 2 Verify</div>
    <div class="col-md-3 colmargin step3 {$step3_class}">Step 3 Select Designing Options</div>
    <div class="col-md-3 colmargin button-section">{previous_button}
      <button disabled="disabled" class="xepan-designer-step-button-dimmed atk-button xepan-designer-previous-step-button">Previous</button>{/}
      <div class="pull-right">
        <div class="next">{next_button}
          <button disabled="disabled" class="xepan-designer-step-button-dimmed atk-button finish">Finish</button>{/}
        </div>
      </div>
    </div>
  </div>{designer_tool_wrapper}
  <div class="xepan-designer-tool xepan-padding">{$designer_tool}</div>{/}
  {design_preview_wrapper}
  <h1 class="xshop-designer-item-name">{$name}</h1>
  <div style="text-align:center;" class="xepan-design-approved-form">{$check_and_approved_design}</div>{$design_preview}
  {/}
  {add_to_cart_wrapper}
  <h1 class="xshop-designer-item-name">{$name}</h1>
  <div class="xepan-designer-price-addtocart-section crt">{$add_to_cart}</div>{/}
  {$Content}
</div>