div(id="{$_name}" class=" {$class} " style="{$style}")
	.row
		.col-md-4.btn.btn-info Step 1 ( Customize Your Design )
		.col-md-4.btn.btn-success Step 2 ( Verify )
		.col-md-4.btn.btn-warning Step 3 ( Select Designing Options )
	
	{$step1_next_button}
	{$designer_tool}

	{$Content}