div(id='{$_name}')
.row.xshop-item
  .col-lg-12.col-md-12.col-sm-12
    .panel
      {name_wrapper}
      .xhop-itemdetail-name
        h1 {$name}
      {/}
      .xepan-push
.row
  .col-lg-12.col-md-12.col-sm-12
    table.table.user-list.table-hover(style="width:100%")
      tbody
        tr
          td
            .xshop-item-name-header Amount
          td.text-left
            .xshop-item-price.xepan-commerce-tool-item-sale-price
              {sale_price_wrapper}{$sale_price}{/}
          td
            .xshop-item-old-price.xepan-commerce-tool-item-original-price
              {original_price_wrapper}{$original_price}{/}
          td
            {personalized_wrapper}
            .xshop-item-personalize(data-xsnbitemid="{$id}"){personalized_button}{/}
            {/}
  .row
    .col-lg-12.col-md-12.col-sm-12
      .panel
        ul.nav.nav-tabs
          {description_wrapper}
          li.active
            a(href='#tab-Summary', data-toggle='tab' , background:color="#fffff") Product Summary
          {/}
          {specification_wrapper}
          li
            a(href='#tab-Specification', data-toggle='tab') Specification
          {/}
          {addtocart_wrapper}
          li
            a(href='#tab-Price', data-toggle='tab') Price
          {/}
          {item_upload_wrapper}
          li
            a(href='#tab-UploadYourDesign', data-toggle='tab') Upload Your Design
          {/}
        .tab-content
          {description_wrapper}
          #tab-Summary.tab-pane.fade.in.active
            .panel
              .panel-body
                .row
                  .col-12
                    .xepan-push-large 
                    {$item_description}
          {/}
          {specification_wrapper}
          #tab-Specification.tab-pane.fade 
            {specification} {/}
          {/}
          {addtocart_wrapper}
          #tab-Price.tab-pane.fade
            .panel
              .panel-body
                .row.xepan-push
                  .col-lg-8
                    .xshop-item-custom-field-name.xshop-item-addtocart(data-xsnbitemid="{$id}" data-name="{$name}"){$Addtocart}
          {/}
          {item_upload_wrapper}
          #tab-UploadYourDesign.tab-pane.fade
            {$item_upload}
          {/}