
<div class="our-freelancer-content">
  <div class="row">{rows}{row}
    <div class="col-md-4 portfolio-item">
      <div class="portfolio-item-div"><a href="#"><img src="{$profile_image}" alt="" class="img-responsive"/></a></div>
      <h3><a href="#">{name}Project Name{/}</a></h3>
      <div class="job-position">&nbsp; {post}Actress{/}</div>
      <ul class="contact-details">
        <li><i class="fa fa-map-marker"></i>&nbsp;{country}|New York{/}</li>{email_wrapper}
        <li><i class="fa fa-envelope"></i> &nbsp;{emails_str}angelina@jolie.com{/}</li>{/email_wrapper}
        {contact_wrapper}
        <li><i class="fa fa-phone"></i> &nbsp;{contacts_str}(329) 239-3342{/}</li>{/contact_wrapper}
      </ul>
      <div class="row freelancer-item-spec">
        <div class="col-md-6">{design_wrapper}<a href="{$page_url}"><span>Design</span><span>&nbsp;</span><span class="value">{design_count}783{/}</span></a>{/design_wrapper}</div>
        <div class="col-md-6">{sales_wrapper}<a href="#"><span>Sales Design</span><span>&nbsp;</span><span class="value">{sales_design}912{/}</span></a>{/sales_wrapper}		</div>
      </div>
    </div>{/row}{/rows}
  </div>
</div>