
<div class="col-lg-9 col-md-8 col-sm-8">
  <div class="main-box clearfix">
    <div class="tabs-wrapper profile-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-newsfeed">Detail
            <div class="tab-content"></div></a></li>
        <div id="tab-newsfeed" class="tab-pane active">
          <div id="newsfeed">
            <div class="col-lg-12">
              <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                  <h2>Detail</h2>
                </header>
              </div>
              <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                  <h2>{$name}</h2>
                </header>
                <div class="main-box-body clearfix">
                  <div class="row">
                    <div class="col-sm-3">
                      <label> </label><strong>Name:</strong>
                    </div>
                    <div class="col-lg-3">{$name}</div>
                    <div class="col-sm-3">
                      <label> </label><strong>Code:</strong>
                    </div>
                    <div class="col-lg-3"> {sku_wrapper}{$sku}{/}</div>
                    <div class="col-sm-3">
                      <label> </label><strong>Created At:</strong>
                    </div>
                    <div class="col-lg-3"> {created_at_wrapper}{$created_at}{/}2-09-13</div>
                  </div>
                  <div class="xepan-push"></div>
                  <div class="row">
                    <div class="col-lg-3">
                      <label></label><strong>Display Sequence:</strong>
                    </div>
                    <div class="col-lg-3">{display_sequence_wrapper}{$display_sequence}{/}</div>
                    <div class="col-lg-3">
                      <label> </label><strong>Expiry Date</strong>
                    </div>
                    <div class="col-lg-3">{expiry_date_wrapper}{$expiry_date}{/}</div>
                  </div>
                  <div class="xepan-push"></div>
                  <div class="row">
                    <div class="col-lg-3">
                      <label> </label><strong>Description:</strong>
                    </div>
                    <div class="col-lg-9">
                      <p>hello{description_wrapper}{$description}{/}</p>
                    </div>
                    <div class="col-lg-9">
                      <label></label><strong></strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="main-box">
                    <header class="main-box-header clearfix">
                      <h2>Price</h2>
                    </header>
                    <div class="main-box-body clearfix">
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="checkbox-nice"><i class="fa fa-check-circle status-green"> {sale_price_wrapper}{$sale_price}{/}</i></div>
                        </div>
                        <div class="col-lg-4">
                          <div class="checkbox-nice"><i class="fa fa-check-circle status-green">Stock Availability {stock_availability_wrapper}{$stock_availability}{/}</i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="main-box">
                    <header class="main-box-header clearfix">
                      <h2>Order Quantity</h2>
                    </header>
                    <div class="main-box-body clearfix">
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="checkbox-nice"><i class="fa fa-check-circle status-green"> Min:{minimum_order_qty_wrapper}{$minimum_order_qty}{/}</i></div>
                        </div>
                        <div class="col-lg-4">
                          <div class="checkbox-nice"><i class="fa fa-check-circle status-green">Max: {maximum_order_qty_wrapper}{$maximum_order_qty}{/}</i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="main-box">
                    <header class="main-box-header clearfix">
                      <h2>Order Quantity</h2>
                    </header>
                    <div class="main-box-body clearfix">
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="checkbox-nice"><i class="fa fa-check-circle status-green"> Warranty Days:{warranty_days_wrapper}{$warranty_days}{/}</i></div>
                        </div>
                        <div class="col-lg-4">
                          <div class="checkbox-nice"><i class="fa fa-check-circle status-green">Show Price:{show_price_wrapper}{$show_price}{/}</i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="main-box">
                    <header class="main-box-header clearfix">
                      <h2>Maintain Inventory</h2>
                    </header>
                    <div class="main-box-body clearfix">
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="checkbox-nice"><i class="fa fa-check-circle status-green">
                               Inventory: 
                              {maintain_inventory_wrapper}{$maintain_inventory}{/}</i></div>
                        </div>
                        <div class="col-lg-3">
                          <div class="checkbox-nice"><i class="fa fa-times-circle status-red"> Negative Stock:{allow_negative_stock_wrapper}{$allow_negative_stock}{/}</i></div>
                        </div>
                        <div class="col-lg-3">
                          <div class="checkbox-nice"><i class="fa fa-times-circle status-red"> Negative Quantity:{negative_qty_allowed_wrpper}{$negative_qty_allowed}{/}0 </i></div>
                        </div>
                        <div class="col-lg-3">
                          <div class="checkbox-nice"><i class="fa fa-times-circle status-red"> Visible Sold:{is_visible_sold_wrapper}{$is_visible_sold}{/}</i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="main-box">
                <header class="main-box-header clearfix">
                  <h2>Maintain Inventory</h2>
                </header>
                <div class="main-box-body clearfix">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="checkbox-nice"><i class="fa fa-check-circle status-green">
                          Servicable:
                          {is_servicable_wrapper}{$is_servicable}{/}</i></div>
                    </div>
                    <div class="col-lg-3">
                      <div class="checkbox-nice"><i class="fa fa-times-circle status-red"> Productionable:{is_productionable_wrapper}{$is_productionable}{/}</i></div>
                    </div>
                    <div class="col-lg-3">
                      <div class="checkbox-nice"><i class="fa fa-times-circle status-red">Display Website:{website_display_wrapper}{$website_display}{/}</i></div>
                    </div>
                    <div class="col-lg-3">
                      <div class="checkbox-nice"><i class="fa fa-times-circle status-red"> Downloadable:{is_downloadable_wrapper}{$is_downloadable}{/}</i></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="main-box">
                <header class="main-box-header clearfix">
                  <h2>Item Type</h2>
                </header>
                <div class="main-box-body clearfix">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="checkbox-nice"><i class="fa fa-check-circle status-green">
                           is_saleable 
                          {is_saleable_wrapper}{$is_saleable}{/}</i></div>
                    </div>
                    <div class="col-lg-3">
                      <div class="checkbox-nice"><i class="fa fa-times-circle status-red"> is_purchasable :{is_purchasable_wrapper}{$is_purchasable}{/}</i></div>
                    </div>
                    <div class="col-lg-3">
                      <div class="checkbox-nice"><i class="fa fa-times-circle status-red"> is_productionable :{qty_from_set_only_wrapper}{$qty_from_set_only}{/}</i></div>
                    </div>
                    <div class="col-lg-3">
                      <div class="checkbox-nice"><i class="fa fa-times-circle status-red"> Designable:</i>{is_designable_wrapper}{$is_designable}{/}</div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success pull-right">Print</button>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>