
<div id="{$_name}">
  <h1>{$name}</h1>{sku_wrapper}{$sku}{/}
  {original_price_wrapper}
  {$original_price}
  {/}
  {created_at_wrapper}{$created_at}{/}
  {display_sequence_wrapper}{$display_sequence}{/}
  {description_wrapper}{$description}{/}
  {sale_price_wrapper}{$sale_price}{/}
  {expiry_date_wrapper}{$expiry_date}{/}{stock_availability_wrapper}{$stock_availability}{/}
  {minimum_order_qty_wrapper}{$minimum_order_qty}{/}
  {maximum_order_qty_wrapper}{$maximum_order_qty}{/}
  {maximum_order_qty_wrapper}{$qty_unit}{/}{qty_from_set_only_wrapper}{$qty_from_set_only}{/}
  {is_party_publish_wrapper}{$is_party_publish}{/}
  {is_saleable_wrapper}{$is_saleable}{/}
  {is_allowuploadablewrapper}{$is_allowuploadable}{/}
  {is_purchasable_wrapper}{$is_purchasable}{/}{maintain_inventory_wrapper}{$maintain_inventory}{/}
  {allow_negative_stock_wrapper}{$allow_negative_stock}{/}
  {negative_qty_allowed_wrpper}{$negative_qty_allowed}{/}
  {is_visible_sold_wrapper}{$is_visible_sold}{/}
  {is_servicable_wrapper}{$is_servicable}{/}
  {is_productionable_wrapper}{$is_productionable}{/}
  {website_display_wrapper}{$website_display}{/}
  {is_downloadable_wrapper}{$is_downloadable}{/}
  {is_rentable_wrapper}{$is_rentable}{/}
  {is_designable_wrapper}{$is_designable}{/}
  {is_template_wrapper}{$is_template}{/}
  {is_attachment_allow}{$is_attachment_allow}{/}
  {warranty_days_wrapper}{$warranty_days}{/}
  {show_detail_wrapper}{$show_detail}{/}
  {show_price_wrapper}{$show_price}{/}
  {is_new_wrapper}{$is_new}{/}
  {is_feature_wrapper}{$is_feature}{/}
  {is_mostviewed_wrapper}{$is_mostviewed}{/}
  {is_enquiry_allow_wrapper}{$is_enquiry_allow}{/}
  {enquiry_send_to_admin_wrapper}{$enquiry_send_to_admin}{/}
  {item_enquiry_auto_reply_wrapper}{$item_enquiry_auto_reply}{/}
  {is_comment_allow_wrapper}{$is_comment_allow}{/}
  {comment_api_wrapper}{$comment_api}{/}
  {add_custom_button_wrapper}{$add_custom_button}{/}
  {custom_button_label_wrapper}{$custom_button_label}{/}
  {custom_button_url_wrapper}{$custom_button_url}{/}
  {watermark_text_wrapper}{$watermark_text}{/}
  {watermark_position_wrapper}{$watermark_position}{/}
  {watermark_opacity_wrapper}{$watermark_opacity}{/}
  {meta_title_wrapper}{$meta_title}{/}
  {meta_description_wrapper}{$meta_description}{/}
  {tags_wrapper}{$tags}{/}
  {designs_wrapper}{$designs}{/}
  {terms_and_conditions_wrapper}{$terms_and_conditions}{/}
  {duplicate_from_item_id_wrapper}{$duplicate_from_item_id}{/}
</div>