{rows}{row}
<div class="col-lg-4 col-md-5 col-sm-6">
  <div class="main-box clearfix profile-box-menu">
    <div class="main-box-body clearfix">
      <div style="background-image: url({title_image}img/samples/nature.jpg{/});" class="profile-box-header">
        <div class="xepan-push-large"></div>
        <h2>{name_wrapper}{$name} Item Name {/}</h2>
        <div class="job-position">{sku_wrapper} {$sku} {/}</div>
        <div class="xepan-push"></div>
        <div class="btn btn-primary">Personalize</div>
      </div>
      <div class="profile-box-content clearfix">
        <ul class="menu-items">
          <li><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Sales Price <span class="label label-danger label-button pull-right">{sale_price_wrapper} {$sale_price} {/}</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Original Price <span class="label label-success label-button pull-right">{original_price_wrapper} {$original_price} {/}</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Custom Field  <span class="label label-danger label-button pull-right">{customfieldtype_wrapper} {$customfield_type} {/}</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i>Quantity <span class="label label-danger label-button pull-right">{qty_unit_wrapper} {$qty_unit} {/} </span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Stock Avaibility<span class="label label-danger label-button pull-right">{stock_availability_wrapper} {$stock_availability} {/}</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Item Enquiry<span class="label label-danger label-button pull-right">{is_enquiry_allow_wrapper} {$is_enquiry_allow} {/}</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Latest<span class="label label-danger label-button pull-right">{is_new_wrapper} {$is_new} {/}</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Featured<span class="label label-danger label-button pull-right">{is_feature_wrapper} {$is_feature} {/}</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Most Viewed<span class="label label-danger label-button pull-right">{is_mostviewed_wrapper} {$is_mostviewed} {/}</span></a></li>
          <li class="xepan-push"><a href="#" class="clearfix"><i class="fa fa-edit fa-lg"></i> Specification<span class="label label-warning label-button pull-right">{tags_wrapper} {$tags} {/}</span></a></li>
          <li class="xepan-push"><a href="#" class="clearfix"><i class="fa fa-edit fa-lg"></i> Reviews         <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span></a></li>
          <li class="xepan-push"><a href="#" class="clearfix">
              <div class="col-lg-3"></div>
              <div class="xepan-push">
                <div class="btn btn-primary"><i class="fa fa-shopping-cart fa-lg"> </i>Add To Cart</div>
              </div></a></li>
        </ul>
      </div>
      <div class="profile-box-content clearfix">
        <hr/>
        <div class="col-lg-1"></div>
        <div class="text-muted">Description:</div>
        <div class="col-lg-1"></div>
        <p class="text-muted">{description_wrapper} {$description} {/}</p>
      </div>
    </div>
  </div>
</div>{/}{/}