{rows}{row}
<div class="col-lg-4 col-md-5 col-sm-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-sm-6">
        <div class="panel-header"><img src="{title_image}{/}" alt="x" width="425" height="200" class="img-responsive"/></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-6">
              <h2>{name_wrapper}{$name} Item Name {/}  </h2>{sku_wrapper} {$sku} {/}
            </div>
            <div class="col-lg-4 col-md-2 col-sm-6">
              <div class="btn btn-primary">Personalize</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <ul class="list-group">
          <li class="list-group-item xepan-push"><a href="#">
              <div class="col-lg-3"></div>
              <div class="xepan-push">
                <div class="btn btn-primary"><i class="fa fa-shopping-cart fa-lg"> </i>Add To Cart</div>
              </div></a></li>
          <li class="list-group-item xepan-push">{description_wrapper}
            <div class="col-lg-1"></div>
            <div class="text-muted">Description:</div>
            <div class="col-lg-1"></div>
            <p class="text-muted"> {$description}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-6"></div>
<div class="col-lg-5 col-md-5 col-sm-6">
  <div class="container">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <ul class="list-group">{sale_price_wrapper}
            <li class="list-group-item"> Sales Price <span class="pull-right">{$sale_price}</span></li>{/}
            {original_price_wrapper}
            <li class="list-group-item"> Original Price <span class="pull-right">{$original_price} </span></li>{/}
            {customfieldtype_wrapper}
            <li class="list-group-item"> Custom Field  <span class="pull-right"> {$customfield_type} </span></li>{/}{stock_availability_wrapper}
            <li class="list-group-item"> Stock Avaibility<span class="pull-right"> {$stock_availability} </span></li>{/}
            {is_enquiry_allow_wrapper}
            <li class="list-group-item"> Item Enquiry<span class="pull-right"> {$is_enquiry_allow} </span></li>{/}
            <div class="xepan-push"></div>{tags_wrapper}
            <li class="list-group-item"> Specification<span class="pull-right"> {$tags} </span></li>{/}
            <li class="list-group-item xepan-push"> Reviews         <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>{/}{/}