.col-lg-9.col-md-8.col-sm-8
  .container
    .row
          .col-lg-12
            .container
              .panel-header
                a Detail
              .panel-body
                .row
                  .col-sm-3
                    label  
                    strong Name:
                  .col-lg-3 {name_wapper}{$name}{/}
                  .col-sm-3
                    label  
                    strong Code:
                  .col-lg-3 {sku_wrapper}{$sku}{/}
                .xepan-push
                .row
                  .col-lg-3
                    label
                    strong Status:
                  .col-lg-3 {display_sequence_wrapper}{$display_sequence}{/}
                .row
                  .col-lg-3
                    label  
                    strong Expiry Date:
                  .col-lg-3 {expiry_date_wrapper}{$expiry_date}{/}
                .row
                  .col-lg-3
                    label  
                    strong Price: 
                  .col-lg-3  {sale_price_wrapper}{$sale_price}{/}
                .xepan-push
                .row
                  .col-lg-3
                    label  
                    strong Description:
                  .col-lg-9
                    .form-group.pull-left
                    p {description_wrapper}{$description}{/}
                .xepan-push
                .row
                  .col-lg-3
                    label  
                    strong Terms & Condition:
                  .col-lg-3   
                     {terms_and_conditions_wrapper}{$terms_and_conditions}{/}
                 .row
                    header.container
                    .filter-block.pull-right
                      .form-group.pull-left
                        input.form-control(type='text', placeholder='Comment...')
                      a.btn.btn-primary.pull-right(href='#')
                        i.fa.fa-plus-circle.fa-lg
                        |  Add Comment