.col-lg-9.col-md-8.col-sm-8
  .container
    ul.nav.nav-tabs
      li
        a(href='#tab-Basic', data-toggle='tab') Detail
      li
        a(href='#tab-Price', data-toggle='tab') Price
      li.active
        a(href='#tab-Custom', data-toggle='tab') Custom Field
      li
        a(href='#tab-Design', data-toggle='tab') Uploaded Design
    .tab-content
      #tab-Basic.tab-pane.fade
        .row
          .col-lg-12
            .container
              .panel-header
                a Detail
              .panel-body
                .row
                  .col-sm-3
                    label  
                    strong Name:
                  .col-lg-3 {name_wapper}{$name}{/}
                  .col-sm-3
                    label  
                    strong Code:
                  .col-lg-3 {sku_wrapper}{$sku}{/}
                .xepan-push
                .row
                  .col-lg-3
                    label
                    strong Status:
                  .col-lg-3 {display_sequence_wrapper}{$display_sequence}{/}
                .row
                  .col-lg-3
                    label  
                    strong Expiry Date:
                  .col-lg-6 {expiry_date_wrapper}{$expiry_date}{/}
                .xepan-push
                .row
                  .col-lg-3
                    label  
                    strong Description:
                  .col-lg-9
                    p {description_wrapper}{$description}{/}
                .xepan-push
                .row
                    .col-lg-3
                      label  
                      strong Comment:
                    .col-lg-3    {comment_api_wrapper}{$comment_api}{/}
                .row
                  .col-lg-3
                    label  
                    strong Terms & Condition:
                  .col-lg-3   
                     {terms_and_conditions_wrapper}{$terms_and_conditions}{/}
      #tab-Price.tab-pane.fade
        .row
          .col-lg-6
            header.panel-box-header
              h2 Price & Quantity
            .container
              .row
                .col-lg-3
                  label  
                  strong Sales Price: 
                .col-lg-3  {sale_price_wrapper}{$sale_price}{/}
              .xepan-push
              .row
                .col-lg-3
                  label
                  strong Min Order Quantity:
                .col-lg-3       {minimum_order_qty_wrapper}{$minimum_order_qty}{/}
                .col-lg-3
                  label  
                  strong  Max Order Quantity: 
                .col-lg-3  {maximum_order_qty_wrapper}{$maximum_order_qty}{/}
              .xepan-push
              .row
                .col-lg-3
                  label  
                  strong Quantity Unit:
                .col-lg-3  {qty_unit_wrapper}{$qty_unit}{/}
                .col-lg-3
                  label  
                  strong Qty From Set Only:
                .col-lg-3
                  .checkbox-nice
                    i.fa.fa-times-circle.status-red  qty_from_set_only
      #tab-Custom.tab-pane.fade.in.active
        table-zebra.atk-table-bordered.atk4_grid
            header.container.atk-actions
              .filter-block(style='100%')
                .pull-right
                      i.icon-plus
                      |  Add Item CustomField Association
                .form-group.pull-right.xepan-filter-form
                  span.form-control.pull-left
                              span.icon-search
                    i.fa.fa-search.search-icon
            .main-box-body.clearfix.table
              table.table.user-list.table-hover(style='width:100%')
                thead
                  tr
                    th
                      span department
                    th
                      span Custom Field
                    th
                      span Effect Stock
                    th
                      spamn Status
                    th
                      span Values
                    th
                tbody
                  tr.odd(data-id='44')
                    td Designing
                    td Remarks
                    td
                    td Active
                    td
                      button.atk-button-small.pb_Values(type='button') Values
                    td(style='width: 15%;')
                      a.table-link.pb_edit(data-id='44', href='#')
                        span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-pencil.fa-stack-1x.fa-inverse
                      a.table-link.danger.do-delete(data-id='44', href='#')
                        span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-trash-o.fa-stack-1x.fa-inverse


      #tab-Design.tab-pane.fade
        header.container.atk-actions
        .filter-block(style='100%')
          .pull-right
            #c2120a27___base_grid_buttonset.atk-actions(style='')
              button#c2120a27___base_grid_buttonset_gbtn3.btn.btn-primary.pull-right.atk-button(style='')
                i.icon-plus
                |  Add Document Attachment
          .form-group.pull-right.xepan-filter-form
            span.form-control.pull-left
              i.fa.fa-search.search-icon
