
<div class="col-lg-4 col-md-5 col-sm-6">
  <div class="main-box clearfix profile-box-menu">
    <div class="main-box-body clearfix">
      <div style="background-image: url(img/samples/nature.jpg);" class="profile-box-header">
        <div class="xepan-push-large"></div>
        <h2>{name} Item Name {/}</h2>
        <div class="job-position">Ipad</div>
        <div class="xepan-push"></div>
        <div class="btn btn-primary">Personalize</div>
      </div>
      <div class="profile-box-content clearfix">
        <ul class="menu-items">
          <li><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Sales Price <span class="label label-danger label-button pull-right">{sale_price} 8000 {/}</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Original Price <span class="label label-success label-button pull-right">{original_price} 13000 {/}</span></a></li>
          <li class="xepan-push"><a href="#" class="clearfix"><i class="fa fa-edit fa-lg"></i> Specification<span class="label label-warning label-button pull-right">This Item is Template</span></a></li>
          <li class="xepan-push"><a href="#" class="clearfix">
              <div class="col-lg-3"></div>
              <div class="xepan-push">
                <div class="btn btn-primary"><i class="fa fa-shopping-cart fa-lg"> </i>Add To Cart</div>
              </div></a></li>
        </ul>
      </div>
      <div class="profile-box-content clearfix">
        <hr/>
        <div class="col-lg-1"></div>
        <div class="text-muted">Description:</div>
        <div class="col-lg-1"></div>
        <p class="text-muted">{$description}</p>
      </div>
    </div>
  </div>
</div>