{rows}{row}
<div class="col-lg-6 col-md-5 col-sm-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-sm-6">
        <div class="panel-header"><img src="{title_image}{/}" alt="x" class="img-responsive"/></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-6">
              <h2 class="text-muted">{name_wrapper}{$name} Item Name {/}  </h2>{sku_wrapper} 
              <div class="text-muted">{$sku} {/}</div>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-6">
              <div class="btn btn-primary">Personalize</div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 col-md-5 col-sm-6">
            <ul class="list-group">{sale_price_wrapper}
              <li class="list-group-item"><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Sales Price <span class="label label-danger label-button pull-right">{$sale_price}</span></a></li>{/}
              {original_price_wrapper}
              <li class="list-group-item"><a href="#"><i class="fa fa-money"></i> Original Price <span class="label label-success label-button pull-right"> {$original_price} </span></a></li>{/}{stock_availability_wrapper}
              <li class="list-group-item"><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Stock Avaibility<span class="label label-danger label-button pull-right"> {$stock_availability} </span></a></li>{/}
              {is_enquiry_allow_wrapper}
              <li class="list-group-item"><a href="#" class="clearfix"><i class="fa fa-money fa-lg"></i> Item Enquiry<span class="label label-danger label-button pull-right"> {$is_enquiry_allow} </span></a></li>{/}
              <div class="xepan-push"></div>{tags_wrapper}
              <li class="list-group-item"><a href="#"><i class="fa fa-edit fa-lg"></i> Specification<span class="label label-warning label-button pull-right"> {$tags} </span></a></li>{/}
              <li class="list-group-item xepan-push"><a href="#">
                  <div class="col-lg-3"></div>
                  <div class="xepan-push">
                    <div class="btn btn-primary"><i class="fa fa-shopping-cart fa-lg"> </i>Add To Cart</div>
                  </div></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>{/}{/}