
<div id="{$_name}" style="{$style}" class="xepan-commerce-item-images {$class} ">
    {$Content}
    {zoom3_image}<img id="zoom_03{$_name}" src="{firstimage}vendor/xepan/commerce/templates/view/tool/item/images/xepan_item_list_no_image.jpg{/}" data-zoom-image="{$firstimage}" onerror="this.src='vendor/xepan/commerce/templates/view/tool/item/images/xepan_item_list_no_image.jpg'" style="width:100%;max-width:100%" class="zoomwrapper-img xepan-commerce-item-image-to-zoom"/>  {/zoom3_image}
  <div id="gal1{$_name}" style="margin-top:30px;" class="xshop-item-image-list row">
    {rows}
    {row}
    <div class="xshop-item-image-block col-md-3 col-lg-3 col-xs-3 col-sm-3"><a style="float: left;" href="#{$id}" data-image="{$file}" data-zoom-image="{$file}" class="xshop-item-image-link elevatezoom-gallery"><img id="img_{$id}" src="{$thumb_url}" alt="{$alt_text}" title="{$title}" onerror="this.src='vendor/xepan/commerce/templates/view/tool/item/images/xepan_item_list_no_image.jpg'"/>{title_wrapper}
        <p>{$title}</p>{/title_wrapper}</a></div> {/row}
     {/rows}
  </div>
</div>
<style>
  .zoomwrapper{
    width:100%; !important
    max-width:100%; !important
  }
</style>