.col-lg-9.col-md-8.col-sm-8
  .main-box.clearfix
    .tabs-wrapper.profile-tabs
      ul.nav.nav-tabs
        li.active
          a(href='#tab-Basic', data-toggle='tab') Detail
              .tab-content
        #tab-Basic.tab-pane.fade.in.active
          .row
            .col-lg-12
              .main-box.clearfix
                header.main-box-header.clearfix
                  h2 Detail
                .main-box-body.clearfix
                  .row
                    .col-sm-3
                      label  
                      strong Name:
                    .col-lg-3 {name_wapper}{$name}{/}
                    .col-sm-3
                      label  
                      strong Code:
                    .col-lg-3 {sku_wrapper}{$sku}{/}
                  .xepan-push
                  .row
                    .col-lg-3
                      label
                      strong Status:
                    .col-lg-3 {display_sequence_wrapper}{$display_sequence}{/}
                  .row
                    .col-lg-3
                      label  
                      strong Expiry Date:
                    .col-lg-6 {expiry_date_wrapper}{$expiry_date}{/}
                  .xepan-push
                  .row
                      .col-lg-12
                          .row
                            .col-lg-3
                              label  
                              strong Sales Price: 
                            .col-lg-3  {sale_price_wrapper}{$sale_price}{/}
                  .row
                      .col-lg-3
                        label  
                        strong Description:
                      .col-lg-9
                        p {description_wrapper}{$description}{/}
                  .xepan-push
                  .row
                      .col-lg-3
                        label  
                        strong Comment:
                      .col-lg-3    {comment_api_wrapper}{$comment_api}{/}
                  .row
                    .col-lg-3
                      label  
                      strong Terms & Condition:
                    .col-lg-3 {terms_and_conditions_wrapper}{$terms_and_conditions}{/}