
<div class="col-lg-9 col-md-8 col-sm-8">
  <div class="container">
    <ul class="nav nav-tabs">
      <li><a href="#tab-Basic" data-toggle="tab">Detail</a></li>
      <li><a href="#tab-Price" data-toggle="tab">Price</a></li>
      <li><a href="#tab-Custom" data-toggle="tab">Custom Field</a></li>
      <li class="active"><a href="#tab-Design" data-toggle="tab">Uploaded Design</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab-Basic" class="tab-pane fade">
        <div class="row">
          <div class="col-lg-12">
            <div class="container">
              <div class="panel-header"><a>Detail</a></div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-3">
                    <label> </label><strong>Name:</strong>
                  </div>
                  <div class="col-lg-3">{name_wapper}{$name}{/}</div>
                  <div class="col-sm-3">
                    <label> </label><strong>Code:</strong>
                  </div>
                  <div class="col-lg-3">{sku_wrapper}{$sku}{/}</div>
                </div>
                <div class="xepan-push"></div>
                <div class="row">
                  <div class="col-lg-3">
                    <label></label><strong>Status:</strong>
                  </div>
                  <div class="col-lg-3">{display_sequence_wrapper}{$display_sequence}{/}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <label> </label><strong>Expiry Date:</strong>
                  </div>
                  <div class="col-lg-6">{expiry_date_wrapper}{$expiry_date}{/}</div>
                </div>
                <div class="xepan-push"></div>
                <div class="row">
                  <div class="col-lg-3">
                    <label> </label><strong>Description:</strong>
                  </div>
                  <div class="col-lg-9">
                    <div class="form-group pull-left"></div>
                    <p>{description_wrapper}{$description}{/}</p>
                  </div>
                </div>
                <div class="xepan-push"></div>
                <div class="row">
                  <div class="col-lg-3">
                    <label> </label><strong>Terms & Condition:</strong>
                  </div>
                  <div class="col-lg-3">
                      
                    {terms_and_conditions_wrapper}{$terms_and_conditions}{/}
                  </div>
                </div>
                <div class="row">
                  <header class="container"></header>
                  <div class="filter-block pull-right">
                    <div class="form-group pull-left">
                      <input type="text" placeholder="Comment..." class="form-control"/>
                    </div><a href="#" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add Comment</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab-Price" class="tab-pane fade">
        <div class="row">
          <div class="col-lg-6">
            <header class="panel-box-header">
              <h2>Price & Quantity</h2>
            </header>
            <div class="container">
              <div class="row">
                <div class="col-lg-3 h3">
                  <label> </label><strong>Price: </strong>
                </div>
                <div class="col-lg-3"> {sale_price_wrapper}{$sale_price}{/}</div>
              </div>
              <div class="xepan-push"></div>
              <div class="row">
                <div class="col-lg-3">
                  <label></label><strong>Min Order Quantity:</strong>
                </div>
                <div class="col-lg-3">      {minimum_order_qty_wrapper}{$minimum_order_qty}{/}</div>
                <div class="col-lg-3">
                  <label> </label><strong> Max Order Quantity: </strong>
                </div>
                <div class="col-lg-3"> {maximum_order_qty_wrapper}{$maximum_order_qty}{/}</div>
              </div>
              <div class="xepan-push"></div>
              <div class="row">
                <div class="col-lg-3">
                  <label> </label><strong>Quantity Unit:</strong>
                </div>
                <div class="col-lg-3"> {qty_unit_wrapper}{$qty_unit}{/}</div>
                <div class="col-lg-3">
                  <label> </label><strong>Qty From Set Only:</strong>
                </div>
                <div class="col-lg-3">
                  <div class="checkbox-nice"><i class="fa fa-times-circle status-red"> qty_from_set_only</i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab-Custom" class="tab-pane fade">
        <table-zebra class="atk-table-bordered atk4_grid">
          <header class="container atk-action"></header>
          <div class="main-box-body clearfix table">
            <table style="width:100%" class="table user-list table-hover">
              <thead>
                <tr>
                  <th><span>department</span></th>
                  <th><span>Custom Field</span></th>
                  <th><span>Effect Stock</span></th>
                  <th>
                    <spamn>Status</spamn>
                  </th>
                  <th><span>Values</span></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr data-id="44" class="odd">
                  <td>{is_designable_wrapper}{$is_designable}{/}</td>
                  <td>Remarks</td>
                  <td></td>
                  <td>Active</td>
                  <td>
                    <button type="button" class="atk-button-small pb_Values">Values</button>
                  </td>
                  <td style="width: 15%;"><a data-id="44" href="#" class="table-link pb_edit"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a data-id="44" href="#" class="table-link danger do-delete"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <header class="container"></header>
              <div class="filter-block pull-right">
                <div class="form-group pull-left">
                  <input type="text" placeholder="Add CustomField..." class="form-control"/>
                </div><a href="#" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add CustomField Association</a>
              </div>
            </div>
          </div>
        </table-zebra>
      </div>
      <div id="tab-Design" class="tab-pane fade in active">
        <header class="container atk-actions"></header>
        <div style="100%" class="filter-block">
          <div class="row">
            <div class="col-lg-12 pull-left">
              <div class="container">
                <div class="panel-body"></div>
                <input type="file" data-edit="insertImage" data-target="#pictureBtn" data-role="magic-overlay"/>
                <div class="pull-left">
                  <button style="" class="btn btn-primary pull-right atk-button"><i class="icon-plus"></i> Add Document Attachment</button>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table user-list table-hover">
              <thead>
                <tr>
                  <th><span>User</span></th>
                  <th><span>Uploaded</span></th>
                  <th><span>Email</span></th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="#" class="user-link">Scarlett Johansson</a></td>
                  <td>2013/08/08</td>
                  <td><a href="#">mila@kunis.com</a></td>
                  <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-search-plus fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
                </tr>
                <tr>
                  <td><img alt="" src="img/samples/robert-300.jpg"/><a href="#" class="user-link">Robert Downey Jr.</a></td>
                  <td>2013/08/12</td>
                  <td><a href="#">marlon@brando.com</a></td>
                  <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-search-plus fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>