.col-lg-9.col-md-8.col-sm-8
  .main-box.clearfix
    .tabs-wrapper.profile-tabs
      ul.nav.nav-tabs
        li.active
          a(href='#tab-Basic', data-toggle='tab') Basic
        li
          a(href='#tab-Attribute', data-toggle='tab') Attribute
        li
          a(href='#tab-QtyPrice', data-toggle='tab') Qty&Price
        li
          a(href='#tab-Category', data-toggle='tab') Category
        li
          a(href='#tab-SEO', data-toggle='tab') SEO
        li
          a(href='#tab-ProductionPhase', data-toggle='tab') Production Phase
        li
          a(href='#tab-Accounts', data-toggle='tab') Accounts
      .tab-content
        #tab-Basic.tab-pane.fade.in.active
          .row
            .col-lg-12
              .main-box.clearfix
                header.main-box-header.clearfix
                  h2 Detail
                .main-box-body.clearfix
                  .row
                    .col-sm-3
                      label  
                      strong Name:
                    .col-lg-3  Credit Co. Bank Software
                    .col-sm-3
                      label  
                      strong Code:
                    .col-lg-3  cbs-004
                  .xepan-push
                  .row
                    .col-lg-3
                      label
                      strong Status
                    .col-lg-3 Publish
                    .col-lg-3
                      label  
                      strong Date
                    .col-lg-3  03 Sep 2016
                  .xepan-push
                  .row
                    .col-lg-3
                      label  
                      strong Description:
                    .col-lg-9
                  .xepan-push
                  .row
                    .col-lg-3
                      .checkbox-nice
                        i.fa.fa-times-circle.status-red  is_template
                    .col-lg-3
                      label  
                      strong Designer:
                    .col-lg-6 Girnar Printers Pvt. Ltd
              .row
                .col-lg-12
                  .main-box
                    header.main-box-header.clearfix
                      h2 Item Type
                    .main-box-body.clearfix
                      .row
                        .col-lg-3
                          .checkbox-nice
                            i.fa.fa-check-circle.status-green  is_saleable
                        .col-lg-3
                          .checkbox-nice
                            i.fa.fa-times-circle.status-red  is_purchasable
                        .col-lg-3
                          .checkbox-nice
                            i.fa.fa-times-circle.status-red  is_productionable
                        .col-lg-3
                          .checkbox-nice
                            i.fa.fa-times-circle.status-red  is_allowuploadable
              .row
                .col-lg-12
                  .main-box
                    header.main-box-header.clearfix
                      h2 Item Stock Info
                    .main-box-body.clearfix
                      .row
                        .col-lg-4
                          .checkbox-nice
                            i.fa.fa-times-circle.status-red  maintain_inventory
                        .col-lg-4
                          .checkbox-nice
                            i.fa.fa-times-circle.status-red  allow_negative_stock
          .row
            .col-lg-12
              .main-box.clearfix
                header.main-box-header.clearfix
                  h2
                    i.fa.fa-times-circle.status-red  website_display
                .main-box-body.clearfix
                  .row
                    .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Item Display Option
                        .main-box-body.clearfix
                          .row
                            .col-lg-4
                              .checkbox-nice
                                i.fa.fa-check-circle.status-green  show_detail
                            .col-lg-4
                              .checkbox-nice
                                i.fa.fa-times-circle.status-red  show_price
                            .col-lg-4
                              .checkbox-nice
                                i.fa.fa-times-circle.status-red  is_visible_sold
                  .row
                    .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Marked Option
                        .main-box-body.clearfix
                          .xepan-push
                          .row
                            .col-lg-3
                              .checkbox-nice
                                i.fa.fa-check-circle.status-green  is_new
                            .col-lg-3
                              .checkbox-nice
                                i.fa.fa-times-circle.status-red  is_feature
                            .col-lg-3
                              .checkbox-nice
                                i.fa.fa-times-circle.status-red  is_mostviewed
                            .col-lg-3
                              small.pull-left(style='width:80%') Display Sequence
                  .row
                    .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Enquiry Option
                        .main-box-body.clearfix
                          .row
                            .col-lg-4
                              .checkbox-nice
                                i.fa.fa-times-circle.status-red  is_enquiry_allow
                            .col-lg-4
                              .checkbox-nice
                                i.fa.fa-times-circle.status-red  enquiry_send_to_admin
                            .col-lg-4
                              .checkbox-nice
                                i.fa.fa-times-circle.status-red  item_enquiry_auto_reply
                  .row
                    .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Item Comment Option
                        .main-box-body.clearfix
                          .row
                            .col-lg-4
                              .checkbox-nice
                                i.fa.fa-times-circle.status-red  is_comment_allow
                            .col-lg-2
                              label  
                              strong Comment:
                            .col-lg-6  
                  .row
                    .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Item Other Option
                        .main-box-body.clearfix
                          .row
                            .col-lg-12
                              .checkbox-nice
                                i.fa.fa-times-circle.status-red  add_custom_button
                          .xepan-push
                          .row
                            .col-lg-4
                              label  
                              strong Custom Button Label:
                            .col-lg-2.input-full-width
                            .col-lg-3
                              label  
                              strong Custom Button Url:
                            .col-lg-3.input-full-width
              .row
                .col-lg-12
                  .main-box
                    header.main-box-body.clearfix
                      .xepan-push
                      .row
                        .col-lg-3
                          label  
                          strong Terms & Condition:
                        .col-lg-9  
        #tab-Attribute.tab-pane
          .col-lg-12.col-md-12.col-sm-12
            .main-box.clearfix
              .tabs-wrapper.profile-tabs
                ul.nav.nav-tabs
                  li.active
                    a(href='#tab-Specification', data-toggle='tab') Specification
                  li
                    a(href='#tab-CustomField', data-toggle='tab') CustomField
                  li
                    a(href='#tab-Filter', data-toggle='tab') Filter
                .tab-content
                  #tab-Specification.tab-pane.fade.in.active
                    #admin_layout_cube_itemdetail_xepan_hr_crud(style='')
                      #admin_layout_cube_itemdetail_xepan_hr_crud_xepan_base_grid.xepan-grid.clearfix.atk-table.atk-table-zebra.atk-table-bordered.atk4_grid
                        header.main-box-header.clearfix.atk-actions
                          .filter-block(style='100%')
                            .pull-right
                              #581345b__ase_grid_buttonset.atk-actions(style='')
                                button#581345b__ase_grid_buttonset_gbtn3.btn.btn-primary.pull-right.atk-button(style='')
                                  i.icon-plus
                                  |  Add Item CustomField Association
                            .form-group.pull-right.xepan-filter-form
                              span.form-control.pull-left
                                span#581345b__ase_grid_quicksearch.atk-form.atk-form-stacked.atk-form-compact.atk-move-right.atk-col-3.span_3.atk4_form_widget(style='')
                                  form.atk4_form(method='POST', action='/xepan2/admin/?page=xepan/commerce/itemdetail&document_id=115&submit=581345b__ase_grid_quicksearch', name='581345b__ase_grid_quicksearch_form')
                                    input#ajax_submit(type='hidden', value='1', name='ajax_submit', data-initvalue='1')
                                    .atk-cells.atk-input-combo
                                      .atk-cell.atk-jackscrew
                                        input#581345b__ase_grid_quicksearch_q(type='text', placeholder='Search', value='', data-shortname='q', name='581345b__ase_grid_quicksearch_q', data-initvalue='')
                                      .atk-cell
                                        a#581345b__ase_grid_quicksearch_htmlelement.atk-button(href='javascript:void(0)', style='')
                                          span.icon-search
                                i.fa.fa-search.search-icon
                        .main-box-body.clearfix.table
                          .row
                            .col-md-12.text-center.alert.alert-warning(role='alert')
                              span.icon-attention.fa.fa-exclamation-triangle   No matching records found
                          table.table.user-list.table-hover(style='width:100%')
                            tbody
                  #tab-CustomField.tab-pane
                    #admin_layout_cube_itemdetail_xepan_hr_crud_2(style='')
                      #admin_layout_cube_itemdetail_xepan_hr_crud_2_xepan_base_grid.xepan-grid.clearfix.atk-table.atk-table-zebra.atk-table-bordered.atk4_grid
                        header.main-box-header.clearfix.atk-actions
                          .filter-block(style='100%')
                            .pull-right
                              #a1c23f1d___base_grid_buttonset.atk-actions(style='')
                                button#a1c23f1d___base_grid_buttonset_gbtn3.btn.btn-primary.pull-right.atk-button(style='')
                                  i.icon-plus
                                  |  Add Item CustomField Association
                            .form-group.pull-right.xepan-filter-form
                              span.form-control.pull-left
                                span#a1c23f1d___base_grid_quicksearch.atk-form.atk-form-stacked.atk-form-compact.atk-move-right.atk-col-3.span_3.atk4_form_widget(style='')
                                  form.atk4_form(method='POST', action='/xepan2/admin/?page=xepan/commerce/itemdetail&document_id=115&submit=a1c23f1d___base_grid_quicksearch', name='a1c23f1d___base_grid_quicksearch_form')
                                    input#ajax_submit(type='hidden', value='1', name='ajax_submit', data-initvalue='1')
                                    .atk-cells.atk-input-combo
                                      .atk-cell.atk-jackscrew
                                        input#a1c23f1d___base_grid_quicksearch_q(type='text', placeholder='Search', value='', data-shortname='q', name='a1c23f1d___base_grid_quicksearch_q', data-initvalue='')
                                      .atk-cell
                                        a#a1c23f1d___base_grid_quicksearch_htmlelement.atk-button(href='javascript:void(0)', style='')
                                          span.icon-search
                                i.fa.fa-search.search-icon
                        .main-box-body.clearfix.table
                          table.table.user-list.table-hover(style='width:100%')
                            thead
                              tr
                                th
                                  span department
                                th
                                  span Custom Field
                                th
                                  span Effect Stock
                                th
                                  spamn Status
                                th
                                  span Values
                                th
                            tbody
                              tr.odd(data-id='28')
                                td Diploy
                                td Software Intallation
                                td
                                td Active
                                td
                                  button.atk-button-small.pb_Values(type='button') Values
                                td(style='width: 15%;')
                                  a.table-link.pb_edit(data-id='28', href='#')
                                    span.fa-stack
                                      i.fa.fa-square.fa-stack-2x
                                      i.fa.fa-pencil.fa-stack-1x.fa-inverse
                                  a.table-link.danger.do-delete(data-id='28', href='#')
                                    span.fa-stack
                                      i.fa.fa-square.fa-stack-2x
                                      i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                  #tab-Filter.tab-pane
                    #admin_layout_cube_itemdetail_xepan_hr_crud_3(style='')
                      #admin_layout_cube_itemdetail_xepan_hr_crud_3_xepan_base_grid.xepan-grid.clearfix.atk-table.atk-table-zebra.atk-table-bordered.atk4_grid
                        header.main-box-header.clearfix.atk-actions
                          .filter-block(style='100%')
                            .pull-right
                              #7b534a9___base_grid_buttonset.atk-actions(style='')
                                button#7b534a9___base_grid_buttonset_gbtn3.btn.btn-primary.pull-right.atk-button(style='')
                                  i.icon-plus
                                  |  Add Filter
                            .form-group.pull-right.xepan-filter-form
                              span.form-control.pull-left
                                span#7b534a9___base_grid_quicksearch.atk-form.atk-form-stacked.atk-form-compact.atk-move-right.atk-col-3.span_3.atk4_form_widget(style='')
                                  form.atk4_form(method='POST', action='/xepan2/admin/?page=xepan/commerce/itemdetail&document_id=115&submit=7b534a9___base_grid_quicksearch', name='7b534a9___base_grid_quicksearch_form')
                                    input#ajax_submit(type='hidden', value='1', name='ajax_submit', data-initvalue='1')
                                    .atk-cells.atk-input-combo
                                      .atk-cell.atk-jackscrew
                                        input#7b534a9___base_grid_quicksearch_q(type='text', placeholder='Search', value='', data-shortname='q', name='7b534a9___base_grid_quicksearch_q', data-initvalue='')
                                      .atk-cell
                                        a#7b534a9___base_grid_quicksearch_htmlelement.atk-button(href='javascript:void(0)', style='')
                                          span.icon-search
                                i.fa.fa-search.search-icon
                        .main-box-body.clearfix.table
                          .row
                            .col-md-12.text-center.alert.alert-warning(role='alert')
                              span.icon-attention.fa.fa-exclamation-triangle   No matching records found
                          table.table.user-list.table-hover(style='width:100%')
                            tbody
        #tab-QtyPrice.tab-pane
          .col-lg-12.col-md-12.col-sm-12
            .main-box.clearfix
              .tabs-wrapper.profile-tabs
                ul.nav.nav-tabs
                  li.active
                    a(href='#tab-basic-pice', data-toggle='tab') Basic Price
                  li
                    a(href='#tab-qty-set-contition', data-toggle='tab') Rate Chart
                .tab-content
                  #tab-basic-pice.tab-pane.fade.in.active
                    .row
                      .col-lg-12
                        header.main-box-header.clearfix
                          h2 Price & Quantity
                        .main-box-body.clearfix
                          .row
                            .col-lg-3
                              label  
                              strong Sales Price: 
                            .col-lg-3  120000.00
                            .col-lg-3
                              label  
                              strong  Original Price: 
                            .col-lg-3 120000.00
                          .xepan-push
                          .row
                            .col-lg-3
                              label
                              strong Min Order Quantity:
                            .col-lg-3  1
                            .col-lg-3
                              label  
                              strong  Max Order Quantity: 
                            .col-lg-3  1
                          .xepan-push
                          .row
                            .col-lg-3
                              label  
                              strong Quantity Unit:
                            .col-lg-3  pcs
                            .col-lg-3
                              label  
                              strong Qty From Set Only:
                            .col-lg-3
                              .checkbox-nice
                                i.fa.fa-times-circle.status-red  qty_from_set_only
                  #tab-qty-set-contition.tab-pane
                    #admin_layout_cube_itemdetail_xepan_hr_crud_4(style='')
                      #admin_layout_cube_itemdetail_xepan_hr_crud_4_xepan_base_grid.xepan-grid.clearfix.atk-table.atk-table-zebra.atk-table-bordered.atk4_grid
                        header.main-box-header.clearfix.atk-actions
                          .filter-block(style='100%')
                            .pull-right
                              #c2120a27___base_grid_buttonset.atk-actions(style='')
                                button#c2120a27___base_grid_buttonset_gbtn3.btn.btn-primary.pull-right.atk-button(style='')
                                  i.icon-plus
                                  |  Add Item Quantity Set
                            .form-group.pull-right.xepan-filter-form
                              span.form-control.pull-left
                                span#c2120a27___base_grid_quicksearch.atk-form.atk-form-stacked.atk-form-compact.atk-move-right.atk-col-3.span_3.atk4_form_widget(style='')
                                  form.atk4_form(method='POST', action='/xepan2/admin/?page=xepan/commerce/itemdetail&document_id=115&submit=c2120a27___base_grid_quicksearch', name='c2120a27___base_grid_quicksearch_form')
                                    input#ajax_submit(type='hidden', value='1', name='ajax_submit', data-initvalue='1')
                                    .atk-cells.atk-input-combo
                                      .atk-cell.atk-jackscrew
                                        input#c2120a27___base_grid_quicksearch_q(type='text', placeholder='Search', value='', data-shortname='q', name='c2120a27___base_grid_quicksearch_q', data-initvalue='')
                                      .atk-cell
                                        a#c2120a27___base_grid_quicksearch_htmlelement.atk-button(href='javascript:void(0)', style='')
                                          span.icon-search
                                i.fa.fa-search.search-icon
                        .main-box-body.clearfix.table
                          .row
                            .col-md-12.text-center.alert.alert-warning(role='alert')
                              span.icon-attention.fa.fa-exclamation-triangle   No matching records found
                          table.table.user-list.table-hover(style='width:100%')
                            tbody
        #tab-Category.tab-pane
          #admin_layout_cube_itemdetail_xepan_base_grid.xepan-grid.clearfix.atk-table.atk-table-zebra.atk-table-bordered
            header.main-box-header.clearfix.atk-actions
              .filter-block(style='100%')
                .pull-right  
                .form-group.pull-right.xepan-filter-form
                  span.form-control.pull-left
                    i.fa.fa-search.search-icon
            .main-box-body.clearfix.table
              table.table.user-list.table-hover(style='width:100%')
                thead
                  tr
                    th
                      span Select
                    th
                      span Category
                    th
                tbody.ui-selectable(style='cursor: crosshair;')
                  tr.odd.ui-selectee(data-id='153', style='')
                    td
                      input#cb_153(type='checkbox', value='153', name='cb_153')
                    td Web Development                   
                  tr.even.ui-selectee.ui-selected(data-id='1016', style='')
                    td
                      input#cb_1016(type='checkbox', value='1016', name='cb_1016')
                    td Software Development                   
                  tr.odd.ui-selectee(data-id='1018', style='')
                    td
                      input#cb_1018(type='checkbox', value='1018', name='cb_1018')
                    td Hosting                   
                  tr.even.ui-selectee(data-id='1020', style='')
                    td
                      input#cb_1020(type='checkbox', value='1020', name='cb_1020')
                    td Server managment                   
          #admin_layout_cube_itemdetail_form.atk-form.atk4_form_widget(style='')
            form.atk4_form(method='post', action='/xepan2/admin/?page=xepan/commerce/itemdetail&document_id=115&submit=admin_layout_cube_itemdetail_form')
              input#ajax_submit(type='hidden', value='1', name='ajax_submit', data-initvalue='1')
              .atk-cells-group.atk-cells-gutter-large
                input#admin_layout_cube_itemdetail_form_ass_cat(type='hidden', value='["1016"]', data-shortname='ass_cat', name='admin_layout_cube_itemdetail_form_ass_cat', data-initvalue='["1016"]')
                .atk-cells.atk-cells-gutter-large
                  .atk-cell
                  .atk-cell.atk-actions
                    button#admin_layout_cube_itemdetail_form_form_submit.atk-button(style='', data-initvalue='') Update
        #tab-SEO.tab-pane
          .row
            .col-lg-12
              .main-box.clearfix
                .xepan-push
                .row
                  .col-lg-12
                    .col-lg-4
                      label  
                      strong Meta Title:
                    .col-lg-8  
                .xepan-push
                .row
                  .col-lg-12
                    .col-lg-4
                      label  
                      strong Meta Decription:
                    .col-lg-8  
                .xepan-push
                .row
                  .col-lg-12
                    .col-lg-4
                      label  
                      strong Tags:
                    .col-lg-8  
                .xepan-push
              .row
                .col-lg-12
                  a.btn.btn-primary.pull-right(href='#')  Update
        #tab-ProductionPhase.tab-pane
          #admin_layout_cube_itemdetail_xepan_base_grid_2.xepan-grid.clearfix.atk-table.atk-table-zebra.atk-table-bordered
            header.main-box-header.clearfix.atk-actions
              .filter-block(style='100%')
                .pull-right  
                .form-group.pull-right.xepan-filter-form
                  span.form-control.pull-left
                    i.fa.fa-search.search-icon
            .main-box-body.clearfix.table
              table.table.user-list.table-hover(style='width:100%')
                thead
                  tr
                    th
                      span Select
                    th
                      span Department
                    th
                      span consumption
                    th
                tbody.ui-selectable(style='cursor: crosshair;')
                  tr.odd.ui-selectee(data-id='23', style='')
                    td
                      input#cb_23(type='checkbox', value='23', name='cb_23')
                    td Company                   
                    td
                      button.atk-button-small.pb_consumption(type='button') Consumption
                  tr.even.ui-selectee(data-id='135', style='')
                    td
                      input#cb_135(type='checkbox', value='135', name='cb_135')
                    td Development                   
                    td
                      button.atk-button-small.pb_consumption(type='button') Consumption
                  tr.odd.ui-selectee.ui-selected(data-id='136', style='')
                    td
                      input#cb_136(type='checkbox', value='136', name='cb_136')
                    td Testing                   
                    td
                      button.atk-button-small.pb_consumption(type='button') Consumption
                  tr.even.ui-selectee.ui-selected(data-id='137', style='')
                    td
                      input#cb_137(type='checkbox', value='137', name='cb_137')
                    td Diploy                   
                    td
                      button.atk-button-small.pb_consumption(type='button') Consumption
                  tr.odd.ui-selectee(data-id='1019', style='')
                    td
                      input#cb_1019(type='checkbox', value='1019', name='cb_1019')
                    td Designing                   
                    td
                      button.atk-button-small.pb_consumption(type='button') Consumption
                  tr.even.ui-selectee.ui-selected(data-id='1021', style='')
                    td
                      input#cb_1021(type='checkbox', value='1021', name='cb_1021')
                    td Training                   
                    td
                      button.atk-button-small.pb_consumption(type='button') Consumption
                  tr.odd.ui-selectee(data-id='1094', style='')
                    td
                      input#cb_1094(type='checkbox', value='1094', name='cb_1094')
                    td Technical                   
                    td
                      button.atk-button-small.pb_consumption(type='button') Consumption
          #admin_layout_cube_itemdetail_form_2.atk-form.atk4_form_widget(style='')
            form.atk4_form(method='post', action='/xepan2/admin/?page=xepan/commerce/itemdetail&document_id=115&submit=admin_layout_cube_itemdetail_form_2')
              input#ajax_submit(type='hidden', value='1', name='ajax_submit', data-initvalue='1')
              .atk-cells-group.atk-cells-gutter-large
                input#admin_layout_cube_itemdetail_form_2_ass_dept(type='hidden', value='["136","137","1021"]', data-shortname='ass_dept', name='admin_layout_cube_itemdetail_form_2_ass_dept', data-initvalue='["136","137","1021"]')
                .atk-cells.atk-cells-gutter-large
                  .atk-cell
                  .atk-cell.atk-actions
                    button#admin_layout_cube_itemdetail_form_2_form_submit.atk-button(style='', data-initvalue='') Update
        #tab-Accounts.tab-pane
          .row
            .col-lg-12
              header.main-box-header.clearfix
                .filter-block.pull-right
                  a.btn.btn-primary.pull-right(href='#')
                    i.fa.fa-plus-circle.fa-lg
                    |  Add Item Tax Association
              .main-box-body.clearfix
                .table-responsive
                  table.table
                    thead
                      tr
                        th.text-left(style='width: 150px;', colspan='1', rowspan='1')
                          a.asc(href='#')
                            span Tax
                        th.text-left(style='width: 150px;')
                          a.asc(href='#')
                            span Tax Association
                        th
                    tbody
                      tr(style='width: 150px;')
                        td
                          span Vat 0.5%
                        td.text-left 50
                        td(style='width: 15%;')
                          a.table-link(href='#')
                            span.fa-stack
                              i.fa.fa-square.fa-stack-2x
                              i.fa.fa-pencil.fa-stack-1x.fa-inverse
                          a.table-link.danger(href='#')
                            span.fa-stack
                              i.fa.fa-square.fa-stack-2x
                              i.fa.fa-trash-o.fa-stack-1x.fa-inverse
