#726c016a-f1c8-4b33-9a5b-0c2f7c01c2d7.epan-sortable-component.epan-component.ui-sortable.col-md-8.item-description(style=' ', span='8', component_type='Column', component_namespace='baseElements', data-extra-classes='item-description')
  #0c7ae934-7f56-4f17-f549-bbe9a7c88565.epan-component.item-description(style='', data-is-serverside-component='true', data-responsible-view='View_Tools_ItemDetail', data-responsible-namespace='xShop', component_type='ItemDetail', component_namespace='xShop', show-heading='1', show-image='0', show-item-date='1', show-item-code='1', show-item-name='1', show-item-review='1', show-cart-section='1', show-item-price='1', show-item-short-description='1', show-item-affiliate='0', show-item-enquiry-form='0', item-enquiry-form-label='Enquiry', show-item-comment='1', personalization-page='product-design', show-item-detail-in-tabs='1', show-item-specification='1', show-cart-section-in-tabs='1', show-cart-btn='0', data-extra-classes='item-description')
    #web_xshop_view_tools_itemdetail.xshop-item.xshop-item-detail
      link(href='epan-components/xShop/templates/css/xshop-item-detail.css', type='text/css', rel='stylesheet')
      script(src='epan-components/xBlog/templates/js/jRate.js')
      span.pull-right.xshop-item-detail-date 2015-09-23 16:38:52
      .xhop-itemdetail-name
        h1 Corporate Laminated Card
      .row
        .col-md-12.col-sm-12.col-lg-12.xshop-item-detail-section-moveable
          .col-md-6.col-sm-6.xshop-item-detail-code LBC-01-93
          // <div class="col-md-6 col-sm-6 xshop-item-detail-review"></div>
          .xshop-item-detail-design.section
            button#web_xshop_view_tools_itemdetail_button.atk-button(style='') Personalize
          .row.section
            .col-md-4.col-sm-4.xshop-item-detail-price
            .col-md-8.col-sm-8.xshop-item-offer-supplier-shipping
              | Corporate Laminated Card
          .xshop-item-detail-cart.section
      #web_xshop_view_tools_itemdetail_tabs.atk-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
        ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all(role='tablist')
          li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active(data-tabid='view_htmlelement', role='tab', tabindex='0', aria-controls='e1b07e35__l_tabs_view_htmlelement', aria-labelledby='ui-id-1', aria-selected='true', aria-expanded='true')
            a#ui-id-1.ui-tabs-anchor(href='#e1b07e35__l_tabs_view_htmlelement', role='presentation', tabindex='-1') Description
          li.ui-state-default.ui-corner-top(data-tabid='view_htmlelement_2', role='tab', tabindex='-1', aria-controls='e1b07e35__l_tabs_view_htmlelement_2', aria-labelledby='ui-id-2', aria-selected='false', aria-expanded='false')
            a#ui-id-2.ui-tabs-anchor(href='#e1b07e35__l_tabs_view_htmlelement_2', role='presentation', tabindex='-1') Specification
        #e1b07e35__l_tabs_view_htmlelement.ui-tabs-panel.ui-widget-content.ui-corner-bottom(style='display: block;', aria-labelledby='ui-id-1', role='tabpanel', aria-hidden='false')
          #e1b07e35__l_tabs_view_htmlelement_view(style='')
            p
              | Corporate Laminated Card is, so eye-catching glossy, it’s the best finish to make bold, bright designs and photography really ‘pop’? ?off the paper. From a brand that specializes in making people feel as good as they look.? ?Business Cards are of paramount importance to the success of any business or an individual, can never be discredited. Let the finest represent you. Lend your business card a touch of finesse and draw positive attention to your brand with our customized business cards.
        #e1b07e35__l_tabs_view_htmlelement_2.ui-tabs-panel.ui-widget-content.ui-corner-bottom(style='display: none;', aria-labelledby='ui-id-2', role='tabpanel', aria-hidden='true')
          #e1b07e35__l_tabs_view_htmlelement_2_grid.atk-table.atk-table-zebra.atk-table-bordered.atk4_grid(style='')
            .atk-box-small
              .atk-actions
            table
              thead
                tr
                  th(id='')
                    a(href='javascript:void(0)')
                      | Specification
                  th(id='')
                    a(href='javascript:void(0)')
                      | Value
              tbody
                tr.odd(data-id='55')
                  td(style='white-space:nowrap')
                    | width
                  td(style='white-space:nowrap')
                    | 100mm
                tr.even(data-id='56')
                  td(style='white-space:nowrap')
                    | height
                  td(style='white-space:nowrap')
                    | 60mm
                tr.odd(data-id='57')
                  td(style='white-space:nowrap')
                    | trim
                  td(style='white-space:nowrap')
                    | 5mm
                tr.even(data-id='58')
                  td(style='white-space:nowrap')
                    | Color
                  td(style='white-space:nowrap')
                    | Red,Gray,Black
                tr.odd(data-id='59')
                  td(style='white-space:nowrap')
                    | Lamination Type
                  td(style='white-space:nowrap')
                    | Front Side,Both Side
                tr.even(data-id='129')
                  td(style='white-space:nowrap')
                    | Designing Sides
                  td(style='white-space:nowrap')
                    | Front Side
      //
        <li><a href="#" class="btn btn-default" data-toggle="modal" data-target="#xShop_supplier_modal_93" >Supplier</a></li>
      script(type='text/javascript').
        $("#jRate_93").jRate({
        rating: '',
        shape: "STAR",
        count: 5,
        width: "20",
        height: "20",
        widthGrowth: 0.0,
        heightGrowth: 0.0,
        backgroundColor: "gray",
        startColor: "yellow",
        endColor: "green",
        strokeColor: "black",
        transparency: 1,
        shapeGap: "0px",
        opacity: 1,
        min: 0,
        max: 5,
        precision: 1,
        minSelected: 0,
        strokeWidth: '2px',
        horizontal: true,
        reverse: false,
        readOnly: false,
        touch: true,
        onChange: function(rating) {
        $('#jRate_93-value').text("Your Rating: "+rating);
        },
        onSet:function(rating){
        url = $('#jRate_93').attr('subpage');
        item_id = $('#jRate_93').attr('xitem');
        days = $('#jRate_93').attr('xdays');
        $(this).closest('.xshop-item-detail').univ().reload('index.php?subpage='+url,{'review':true,'rating':rating,'xsnb_item_id':item_id,'days':days,'cut_object':$(this).closest('.xshop-item-detail').attr('id')});
        }
        });
    // Modal
    //
      <div class="modal fade" id="xShop_supplier_modal_93" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Supplier</h4>
      </div>
      <div class="modal-body">
      <div class="row">
      <div class="col-md-2 col-sm-2">
      Name :
      </div>
      <div class="col-md-9 col-sm-9">
      </div>
      </div>
      <div class="row">
      <div class="col-md-2 col-sm-2">
      Contact No. :
      </div>
      <div class="col-md-4 col-sm-4">
      <br>
      </div>
      <div class="col-md-2 col-sm-2">
      Email id :
      </div>
      <div class="col-md-4 col-sm-4">
      </div>
      </div>
      <div class="row">
      <div class="col-md-2 col-sm-2">
      Official Address :
      </div>
      <div class="col-md-4 col-sm-4">
      </div>
      <div class="col-md-2 col-sm-2">
      Address :
      </div>
      <div class="col-md-4 col-sm-4">
      </div>
      </div>
      <div class="row">
      <div class="col-md-2 col-sm-2">
      City :
      </div>
      <div class="col-md-4 col-sm-4">
      </div>
      <div class="col-md-2 col-sm-2">
      State :
      </div>
      <div class="col-md-4 col-sm-4">
      </div>
      </div>
      <div class="row">
      <div class="col-md-2 col-sm-2">
      Country:
      </div>
      <div class="col-md-4 col-sm-4">
      </div>
      <div class="col-md-2 col-sm-2">
      Zip Code:
      </div>
      <div class="col-md-4 col-sm-4">
      </div>
      </div>
      <div class="row">
      <div class="col-md-12 col-sm-12">
      <div style="display:none;">
      </div>
      </div>
      </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>
      </div>
      </div>
    //
      <div class="modal fade" id="xShop_enquiry_modal_93" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Enquiry</h4>
      </div>
      <div class="modal-body">
      <div class="row">
      <div class="col-md-12">
      </div>
      </div>
      </div>
      <div class="modal-footer">
      </div>
      </div>
      </div>
      </div>
    // // code for discus
    // 
    // //end of code for discus
