
<div class="col-lg-9 col-md-8 col-sm-8">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="container">
          <div class="panel-header"><a>Detail</a></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-3">
                <label> </label><strong>Name:</strong>
              </div>
              <div class="col-lg-3">{name_wapper}{$name}{/}</div>
              <div class="col-sm-3">
                <label> </label><strong>Code:</strong>
              </div>
              <div class="col-lg-3">{sku_wrapper}{$sku}{/}</div>
            </div>
            <div class="xepan-push"></div>
            <div class="row">
              <div class="col-lg-3">
                <label></label><strong>Status:</strong>
              </div>
              <div class="col-lg-3">{display_sequence_wrapper}{$display_sequence}{/}</div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <label> </label><strong>Expiry Date:</strong>
              </div>
              <div class="col-lg-3">{expiry_date_wrapper}{$expiry_date}{/}</div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <label> </label><strong>Price: </strong>
              </div>
              <div class="col-lg-3"> {sale_price_wrapper}{$sale_price}{/}</div>
            </div>
            <div class="xepan-push"></div>
            <div class="row">
              <div class="col-lg-3">
                <label> </label><strong>Description:</strong>
              </div>
              <div class="col-lg-9">
                <div class="form-group pull-left"></div>
                <p>{description_wrapper}{$description}{/}</p>
              </div>
            </div>
            <div class="xepan-push"></div>
            <div class="row">
              <div class="col-lg-3">
                <label> </label><strong>Terms & Condition:</strong>
              </div>
              <div class="col-lg-3">
                  
                {terms_and_conditions_wrapper}{$terms_and_conditions}{/}
              </div>
            </div>
            <div class="row">
              <header class="container"></header>
              <div class="filter-block pull-right">
                <div class="form-group pull-left">
                  <input type="text" placeholder="Comment..." class="form-control"/>
                </div><a href="#" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add Comment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>