{rows}{row}
<div class="col-lg-6">
  <div class="panel panel-primary">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="panel-header"><img src="{file}{/}" alt="x" height="100%" class="img-responsive"/></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-6">{name_wrapper}
              <h2 class="text-muted">{$name} Item Name </h2>{/}  
              {sku_wrapper} 
              <div class="text-muted">{$sku} {/}</div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-6"></div>
            <div class="col-lg-2 col-md-2 col-sm-6">
              <div class="btn btn-primary">Personalize</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="panel-body">
          <ul class="list-group">{sale_price_wrapper}
            <li class="list-group-item"> Sales Price <span class="pull-right">{$sale_price}</span></li>{/}
            {original_price_wrapper}
            <li class="list-group-item"> Original Price <span class="pull-right">{$original_price} </span></li>{/}
            {customfieldtype_wrapper}
            <li class="list-group-item"> Custom Field  <span class="pull-right"> {$customfield_type} </span></li>{/}{stock_availability_wrapper}
            <li class="list-group-item"> Stock Avaibility<span class="pull-right"> {$stock_availability} </span></li>{/}
            {is_enquiry_allow_wrapper}
            <li class="list-group-item"> Item Enquiry<span class="pull-right"> {$is_enquiry_allow} </span></li>{/}
            <div class="xepan-push"></div>{tags_wrapper}
            <li class="list-group-item"> Specification<span class="pull-right"> {$tags} </span></li>{/}
            <li class="list-group-item xepan-push"> Reviews         <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span></li>
            <li class="list-group-item xepan-push">
              <div class="col-lg-5"></div>
              <div class="xepan-push">
                <div class="btn btn-primary">
                   
                  Add To Cart
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>{/}{/}