.row
  .col-lg-12.col-md-12.col-sm-12
    .panel
      ul.nav.nav-tabs
        li.active
          a(href='#tab-profile', data-toggle='tab' , background:color="#fffff") Profile Photo
        li
          a(href='#tab-password', data-toggle='tab') Change Password
        li
          a(href='#tab-address', data-toggle='tab') Address
        li
          a(href='#tab-deactivate', data-toggle='tab') Deactivate My Account

      .tab-content
        #tab-profile.tab-pane.fade.in.active
          .row
            .col-md-12
              |add a form here not template
        #tab-password.tab-pane.fade 
          .row
            .col-md-12
              |hello
        #tab-address.tab-pane.fade
          .row
            .col-lg-12 
              |hihello
        #tab-deactivate.tab-pane.fade
          .row
            .col-lg-12 
              |hihellohihihihi      