
<div id="{$_name}" style="{$style} " class="{$class} ">
  {no_auth}
  {$no_auth_message}
  {noAuth}{/noAuth}{/}
  {myaccount_container_wrapper}
  <div class="row">
    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 member-acount-left-panel">
      <div style="height:230px;background: #43cea2;background: -webkit-linear-gradient(to left, #43cea2 , #185a9d);background: linear-gradient(to left, #43cea2 , #185a9d);" class="thumbnail">{avtar}<img style="width:130px;min-height:130px;max-height:130px;margin-top:30px;border:5px solid #fff;background-clip:padding-box;border-radius:18%;" alt-text="" src="{image}./vendor/xepan/commerce/templates/images/memberphoto.png{/}" onerror="this.src='./vendor/xepan/commerce/templates/images/memberphoto.png'"/>{/}<span class="text-center">
          <h2 style="color:white;font-size:20px;">{$name} </h2>
          <div><small style="color:#ffffff; cursor:pointer; cursor: hand; max-width:600px;" class="text-center myaccount-user-image">Edit Image</small></div></span></div>
      <div class="list-group-item">{$myaccount}</div>
      <div class="list-group-item">{$order}</div>{mytemplate_bar}
      <div class="list-group-item">{$mytemplate}</div>{/mytemplate_bar}
      <div class="list-group-item">{$mydesign}</div>
      <div class="list-group-item">{$wishlist}</div>{$wishlist_bar}
      <div class="list-group-item">{$supportticket}</div>
      <div class="list-group-item">{$setting}</div>
      
    </div>
    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
      {myaccount_wrapper}
      <h2 style="font-size:25px">Account Information</h2>
      <hr/>
      <div class="pull-right"> <b>Member Since: &nbsp; </b>{$created_at}  </div>
      <h1 style="font-size:18px">{$name}</h1>{email_wrapper}
      <div class="thumbnail">
        {emails}
        {email_layout}
        {rows}{row}
        {$value}
        {/}{/}
        {/}
        {/}
      </div>{/email_wrapper}
      {Contact_wrapper}
      <div class="thumbnail">
        {contacts}
        {contact_layout}
        {rows}{row}
        {$value}
        {/}{/}
        {/}
        {/}
      </div>{/Contact_wrapper}
      <div style="padding-bottom:20px;" class="row">
        <div class="col-md-4">
          <h3 style="font-size:15px">Permanent Address</h3>
          <p>
            {$member_address}
            {$city}
            {$state}
            {$country}
            {$pin_code}
          </p>
        </div>
        <div class="col-md-4">
          <h3 style="font-size:15px">Billing Address</h3>
          <p>
            {$member_billing_address}
            {$billing_city}
            {$billing_state}
            {$billing_country}
            {$billing_pin_code}
          </p>
        </div>
        <div class="col-md-4">
          <h3 style="font-size:15px">Shipping Address</h3>
          <p>
            {$member_shipping_address}
            {$shipping_city}
            {$shipping_state}
            {$shipping_country}
            {$shipping_pin_code}
          </p>
        </div>
      </div>
      <div class="row">
        <h1 style="font-size:18px">Recent Orders</h1>{$recentorder}
      </div>{/}
      {order_wrapper}
      <h2 style="font-size:25px">Order History</h2>
      <hr/>{$order_history}
      {/}
      {mydesign_wrapper}
      <h2 style="font-size:25px">My Designs</h2>
      <hr/>{$my_designs}
      {/}
      {mytemplate_wrapper}
      <h2 style="font-size:25px">My Templates</h2>
      <hr/>{$my_templates}
      {/}
      {setting_wrapper}
      <h2 style="font-size:25px">Settings</h2>
      <hr/>{$settings}
      {/}
      {wishlist_wrapper}
      <h2 style="font-size:25px">Your Wishlist</h2>
      <hr/>{$your_wishlist}
      {/wishlist_wrapper}
      {support_ticket_wrapper}
      <h2 style="font-size:25px">Support Tickets</h2>
      <hr/>{$view_support_ticket}
      {/}
      {$Content}
    </div>
  </div>{/}
</div>
<style>
  .member-acount-left-panel .list-group-item{
  	padding:0px!important;
  	padding-top:0px!important;
  }
  .member-acount-left-panel h1{
  	color:black!important;
  }
  .member-acount-left-panel .btn{
  	border-radius:0px!important;
  }
  
  .xepan-designer-lister-images-paginator a{
  	padding: 10px;
  }
  .clearfix{
  	padding-bottom: 20px;
  }
</style>