.row
	.col-md-3
		div.thumbnail(style="height:230px;background: #43cea2;background: -webkit-linear-gradient(to left, #43cea2 , #185a9d);background: linear-gradient(to left, #43cea2 , #185a9d);")
			img(style="width:130px;min-height:130px;max-height:130px;margin-top:30px;border:5px solid #fff;background-clip:padding-box;border-radius:18%;" alt-text="" src='{$image ka spot}')
			h2(style="color:white;"){$name}
		{$left}
	.col-md-9  
		{$right}