.xepan-commerce-tool-cart(id='{$_name}', class='{$class}' style="{$style}")
  .row
    .col-md-9.prime-swatch-dark-orange
      {$name}
    .col-md-3.prime-swatch-dark-blue
      {$item_count} Designs