.xepan-commerce-tool-cart(id="{$_name}" class="{$class}")
    
    {Pannel}
    {$grid_buttons} 
    {/Pannel}
    {lister}
    {rows}{row}
    {/}{/}
    {/lister}

    ₹ {sum_amount_excluding_tax}amt_excluding_tax_here{/}
    ₹ {$shipping_charge}
    ₹ {tax_amount}tax_amount{/}
    ₹ {total_amount}total_amount{/}
    {to'view/tool/cart'tals}
    {/}
{$content}