.xepan-commerce-tool-cart(id='{$_name}', class='{$class}')
  ul
    li.dropdown.reset-margin.text-center(style="padding:0px;margin:0px;")
      a.dropdown-toggle.reset-margin(href='#', data-toggle='dropdown', role='button', aria-expanded='false' style="padding:0px;margin:0px;")
        span.xepan-commerce-cart-item-count  {total_count}0{/}
        |  - Items
        span.caret
      ul.dropdown-menu.dropdown-cart.prime-cart(role='menu',style='width:400px; background:white') 
        .scroll-item(margin="10px 20px")
          {lister}
          {rows}{row}
          li(id='item-{$id}' class="xepan-commerce-tool-cart-item-row" style='background:white;'  )
            span.item(style='background:white')
              .row(style='background:#F2F2F2;padding:5px;')
                .col-lg-3(style="margin:0px;padding:0px;")
                  img(alt='', src='{$image_url}')
                .col-lg-8.short-cart-item-name
                  {$name}
                  {$custom_field}
                  .row
                    .col-lg-6.short-cart-item-detail
                      ul 
                        li Item Code :
                        li Qty:
                        li Amount:
                    .col-lg-6.short-cart-item-detail
                      ul
                        li {$item_code}
                        li {$qty}
                        li {$sales_amount}
                .col-lg-1
                  button.btn.btn-xs.btn-info.pull-right.xepan-commerce-cart-item-delete(data-cartid='{$id}') x
          {/}{/}
          {/lister}
        {not_found}
        li.prime-cart-empty
          {$not_found_message}
        {/}
        {footer}
        li.divider
        li
          {sum_amount_excluding_tax_wrapper}
          .row
            .col-lg-6 Sum Amount
            .col-lg-6.text-right  ₹{sum_amount_excluding_tax}{/}
          {/}
          {sum_shipping_charge_wrapper}
          .row
            .col-lg-6 Shipping Charge
            .col-lg-6.text-right ₹{sum_shipping_charge}0.00{/}
          {/}
          {tax_amount_wrapper}
          .row
            .col-lg-6 Tax Amount
            .col-lg-6.text-right ₹ {tax_amount}tax_amount{/}
          {/}
          {total_amount_wrapper}
          .row
            .col-lg-6 Total Amount:
            .col-lg-6.text-right ₹ {net_amount}{/}
          {/}
        li.divider
        li
          .row
            .col-md-6
              {cart_detail_btn_wrapper}
              .btn.btn-success.btn-block
                a.text-center(href="{$cart_detail_url}") View Cart
              {/}
            .col-md-6
              {place_order_wrapper}
              .btn.btn-warning.btn-block.xepan-cart-placeorder-btn
                {place_order}Checkout{/}
              {$Content}
              {/}
        {/footer}
