.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    .main-box-body.clearfix.table
        table.table.user-list.table-hover(style="width:100%")
            {header}
            thead
                {cols}{col}
                th Name
                th Value
                {/}{/}
            {/}
            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td {$name}
                    td {$customfield_generic_id}
                    {/}
                {/}{/}
                {not_found}
                div.row
                    .col-md-12.text-center.alert.alert-warning(role="alert")
                        span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
                {/}