.main-box.infographic-box.colored.emerald-bg
	.row
		h2
			b {$heading}
	.row
		.col-md-3
			b {$title1}
			{$val1}
		.col-md-3
			b {$title2}
			{$val2}
		.col-md-3
			b {$title3}
			{$val3}
		.col-md-3
			b {$title4}
			{$val4}
	.row 
		.col-md-3
			b {$title5}
			{$val5}
		.col-md-3
			b {$title6}
			{$val6}
		.col-md-3
			b {$title7}
			{$val7}
		.col-md-3
			b {$title8}
			{$val8}