
<div id="{$_name}" style="{$style}" class="main-box infographic-box colored emerald-bg {$class}">
  <div class="row">
    <h2><b>{$heading}</b></h2>
  </div>
  <div class="row">
    <div data-status="{$title1}" class="col-md-3"><b>{$title1} &nbsp;  </b>{$val1}</div>
    <div data-status="{$title2}" class="col-md-3"><b>{$title2} &nbsp;  </b>{$val2}</div>
    <div data-status="{$title3}" class="col-md-3"><b>{$title3} &nbsp;  </b>{$val3}</div>
    <div data-status="{$title4}" class="col-md-3"><b>{$title4} &nbsp;  </b>{$val4}</div>
  </div>
  <div class="row"> 
    <div data-status="{$title5}" class="col-md-3"><b>{$title5} &nbsp;</b>{$val5}</div>
    <div data-status="{$title6}" class="col-md-3"><b>{$title6} &nbsp;</b>{$val6}</div>
    <div data-status="{$title7}" class="col-md-3"><b>{$title7} &nbsp;</b>{$val7}</div>
    <div data-status="{$title8}" class="col-md-3"><b>{$title8} &nbsp;</b>{$val8}</div>
  </div>
</div>
<style>
  .col-md-3 b{
  cursor:pointer;
  cursor: hand; 
  max-width:600px;
  }
</style>