div(id="{$_name}" class="{$class}" style="{$style}")
  .social-box.col-md-12.col-sm-4.facebook
    i(class="{$icon-class}")
    .clearfix
      span.social-count {$count}
      span.social-action 
    b.social-name {$title}