.files-container
  .template(style='display:none;')
    | File: 
    span(data-template='original_filename') File
    br
    i.atk-icon.atk-icons-red.atk-icon-basic-ex
    a.delete_doc(href='#') Delete
    span.atk-sep |
    i.atk-icon.atk-icons-red.atk-icon-basic-search
    a.view_doc(href='#') View
    span.atk-sep |
    i.atk-icon.atk-icons-red.atk-icon-office-attach
    a.save_doc(href='#') Download
    img.thumbnail
