div.panel.panel-default.panel-body
	.row.atk-form-row.atk-form-field.xepan-push-small
		strong Date Range :
		{$date_range}
	.row.atk-form-row.atk-form-field.xepan-push-small
		strong Contact :
		{$contact}
	.row.xepan-push
		.col-md-6.atk-form-row.atk-form-field-small
			strong From Amount :
			{$from_amount}
		.col-md-6.atk-form-row.atk-form-field-small
			strong To Amount :
			{$to_amount}
	.row.xepan-push-small
		{$FormButtons}