html
  body
  #user-profile
    .main-box.clearfix
      header.main-box-header.clearfix
        h2.atk-form-row.atk-form-field {first_name}Foo{/first_name} {last_name}Bar{/last_name}
      .main-box-body.clearfix
        .profile-status
          i.fa.fa-circle
          |  Online
        img.profile-img.img-responsive.center-block(alt='', src='img/samples/robert-300.jpg')
        .profile-label
          span.label.label-danger.atk-form-row.atk-form-field {type}Owner{/type}
        .profile-stars
          span {post}Nick name{/}
        .profile-since
          | Customer since: Jan 2012
      div
        .profile-contact
          ul.fa-ul
            li
              i.fa-li.fa
              | Emails: 
              div
                | {Emails}
                div.alert.alert-danger
                  {$grid_buttons}
                | {header}{cols}{col}{$descr}{$sort}{/}{/}{/header}
                |   {rows}{row}{cols}{col}
                div(data-id="{$row_id}" "{$tdparam}") 
                  span.label.label-danger {$email}
                | {$content}
                |{/}{/}{/row}{/rows}{$not_found}
                | {/}
                li
                  i.fa-li.fa.
                  strong Phone No: 
                  div 
                  cite(title='Source Title') 9887012345
                  div 
                    cite(title='Source Title') 9887012345
            div(style='margin-left: 5px;')        
              .btn-group(role='group', aria-label='...')
                a.btn.btn-success(href='#')
                  i.fa.fa-envelope
                  | Send Email
                a.btn.btn-success(href='#')
                  i.fa.fa-envelope
                  | Send Message 
            div
              .profile-details
                ul.fa-ul
                  li
                    i.fa-li.fa
                    | Company Name: 
                    div 
                    cite(title='Source Title') hollywood@stars
                  li
                    i.fa-li.fa.
                    | Post: 
                    div Manager/Owner
                  li
                    i.fa-li.fa.
                    | Website: 
                    div 
                      a(href='#')
                      cite(title='Source Title') www.avengers.com
            div
              .profile-im                            
                ul.fa-ul
                  li
                    strong IM Numbers
                  li  
                    i.fa-li.fa
                    | Skype: 
                    span 
                    cite(title='Source Title') scarlett.johnson
                  li
                    i.fa-li.fa.
                    | Whatsapp: 
                    span 
                    cite(title='Source Title') +919887012345
            hr        
            div
              .profile-events              
                ul.fa-ul
                  li
                    strong Events
                  li  
                    i.fa-li.fa
                    | DOB: 
                    span 
                    cite(title='Source Title') 12/5/85
                  li
                    i.fa-li.fa.
                    | Anaversery: 
                    span
                    cite(title='Source Title')  ------ 
      .col-lg-9.col-md-8.col-sm-8
        .main-box.clearfix
          .tabs-wrapper.profile-tabs
            ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#tab-BasicInfo') Basic Info
              li
                a(data-toggle='tab', href='#tab-Orders') Orders
              li
                a(data-toggle='tab', href='#tab-Invoice') Invoice
              li
                a(data-toggle='tab', href='#tab-Activity') Activity
            .tab-content
              #tab-BasicInfo.tab-pane.fade.in.active
                #BasicInfo
                .col-lg-12
                  .panel.panel-default
                    .panel-body 
                      .col-lg-12
                        .row
                          .col-lg-3
                            label 
                            strong Permanent Address:
                          .col-lg-9
                            | House no - 2222, Udaipur, Rajasthan
                        br  
                        .row
                          .col-lg-3
                            label 
                            strong Shipping Address:
                          .col-lg-9
                            | House no - 2222, Udaipur, Rajasthan
                        br
                        .row
                          .col-lg-3
                            label 
                            strong Billing Address:
                          .col-lg-9
                            | House no - 2222, Udaipur, Rajasthan  
              #tab-Orders.tab-pane.fade
                .table-responsive
                  table.table
                    tbody
                      table.table
                        thead
                          tr
                            th.text-left
                              a(href='#')
                                span Order Id
                            th.text-center
                                span Created
                            th.text-center
                              a.asc(href='#')
                                span Amount
                            th.text-left
                              a.desc(href='#')
                              span Last Action
                            th  
                        tbody
                          tr
                            td
                              a(href='#') 045556
                              br
                              span Scarlet
                            td
                              .row
                                .col-lg-12
                                  .row
                                    .col-lg-6
                                      | Created Date:
                                      br
                                      | Created By:
                                      br
                                      | Invoice:
                                    .col-lg-6.pull-right
                                      | 5 months ago
                                      br
                                      | Hemendra Seth
                                      br
                                      | Not Created
                            td
                              .row
                                .col-lg-12
                                  .row
                                    .col-lg-8
                                      | Amount 
                                      br
                                      | Tax 
                                      br
                                      | Gross Amount 
                                      hr(style='margin:2px;')
                                      | Net Amount 
                                    .col-lg-3.pull-right
                                      | 00000
                                      br
                                      | 0000
                                      br
                                      | 000000 
                                      hr(style='margin:2px;')
                                      | 000000
                            td.text-center
                              span Total Items:
                              br
                              | 8 
                            td(style='width: 15%;')
                              a.table-link(href='#')
                                span.fa-stack
                                  i.fa.fa-square.fa-stack-2x
                                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
                              a.table-link.danger(href='#')
                                span.fa-stack
                                  i.fa.fa-square.fa-stack-2x
                                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
              #tab-Invoice.tab-pane.clearfix.fade
                .table-responsive
                  table.table
                    tbody
                      table.table
                        thead
                          tr
                            th.text-left
                              a(href='#')
                                span Invoice No
                            th.text-center
                              a(href='#')
                                span Amount
                            th.text-center
                              span Info
                            th.text-left
                              a.desc(href='#')
                              span Status
                            th  
                        tbody
                          tr
                            td 
                              a(href='#') 045556
                              br
                              span Scarlet
                            td
                              .row
                                .col-lg-12
                                  .row
                                    .col-lg-8
                                      | Amount 
                                      br
                                      | Tax 
                                      hr(style='margin:2px;')
                                      | Gross Amount  
                                      br
                                      | Shipping Charges
                                      hr(style='margin:2px;')
                                      | Net Amount 
                                    .col-lg-3.pull-right
                                      | 0
                                      br
                                      | 0000
                                      hr(style='margin:2px;')
                                      | 0000 
                                      br
                                      | 0000
                                      hr(style='margin:2px;')
                                      | 0000 
              #tab-Activity.tab-pane.fade
                .table-responsive
                  table.table
                    tbody
                      tr
                        td.text-center
                          i.fa.fa-comment
                        td
                          | Approved invoice number 1001
                        td
                          | 2014/08/08 12:08
                      
                 