
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="btnn btn-primaryy pull-right">{$grid_buttons} </div>
      <div style="width:50%;margin:auto" class="form-group">
        <div class="pull-right"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
      </div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th><span>Name</span></th>
        <th><span>Email</span></th>
        <th><span>Contact No</span></th>
        <th class="text-center"><span>Status</span></th>
        <th> </th>{/}{/}
      </thead>{/}
      {$subheader} 
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td><img src="img/samples/scarlet-159.png" alt=""/><a href="{url}?page=xepan_commerce_customerdetail{/}" class="user-link"> </a>{$customer_name}<span class="user-subhead">Company Name{company_name}</span></td>
          <td><a href="#">{customer_email}</a></td>
          <td>{$contact_no}</td>
          <td class="text-center"><span class="label label-default">{$status}</span></td>
          <td style="width: 20%;">
            {$edit}
            {$delete}
            {/}
          </td>
        </tr>{/}{/}
      </tbody>
    </table>{$Paginator}      
  </div>
</div>