.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    //- .atk-box-small(class="{$pannel_class}") 
    .atk-actions.main-box.clearfix
        header(class="main-box-header clearfix")
            div(class="filter-block" style="100%")
                .btnn.btn-primaryy.pull-right{$grid_buttons} 
                    //- i(class="fa fa-plus-circle fa-lg")
                .form-group(style="width:50%;margin:auto")
                    .pull-right
                        span(class="form-control pull-left")|{$quick_search}
                            i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix.table
        table.user-list.table-hover(style="width:100%")
            {header} 
            thead
                {cols}{col}
                //- th(id="{$sortid}")
                //-     a(href="javascript:void(0)")
                     //- {$descr}
                        //- {sort}
                        //- span(class="{$sorticon}")
                th 
                    a
                    |Image
                th
                    a
                    | Name
                th
                    a
                    | Original Price
                th
                    a
                    | Status
                th
                    a
                    | Sales Price
                th
                    a
                    | Total Sale
                th
                //- {/}
                {/}{/}
            {/}
            {$subheader} 

            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td                             
                        {$image}
                    td   
                        strong 
                        a.user-link(href='{url}?page=xepan_commerce_itemdetail&document_id={$id}{/}')
                            {$name}
                        br
                        | code:{$sku}
                    td
                        {$sale_price}
                        br
                        i(style='text-decoration:line-through;') {$original_price}
                    td
                        {$status}
                    td
                        {$total_sale}
                        br
                        {$salegraph}
                    //- td.btn.btn-info
                    td(style="width: 15%;")
                        //- a(class="table-link" href="#")
                        //-     span(class="fa-stack")
                        //-         i(class="fa fa-square fa-stack-2x")
                        //-         i(class="fa fa-pencil fa-stack-1x fa-inverse")
                        {$edit}
                        //- a(class="table-link danger" href="#")
                        //-     span(class="fa-stack")
                        //-         i(class="fa fa-square fa-stack-2x")
                        //-         i(class="fa fa-trash-o fa-stack-1x fa-inverse")
                        {$delete}
                        {/}
                {/}{/}
                {not_found}
                tr
                    td.atk-padding-large.atk-align-center
                        span.atk-label.atk-effect-warning
                            span.icon-attention &nbsp;{$not_found_message}
                {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
