tr(class="{$odd_even}" data-id="{$id}")
    td
      | {$selected} {$Content}
    td
      | {$item_name}
    td
      | {$total_qty}
    td
      | {$total_delivered}
    td
      | {$present_qty}
    td
      | {$delivered}
    td.col-md-2
        | {$serial}