.xepan-grid.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    .table
        table.table.user-list.table-hover(style="width:100%")
            {header}
            thead
                {cols}{col}
                th
                    span Select Item
                th
                    
                    span Item
                th
                    
                    span Total QTY
                th
                    
                    span Present QTY
                th
                    
                    span Delivered                
                th 
                {/}{/}
            {/}
            {$subheader}