
<div id="{$_name}" class="xepan-grid atk-table atk-table-zebra atk-table-bordered {$class}">
  <div class="table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th><span>Select Item</span></th>
        <th><span>Item</span></th>
        <th><span>Total QTY</span></th>
        <th><span>Present QTY</span></th>
        <th><span>Delivered                </span></th>
        <th> </th>{/}{/}
      </thead>{/}
      {$subheader}
    </table>
  </div>
</div>