
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead class="xepan-hover-hand">{cols}{col}
        <th id="{$related_document_id_sortid}"><span>Order No {$related_document_id_sort}</span></th>
        <th id="{$jobcard_id_sortid}"><span>Jobcard No {$jobcard_id_sort}</span></th>
        <th id="{$from_warehouse_sortid}"><span>From {$from_warehouse_sort}</span></th>
        <th id="{$to_warehouse_sortid}"><span>To {$to_warehouse_sort}</span></th>
        <th> </th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$related_document_id}
            <div class="atk-label"><small class="fa fa-user user-subhead">&nbsp;&nbsp;{customer}N\A{/}</small></div>
          </td>
          <td>{$jobcard_id}
            <div class="atk-label"></div>
          </td>
          <td>{from_warehouse}N\A{/}</td>
          <td>{$to_warehouse}</td>
          <td>{$action}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>