
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table-responsive">
    <table style="width:100%" class="table user-list table-hover footable toggle-circle-filled">{header}
      <thead class="xepan-hover-hand">{cols}{col}
        <th></th>
        <th id="{$from_warehouse_sortid}"><span style="cursor:pointer; cursor: hand; max-width:600px;">From {$from_warehouse_sort}</span></th>
        <th id="{$to_warehouse_sorid}"><span style="cursor:pointer; cursor: hand; max-width:600px;">To {$to_warehouse_sort}</span></th>
        <th id="{$related_document_sortid}" data-hide="phone"><span style="cursor:pointer; cursor: hand; max-width:600px;">Related Document {$related_document_id_sort}</span></th>
        <th id="{$document_type_sortid}" data-hide="phone"><span style="cursor:pointer; cursor: hand; max-width:600px;">Document Type {$document_type_sort}</span></th>
        <th> </th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$selected}</td>
          <td>{$from_warehouse}</td>
          <td>{$to_warehouse}</td>
          <td>{$related_document_id}</td>
          <td>{$document_type}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>