
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table-responsive">
    <table style="width:100%" class="table user-list table-hover footable toggle-circle-filled">{header}
      <thead class="xepan-hover-hand">{cols}{col}
        <th id="{$name_sortid}"><span style="cursor:pointer; cursor: hand; max-width:600px;">Warehouse {$name_sort} </span></th>
        <th id="" data-hide="all"><span style="cursor:pointer; cursor: hand; max-width:600px;">ADDRESS   </span></th>
        <th id="" data-hide="phone"><span style="cursor:pointer; cursor: hand; max-width:600px;">Organization  </span></th>
        <th id="" data-hide="phone"><span style="cursor:pointer; cursor: hand; max-width:600px;">Country  </span></th>
        <th id="" data-hide="phone"><span style="cursor:pointer; cursor: hand; max-width:600px;">State  </span></th>
        <th id="" data-hide="phone"><span style="cursor:pointer; cursor: hand; max-width:600px;">City  </span></th>
        <th id="" data-hide="all"><span style="cursor:pointer; cursor: hand; max-width:600px;">PIN CODE   </span></th>
        <th> </th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td><a>{$first_name}&nbsp;{$last_name}</a></td>
          <td>{$address}</td>
          <td>{$organization}</td>
          <td>{$country}</td>
          <td>{$state}</td>
          <td>{$city}</td>
          <td>{$pin_code}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>