
<div style="opacity: 1;" class="row">
  <div class="col-lg-12">
    <div id="user-profile" class="row">{view_info}
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="main-box clearfix">
          <header class="main-box-header clearfix">
            <h2>{name} Ipad-2 {/}</h2>
          </header>
          <div class="main-box-body clearfix">
            <div class="profile-status"> {stock_availability} Availabe In Stock {/}</div><img alt="" src="img/samples/ipad.png" class="img-responsive center-block"/>
            <div class="profile-label"><span class="label label-info">Phones</span></div>
            <div class="profile-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
            <div class="profile-since">Added in List: {created_at} Jan 2012 {/}</div>
            <div class="profile-details">
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-truck"></i>Orders: <span>{total_orders} 456 {/}</span></li>
                <li><i class="fa-li fa fa-shopping-cart"></i>Sold: <span>{total_sale} 350 {/}</span></li>
              </ul>
            </div>
            <div class="profile-message-btn center-block text-center"><a href="#" class="btn btn-success"><i class="fa fa-edit"></i>Edit</a></div>
          </div>
        </div>
      </div>{/}
      <div class="col-lg-9 col-md-8 col-sm-8">
        <div class="main-box clearfix">
          <div class="tabs-wrapper profile-tabs">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab-Basic">Basic</a></li>
              <li><a data-toggle="tab" href="#tab-Attribute">Attribute</a></li>
              <li><a data-toggle="tab" href="#tab-QtyPrice">Qty&Price</a></li>
              <li><a data-toggle="tab" href="#tab-Category">Category</a></li>
              <li><a data-toggle="tab" href="#tab-SEO">SEO</a></li>
              <li><a data-toggle="tab" href="#tab-ProductionPhase">Production Phase</a></li>
              <li><a data-toggle="tab" href="#tab-Accounts">Accounts</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-Basic" class="tab-pane fade in active">{basic_info}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="main-box clearfix">
                      <header class="main-box-header clearfix">
                        <h2>Detail</h2>
                      </header>
                      <div class="main-box-body clearfix">
                        <div class="row">
                          <div class="col-sm-3">
                            <label> </label><strong>Name:</strong>
                          </div>
                          <div class="col-lg-3"> {name} Wedding Cards {/}</div>
                          <div class="col-sm-3">
                            <label> </label><strong>Code:</strong>
                          </div>
                          <div class="col-lg-3"> {sku} W1001 {/}</div>
                        </div><br/>
                        <div class="row">
                          <div class="col-lg-3">
                            <label></label><strong>Status</strong>
                          </div>
                          <div class="col-lg-3">Publish</div>
                          <div class="col-lg-3">
                            <label> </label><strong>Date</strong>
                          </div>
                          <div class="col-lg-3"> {expiry_date} 25-2-2016 {/}</div>
                        </div><br/>
                        <div class="row">
                          <div class="col-lg-3">
                            <label> </label><strong>Description:</strong>
                          </div>
                          <div class="col-lg-9">{description} This Item to be sold. {/}</div>
                        </div><br/>
                        <div class="row">
                          <div class="col-lg-3">
                            <div class="checkbox-nice">
                              {is_template}
                              {/}
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <label> </label><strong>Designer:</strong>
                          </div>
                          <div class="col-lg-6">Girnar Printers Pvt. Ltd</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="main-box">
                          <header class="main-box-header clearfix">
                            <h2>Item Type</h2>
                          </header>
                          <div class="main-box-body clearfix">
                            <div class="row">
                              <div class="col-lg-3">
                                <div class="checkbox-nice">
                                  {is_saleable}
                                  {/}
                                </div>
                              </div>
                              <div class="col-lg-3">
                                <div class="checkbox-nice">
                                  {is_purchasable}
                                  {/}
                                </div>
                              </div>
                              <div class="col-lg-3">
                                <div class="checkbox-nice">
                                  {is_productionable}
                                  {/}
                                </div>
                              </div>
                              <div class="col-lg-3">
                                <div class="checkbox-nice">
                                  {is_allowuploadable}
                                  {/}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="main-box">
                          <header class="main-box-header clearfix">
                            <h2>Item Stock Info</h2>
                          </header>
                          <div class="main-box-body clearfix">
                            <div class="row">
                              <div class="col-lg-4">
                                <div class="checkbox-nice">
                                  {maintain_inventory}
                                  {/}
                                </div>
                              </div>
                              <div class="col-lg-4">
                                <div class="checkbox-nice">
                                  {allow_negative_stock}
                                  {/}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="main-box clearfix">
                      <header class="main-box-header clearfix">
                        <h2>{$website_display}</h2>
                      </header>
                      <div class="main-box-body clearfix">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="main-box">
                              <header class="main-box-header clearfix">
                                <h2>Item Display Option</h2>
                              </header>
                              <div class="main-box-body clearfix">
                                <div class="row">
                                  <div class="col-lg-4">
                                    <div class="checkbox-nice">
                                      {show_detail}
                                      {/}
                                    </div>
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="checkbox-nice">
                                      {show_price}
                                      {/}
                                    </div>
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="checkbox-nice">
                                      {is_visible_sold}
                                      {/}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="main-box">
                              <header class="main-box-header clearfix">
                                <h2>Marked Option</h2>
                              </header>
                              <div class="main-box-body clearfix"><br/>
                                <div class="row">
                                  <div class="col-lg-3">
                                    <div class="checkbox-nice">
                                      {is_new}
                                      {/}
                                    </div>
                                  </div>
                                  <div class="col-lg-3">
                                    <div class="checkbox-nice">
                                      {is_feature}
                                      {/}
                                    </div>
                                  </div>
                                  <div class="col-lg-3">
                                    <div class="checkbox-nice">
                                      {is_mostviewed}
                                      {/}
                                    </div>
                                  </div>
                                  <div class="col-lg-3">{display_sequence} 5 {/}<small style="width:80%" class="pull-left">Display Sequence</small></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="main-box">
                              <header class="main-box-header clearfix">
                                <h2>Enquiry Option</h2>
                              </header>
                              <div class="main-box-body clearfix">
                                <div class="row">
                                  <div class="col-lg-4">
                                    <div class="checkbox-nice">
                                      {is_enquiry_allow}
                                      {/}
                                    </div>
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="checkbox-nice">
                                      {enquiry_send_to_admin}
                                      {/}
                                    </div>
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="checkbox-nice">
                                      {item_enquiry_auto_reply}
                                      {/}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="main-box">
                              <header class="main-box-header clearfix">
                                <h2>Item Comment Option</h2>
                              </header>
                              <div class="main-box-body clearfix">
                                <div class="row">
                                  <div class="col-lg-4">
                                    <div class="checkbox-nice">
                                      {is_comment_allow}
                                      {/}
                                    </div>
                                  </div>
                                  <div class="col-lg-2">
                                    <label> </label><strong>Comment:</strong>
                                  </div>
                                  <div class="col-lg-6"> {comment_api} This Product is Genuine. {/}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="main-box">
                              <header class="main-box-header clearfix">
                                <h2>Item Other Option</h2>
                              </header>
                              <div class="main-box-body clearfix">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="checkbox-nice">
                                      {add_custom_button}
                                      {/}
                                    </div>
                                  </div>
                                </div><br/>
                                <div class="row">
                                  <div class="col-lg-3">
                                    <label> </label><strong>Custom Button Label:</strong>
                                  </div>
                                  <div class="col-lg-3">
                                     
                                    {custom_button_label} Ipad {/}
                                  </div>
                                  <div class="col-lg-3">
                                    <label> </label><strong>Custom Button Url:</strong>
                                  </div>
                                  <div class="col-lg-3">{custom_button_url} www.ios.com {/}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="main-box">
                          <header class="main-box-body clearfix">
                            <div class="row">
                              <div class="col-lg-3">
                                <label> </label><strong>Terms & Condition:</strong>
                              </div>
                              <div class="col-lg-9"> {terms_and_conditions} This Item have not replacement warranty. {/}</div>
                            </div>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>{/}
              </div>
              <div id="tab-Attribute" class="tab-pane">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                      <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-Specification">Specification</a></li>
                        <li><a data-toggle="tab" href="#tab-CustomField">CustomField</a></li>
                        <li><a data-toggle="tab" href="#tab-StockEffectCustomField">StockEffectCustomField </a></li>
                        <li><a data-toggle="tab" href="#tab-Filter">Filter</a></li>
                      </ul>
                      <div class="tab-content">
                        <div id="tab-Specification" class="tab-pane fade in active">
                          <div class="row">
                            <div class="col-lg-12"><a href="#" class="btn btn-success pull-right"><i class="fa fa-plus"></i>Add Item Specific Association</a></div>
                          </div>
                        </div>
                        <div id="tab-CustomField" class="tab-pane">
                          <div class="row">
                            <div class="col-lg-12">
                              <header class="main-box-header clearfix">
                                <div class="filter-block pull-right"><a href="#" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add Item Field CustomField Assoc</a></div>
                              </header>
                              <div class="main-box-body clearfix">
                                <div class="table-responsive">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th rowspan="1" colspan="1" style="width: 150px;" class="text-left"><a href="#" class="asc"><span>Department Phase</span></a></th>
                                        <th style="width: 150px;" class="text-left"><a href="#" class="asc"><span>Custom Field</span></a></th>
                                        <th class="text-center"><a href="#"><span>Is Active</span></a></th>
                                        <th class="text-center"><a href="#" class="desc"><span>Values</span></a></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr style="width: 150px;">
                                        <td>Desigining</td>
                                        <td style="width: 150px;" class="text-left">Desigining Slides</td>
                                        <td class="text-center"><span class="label label-success">Active</span></td>
                                        <td class="text-center">250</td>
                                        <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
                                      </tr>
                                      <tr style="width: 150px;">
                                        <td>Offset Printing</td>
                                        <td style="width: 150px;" class="text-left">Paper Type</td>
                                        <td class="text-center"><span class="label label-danger">Inactive</span></td>
                                        <td class="text-center">150</td>
                                        <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
                                      </tr>
                                      <tr style="width: 150px;">
                                        <td>Digital Press</td>
                                        <td style="width: 150px;" class="text-left">Paper Type</td>
                                        <td class="text-center"><span class="label label-success">Active</span></td>
                                        <td class="text-center">300</td>
                                        <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
                                      </tr>
                                      <tr style="width: 150px;">
                                        <td>Desigining</td>
                                        <td style="width: 150px;" class="text-left">Desigining Slides</td>
                                        <td class="text-center"><span class="label label-danger">Inactive</span></td>
                                        <td class="text-center">250</td>
                                        <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="tab-StockEffectCustomField" class="tab-pane">
                          <div class="row">
                            <div class="col-lg-12"><a href="#" class="btn btn-success pull-right"><i class="fa fa-plus"></i>Add Item CutomField Association</a></div>
                          </div>
                        </div>
                        <div id="tab-Filter" class="tab-pane">
                          <div class="row">
                            <div class="col-lg-12"><a href="#" class="btn btn-success pull-right"><i class="fa fa-plus"></i>Add Filter</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-QtyPrice" class="tab-pane">{qty_price_detail}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="main-box clearfix">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="col-lg-12">
                            <div class="main-box">
                              <header class="main-box-header clearfix">
                                <h2>Price & Quantity</h2>
                              </header>
                              <div class="main-box-body clearfix">
                                <div class="row">
                                  <div class="col-lg-12"></div>
                                </div><br/>
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="row">
                                      <div class="col-lg-3">
                                        <label> </label><strong>Sales Price: </strong>
                                      </div>
                                      <div class="col-lg-3"> {sale_price} $600 {/}</div>
                                      <div class="col-lg-3">
                                        <label> </label><strong> Original Price: </strong>
                                      </div>
                                      <div class="col-lg-3">{original_price} $800 {/}</div>
                                    </div>
                                  </div>
                                </div><br/>
                                <div class="row">
                                  <div class="col-lg-3">
                                    <label> </label><strong>Min Order Quantity:</strong>
                                  </div>
                                  <div class="col-lg-3"> {minimum_order_qty} $600 {/}</div>
                                  <div class="col-lg-3">
                                    <label> </label><strong> Max Order Quantity: </strong>
                                  </div>
                                  <div class="col-lg-3"> {maximum_order_qty} $700 {/}</div>
                                </div><br/>
                                <div class="row">
                                  <div class="col-lg-3">
                                    <label> </label><strong>Quantity Unit:</strong>
                                  </div>
                                  <div class="col-lg-3"> {qty_unit} 70 {/}</div>
                                  <div class="col-lg-3">
                                    <label> </label><strong>Qty From Set Only:</strong>
                                  </div>
                                  <div class="col-lg-3">
                                    <div class="checkbox-nice">
                                      {qty_from_set_only}
                                      {/}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>{/}                          
                <div class="row">
                  <div class="col-lg-12">
                    <div class="main-box clearfix">
                      <header class="main-box-header clearfix">
                        <div class="filter-block pull-right"><a href="#" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add Quantity Set</a></div>
                        <div class="filter-block pull-right"><a href="#" class="btn btn-primary pull-right"> Upload Data</a></div>
                      </header>
                      <div class="main-box-body clearfix">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th class="text-left"><a href="#" class="asc"><span>Name</span></a></th>
                                <th style="width: 150px;" class="text-center"><a href="#" class="asc"><span>Qty</span></a></th>
                                <th class="text-left"><a href="#"><span>OldPrice</span></a></th>
                                <th class="text-left"><a href="#" class="desc"><span>UnitPrice</span></a></th>
                                <th class="text-center"><a href="#" class="desc"><span>Is Def..</span></a></th>
                                <th class="text-center"><a href="#" class="desc"><span>Custom..</span></a></th>
                                <th class="text-center"><a href="#" class="desc"><span>Conditions</span></a></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Default</td>
                                <td class="text-center">2  </td>
                                <td class="text-left">60</td>
                                <td class="text-left">600 </td>
                                <td class="text-center"><span class="label label-success">Yes</span></td>
                                <td class="text-center">No Condition</td>
                                <td class="text-center">No Warranty</td>
                                <td style="width:  15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
                              </tr>
                              <tr>
                                <td>Default</td>
                                <td class="text-center">15  </td>
                                <td class="text-left">50 </td>
                                <td class="text-left">500</td>
                                <td class="text-center"><span class="label label-danger">No</span></td>
                                <td class="text-center">No Condition</td>
                                <td class="text-center">No Replacement</td>
                                <td style="width: 17%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"> </i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-Category" class="tab-pane">{catg}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="main-box clearfix">
                      <header class="main-box-header clearfix">
                        <h2 class="pull-left">Details</h2>
                        <div class="filter-block pull-right">
                          <div class="form-group pull-right">
                            <input type="text" placeholder="Search..." class="form-control"/><i class="fa fa-search search-icon"></i>
                          </div>
                        </div>
                      </header>
                      <div class="main-box-body clearfix">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th><span>Select</span></th>
                                <th class="text-left"><a href="#"><span>Category Name</span></a></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <div class="checkbox-nice">
                                    <input id="checkbox-1" type="checkbox" checked="checked"/>
                                    <label for="checkbox-1"></label>
                                  </div>
                                </td>
                                <td class="text-left">{category_name} Business Essentials() {/}</td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="checkbox-nice">
                                    <input id="checkbox-2" type="checkbox"/>
                                    <label for="checkbox-2"></label>
                                  </div>
                                </td>
                                <td class="text-left">{category_name}Laminated Business Card() {/}</td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="checkbox-nice">
                                    <input id="checkbox-3" type="checkbox"/>
                                    <label for="checkbox-3"></label>
                                  </div>
                                </td>
                                <td class="text-left">{category_name} Business Essentials() {/}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>{/}
              </div>
              <div id="tab-SEO" class="tab-pane">{seo}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="main-box clearfix"><br/>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="col-lg-4">
                            <label> </label><strong>Meta Title:</strong>
                          </div>
                          <div class="col-lg-8"> {meta_title} $600 {/}</div>
                        </div>
                      </div><br/>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="col-lg-4">
                            <label> </label><strong>Meta Decription:</strong>
                          </div>
                          <div class="col-lg-8"> {meta_description} $7000000000 {/}</div>
                        </div>
                      </div><br/>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="col-lg-4">
                            <label> </label><strong>Tags:</strong>
                          </div>
                          <div class="col-lg-8"> {tags} 70000000000 {/}</div>
                        </div>
                      </div><br/>
                    </div>
                    <div class="row">
                      <div class="col-lg-12"><a href="#" class="btn btn-primary pull-right"> Update</a></div>
                    </div>
                  </div>
                </div>{/}
              </div>
              <div id="tab-ProductionPhase" class="tab-pane">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="main-box clearfix">
                      <header class="main-box-header clearfix">
                        <h2 class="pull-left">Details</h2>
                        <div class="filter-block pull-right">
                          <div class="form-group pull-right">
                            <input type="text" placeholder="Search..." class="form-control"/><i class="fa fa-search search-icon"></i>
                          </div>
                        </div>
                      </header>
                      <div class="main-box-body clearfix">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th><span>Select</span></th>
                                <th class="text-left"><a href="#"><span>Department Phase</span></a></th>
                                <th class="text-left"><a href="#"><span>Production Level</span></a></th>
                                <th class="text-left"><a href="#"><span>Consuption&Composition</span></a></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <div class="checkbox-nice">
                                    <input id="checkbox-1" type="checkbox" checked="checked"/>
                                    <label for="checkbox-1"></label>
                                  </div>
                                </td>
                                <td class="text-left">Business Essentials()</td>
                                <td class="text-left">-2</td>
                                <td><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-plus fa-stack-1x fa-inverse"></i></span></a></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-Accounts" class="tab-pane">
                <div class="row">
                  <div class="col-lg-12">
                    <header class="main-box-header clearfix">
                      <div class="filter-block pull-right"><a href="#" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add Item Tax Association</a></div>
                    </header>
                    <div class="main-box-body clearfix">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th rowspan="1" colspan="1" style="width: 150px;" class="text-left"><a href="#" class="asc"><span>Tax</span></a></th>
                              <th style="width: 150px;" class="text-left"><a href="#" class="asc"><span>Tax Association</span></a></th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr style="width: 150px;">
                              <td><span>Vat 0.5%</span></td>
                              <td class="text-left">50</td>
                              <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>