
<div id="{$_name}" class="xepan-grid main-box clearfix {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form">
        <div class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="small">Empty                   </h4>
            <div data-id="new-item" class="btn btn-primary pull-right btn-empty btn-sm"><span class="small"> Create Item</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-3"> 
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="small">Template                   </h4>
            <div data-id="new-template" class="btn btn-primary pull-right btn-template btn-sm"><span class="small"> Create Item</span></div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
  </header>{/Pannel}
  <div class="main-box-body clearfix">
    <div class="row">
      {header}{cols}{col}{/}{/}{/}
      {rows}{row}
      <div data-id="{$id}" class="{$odd_even} col-md-{col-width}3{/}">{cols}
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 style="width: 100%;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;" class="small">{$name}                  </h4>
            <div data-id="{$id}" class="btn btn-primary pull-right duplicate-btn btn-sm"><span class="small"> Duplicate</span></div>
          </div>
        </div>
      </div>{/}
      {/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
      {totals}{cols}{col}{$content}{/}{/}{/}
    </div>{$Paginator}
  </div>
</div>