.row
  .col-lg-4.col-md-6.col-sm-6
    .main-box.clearfix.project-box.green-box
      .main-box-body.clearfix
        .project-box-header
          .infographic-box.colored.red-bg
            i.fa.fa-trash-o
            span.headline Item
            span.value Empty
        .project-box-content
          .text-center
            h1
              a(href="?page=xepan_commerce_itemdetail&action=add&itemtype=empty" ) Create New
            span Description
        .project-box-footer.clearfix
          a(href='#')
            span.value 93
            span.label Total
          a(href='#')
            span.value 90
            span.label Active
          a(href='#')
            span.value 3
            span.label Inactive
  .col-lg-4.col-md-6.col-sm-6
    .main-box.clearfix.project-box.green-box
      .main-box-body.clearfix
        .project-box-header
          .infographic-box.colored.emerald-bg
            i.fa.fa-shopping-cart
            span.headline Item
            span.value Online Sale
        .project-box-content
          .text-center
            h1
              a(href="?page=xepan_commerce_itemdetail&action=add&itemtype=onlinesale" ) Create New
            span Description
        .project-box-footer.clearfix
          a(href='#')
            span.value 93
            span.label Total
          a(href='#')
            span.value 90
            span.label Active
          a(href='#')
            span.value 3
            span.label Inactive
  .col-lg-4.col-md-6.col-sm-6
    .main-box.clearfix.project-box.green-box
      .main-box-body.clearfix
        .project-box-header
          .infographic-box.colored.purple-bg
            i.fa.fa-money
            span.headline Item
            span.value Purchase
        .project-box-content
          .text-center
            h1
              a(href="?page=xepan_commerce_itemdetail&action=add&itemtype=purchase" ) Create New
            span Description
        .project-box-footer.clearfix
          a(href='#')
            span.value 93
            span.label Total
          a(href='#')
            span.value 90
            span.label Active
          a(href='#')
            span.value 3
            span.label Inactive
  .col-lg-4.col-md-6.col-sm-6
    .main-box.clearfix.project-box.green-box
      .main-box-body.clearfix
        .project-box-header
          .infographic-box.colored.green-bg
            i.fa.fa-globe
            span.headline Item
            span.value Website Display
        .project-box-content
          .text-center
            h1
              a(href="?page=xepan_commerce_itemdetail&action=add&itemtype=websitedisplay" ) Create New
            span Description
        .project-box-footer.clearfix
          a(href='#')
            span.value 93
            span.label Total
          a(href='#')
            span.value 90
            span.label Active
          a(href='#')
            span.value 3
            span.label Inactive
  .col-lg-4.col-md-6.col-sm-6
    .main-box.clearfix.project-box.green-box
      .main-box-body.clearfix
        .project-box-header
          .infographic-box.colored.gray-bg
            i.fa.fa-home
            span.headline Item
            span.value Offline Sale
        .project-box-content
          .text-center
            h1
              a(href="?page=xepan_commerce_itemdetail&action=add&itemtype=offlinesale" ) Create New
            span Description
        .project-box-footer.clearfix
          a(href='#')
            span.value 93
            span.label Total
          a(href='#')
            span.value 90
            span.label Active
          a(href='#')
            span.value 3
            span.label Inactive
  .col-lg-4.col-md-6.col-sm-6
    .main-box.clearfix.project-box.green-box
      .main-box-body.clearfix
        .project-box-header
          .infographic-box.colored.yellow-bg
            i.fa.fa-pencil
            span.headline Item
            span.value Designable
        .project-box-content
          .text-center
            h1
              a(href="?page=xepan_commerce_itemdetail&action=add&itemtype=designable" ) Create New
            span Description
        .project-box-footer.clearfix
          a(href='#')
            span.value 93
            span.label Total
          a(href='#')
            span.value 90
            span.label Active
          a(href='#')
            span.value 3
            span.label Inactive