table(style='width: 100%; font-family: times new roman,times,serif; padding: 5px;')
  //- {header}{cols}{col}
  thead
    tr(style='border: 0.9px solid #6e6e6e;')
      td(style='width: 40%; font-size: 8px; border: 1px solid #6e6e6e;')
        span(style='font-size: 8px;')
          strong Particular
      td(style='font-size: 8px; text-align: center; width: 10%; border: 1px solid #6e6e6e;')
        span(style='font-size: 8px;')
          strong Qty
      td(style='font-size: 8px; text-align: center; border: 1px solid #6e6e6e; width: 15%;')
        span(style='font-size: 8px;')
          strong Rate
      td(style='font-size: 8px; text-align: center; width: 10%; border: 1px solid #6e6e6e;')
        span(style='font-size: 8px;')
          strong Tax %
      td(style='font-size: 8px; text-align: right; border: 1px solid #6e6e6e; width: 10%;')
        span(style='font-size: 8px;')
          strong Tax Amount
      td(style='font-size: 8px; text-align: right; border: 1px solid #6e6e6e; width: 15%;')
        p
          strong
            span(style='font-size: 8px;') Gross Amount
            br
          span(style='font-size: 8px;') (Including Tax)
  //- {/}{/}{/}
  //- {$subheader}
  //- {rows}{row}{cols}
  tbody
    tr
      td(style='text-align: left; border: 1px solid #6e6e6e;')
        | {$name}
        br
        small
          | {$narration}
          br
          small {$extra_info}
          br
      td(style='font-size: 8px; text-align: center; border: 1px solid #6e6e6e;')
        span(style='font-size: 8px;') {$quantity}
      td(style='font-size: 8px; text-align: center; border: 1px solid #6e6e6e;')
        span(style='font-size: 8px;') {$price} /{$qty_unit}
      td(style='font-size: 8px; text-align: center; border: 1px solid #6e6e6e;')
        span(style='font-size: 8px;') {$tax_percentage}
      td(style='font-size: 8px; text-align: right; border: 1px solid #6e6e6e;')
        span(style='font-size: 8px;') {$tax_amount}
      td(style='font-size: 8px; text-align: right; border: 1px solid #6e6e6e;')
        span(style='font-size: 8px;') {$total_amount}
  //- {/cols}{/row}{/rows}
p {not_found}{$not_found_message}{/}
