.xepan-grid.clearfix.atk-table.atk-table-zebra(id="{$_name}" class="{$class}")
    .main-box-body.clearfix
        .table-responsive
            table.table.printable-table.table-hover(style="width:100%;text-align:right;")
              {header}
              thead
                  {cols}{col}
                  tr
                      th(style="text-align:left;width:5%;")
                        span 
                          strong Sno
                      th(style="text-align:left;width:20%;")
                        span 
                          strong Particular
                      th(style="width:15%;")
                        span 
                          strong Rate
                      th(style="width:10%;")
                        span
                          strong Qty
                      th(style="width:15%;")
                        span
                          strong Amount
                          small
                            strong 
                              div excluding tax
                      th(style="width:7%;")
                        span 
                          strong Tax %
                      th(style="width:13%;")
                        span
                          strong Tax
                      th(style="width:15%;")
                        soan
                          strong Amount
                        small
                          div
                            strong including tax
                  {/}{/}
              {/}
              {$subheader}

              tbody
                  {rows}{row}
                  tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td(style="text-align:left;") {sno}01{/}
                    td(style="text-align:left;") {item}Item Name{/}
                      small
                        div {$extra_info}
                    td {price}price_here{/}
                    td {quantity}{/}
                    td {amount_excluding_tax}{/}
                    td {tax_percentage}{/}
                    td {tax_amount}tax_amount{/}
                    td {total_amount}total_amount{/}
                    {/}
                  {/}{/}
                  {not_found}
                  div.row
                      .col-md-12.text-center.alert.alert-warning(role="alert")
                          span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
                  {/}

                  {totals}
                  tfoot
                      tr(class="totals")
                          {cols}{col}
                          <td {$tdparam}>
                          {$content}
                          </td>
                          {/}{/}
                  {/}
  style.
    .printable-table th, .printable-table td{
        border: 0.9px solid #f3f3f3;
        border-collapse: collapse;
    }