<table style="width: 100%; border: 1px solid #6e6e6e;">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr style="height: 13px;">
<td style="text-align: center; height: 13px;">Delivery Note Details For Order No : {$related_sale_order}</td>
</tr>
<tr>
<td><hr /></td>
</tr>
<tr style="height: 23px;">
<td style="height: 23px;">
<table>
<tbody>
<tr>
<td>Date</td>
<td>{$date}</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="height: 61px;">
<td style="height: 61px;">
<table>
<tbody>
<tr>
<td>Company</td>
<td>{$company_name}</td>
</tr>
<tr>
<td>Contact</td>
<td>{$company_contact}</td>
</tr>
<tr>
<td>Address</td>
<td>{$company_address}</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="height: 13px;">
<td><hr /></td>
</tr>
<tr style="height: 13px;">
<td style="text-align: center; height: 13px;">Delivery Details</td>
</tr>
<tr style="height: 13px;">
<td style="height: 13px;"><hr /></td>
</tr>
<tr style="height: 13px;">
<td style="height: 13px;">{$item_info}</td>
</tr>
<tr>
<td><hr /></td>
</tr>
<tr>
<td style="text-align: right;">Authorized Signatuary</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>