table(id="{$_name}" width="100%")
  tr
    td(style="border:2pt solid #ddd;")
      div(style='color:black;') {$contact}{contact_id}{/}
      .billing_address.atk-form-row.atk-form-field{$billing_address}
      .billing_city.atk-form-row.atk-form-field{$billing_city}
      .billing_state {$billing_state}
      .billing_pincode.atk-form-row.atk-form-field{$billing_pincode}
      .billing_country.atk-form-row.atk-form-field{$billing_country}
      .billing_tel.atk-form-row.atk-form-field{$billing_contact}
      .billing_email {$billing_email}
    td(style="border:2pt solid #ddd;")
      .shipping_address {$shipping_address}
      .shipping_city {$shipping_city}
      .shipping_state {$shipping_state}
      .shipping_pincode {$shipping_pincode}
      .shipping_country {$shipping_country}
      .shipping_tel {$shipping_contact} 
      .shipping_email {$shipping_email}
    td(style="border:2pt solid #ddd;")
      {type} DocType {/} No:
      .atk-form-row.atk-form-field {$document_no}
      | Created At : 
      div(style="border:0.5pt solid #ddd;") {$created_at}
      | Updated At : 
      .atk-form-row.atk-form-field {$due_date}
  tr
    td(colspan=3)
      {$item_info}
  tr
    td(style="border:2pt solid #ddd;")
      div(style="font-weight: bold; margin-left: 25px;") Narration :
      div(style=" margin-left: 25px;") {narration} This Item to be sold and replaced and Reproduction and wastage. {/}
    td(style="border:2pt solid #ddd;")  
      div(style="font-weight: bold; margin-left: 25px;") Gross Amount
      div(style="font-weight: bold; margin-left: 25px;") Discount
      div(style="font-weight: bold; font-size: 20px; margin-left: 25px;") GRAND TOTAL
    td(style="border:2pt solid #ddd;")  
      div(style="margin-left: 25px;") {gross_amount} $ 00000000 {/}
      div(style="margin-left: 25px;") {discount_amount} $ 00000000 {/}
      div(style="font-weight: bold; font-size: 20px; margin-left: 25px;") {net_amount} $ 0000000{/}
  tr
    td(colspan=2 style="border:2pt solid #ddd;")
      div(style="font-weight: bold; margin-left: 25px;") Terms & Conditions:
      div(style="margin-left: 25px;") {$tnc_id}
      div(style="margin-left: 25px;") {$tnc_text}
      div(style="margin-left: 25px;") {terms_and_conditions}
        {rows}{row}
        {terms_and_conditions}Not Specified{/} 
        {/}{/}
        {/}
    td(style="border:2pt solid #ddd;")
      div(style="font-weight: bold; margin-left: 45px;") Vat Sum
      div(style="margin-left: 25px;") {common_vat}
        div(style="margin-left: 25px;") {$id} = {$name}
        {/}
      div(style="font-weight: bold; margin-left: 45px;").atk-form-row.atk-form-field.currency{$currency} {$currency_id} @
      div(style="margin-left: 45px;").atk-form-row.atk-form-field.exchange_rate{$exchange_rate}
      div(style="font-weight: bold; margin-left: 45px;") Nominal
      div(style="margin-left: 45px;").atk-form-row.atk-form-field.nominal{$nominal} {$nominal_id}