table(style='height: 112px; border-color: #000000;', border='true', width='610')
  tbody
    tr
      td(style='width: 40%;')
        img(style='display: block; margin-left: auto; margin-right: auto;', src='../websites/default/XavocTechnocratsLogoSmall.png', width='180', height='90')
      td(style='text-align: center;')
        h2(style='text-align: center; font-size: 13px; ')
          strong Xavoc Technocrats Pvt. Ltd.
        div(style='text-align: center; font-size: 7px;')
          | Reg.Office:18/436,Gaytri Marg, Kanji ka hata, Dhabai Ji ka wada,
          br
          | Udaipur (Rajasthan) -313001 (INDIA)
          br
          |  Email: 
          a(href='mailto:info@xavoc.com,management@xavoc.com') info@xavoc.com,management@xavoc.com 
          br
          | Call: 9782300801, 8875191258
    tr
      td(style='text-align: center;', colspan='2')
        hr
    tbody
      tr
        td(style='width:45%')
          table
            thead
              tr
                td(style='vertical-align: top;')
                  p Quotation/PI No.:{$document_no}
                td(style='text-align: right; vertical-align: top;')
                  p(style='text-align: left;') Date :{$created_at}
              tr
                td(style='font-size: 8px; font-size: 8px; vertical-align: top;')
                  p
                    strong Our Bankers:
                    br
                    | ICICI Bank
                    br
                    | Udaipur,BAPU BAZAR Branch
                    br
                    | NEFT IFSC Code: ICIC0006933
                td(style='font-size: 8px; text-align: right; vertical-align: top;')
                  p(style='text-align: left;')
                    strong A/c No
                    | :-
                    br
                    | 693305500100
        td(style='width:55%')
          div
            | To, 
            br
            |     {$contact}{contact_id}{/}
          div(style='font-size: 8px;')
            b  Billing Address:
            br
            |      {$billing_address}, {$billing_city} 
            br
            |      {$billing_state}, {$billing_pincode}, {$billing_country}
            br
            |      {$billing_contact}    {$billing_email}
    div
      hr
    table(style='width:100%;')
      tbody
        tr
          td(style='font-size: 8px;')
            | {$item_info}
    table
      tbody
        tr
          td(style='width: 50%;')
            | Narration: 
            div(style='font-size: 8px;') {$narration}
          td(style='width: 50%;')
            table
              tbody
                tr
                  td Gross Amount:
                  td(style='font-size: 8px;text-align:right;') {$gross_amount}
                tr
                  td Discount:
                  td(style='font-size: 8px;text-align:right;') {$discount_amount}
                tr
                  td Grand Total:
                  td(style='font-size: 8px;text-align:right;') {$net_amount}
        div
          hr
        table
          tbody
            tr
              td(style='width:40%;')
                div(style='font-size: 7px;')  Vat sum: {common_vat}
                div(style='font-size: 7px;') {$id} = {$name}
                | {/}
                div(style='font-size: 7px;') {$currency} {$currency_id} @  {$exchange_rate}  
                h4
                  | For Xavoc Terchnocrats Pvt. Ltd
                  br
                  br
                  br
                  br
                  br
                table(style='height: 30px; width: 100%;')
                  tbody
                    tr
                      td(style='text-align: left; font-size: 7px;') Authorized Signatory
                      td(style='text-align: right; font-size: 7px;') Customer's Signature
                    div
                    div(style='text-align: center; font-size: 7px;') Computer generated rate quotation/Proforma Invoice
              td(style='width:60%;')
                | Terms and conditions
                div(style= 'font-size: 6px;')
                  {$tnc_id}
                  {$tnc_text} 
                  {terms_and_conditions}
                  {header}
                  {cols}{col}
                  span Items Specific Conditions :
                  {/}{/}
                  {/}
                  {$subheader}

                  {rows}{row}
                  {cols}
                  {terms_and_conditions}Not Specified{/}
                  {/}
                  {/}{/}
                  {/}

                  //- {$tnc_id}
                  //- {$tnc_text} 
                  
                  //- {terms_and_conditions}
                  //- {rows}{row}
                  //- {terms_and_conditions}{/} 
                  //- {/}{/}
                  //- {/}