
<table id="{$_name}" width="100%">
  <tr>
    <td style="border:2pt solid #ddd;">
      <div style="color:black;">{$contact}{contact_id}{/}</div>
      <div class="billing_address atk-form-row atk-form-field">{$billing_address}</div>
      <div class="billing_city atk-form-row atk-form-field">{$billing_city}</div>
      <div class="billing_state">{$billing_state}</div>
      <div class="billing_pincode atk-form-row atk-form-field">{$billing_pincode}</div>
      <div class="billing_country atk-form-row atk-form-field">{$billing_country}</div>
      <div class="billing_tel atk-form-row atk-form-field">{$billing_contact}</div>
      <div class="billing_email">{$billing_email}</div>
    </td>
    <td style="border:2pt solid #ddd;">
      <div class="shipping_address">{$shipping_address}</div>
      <div class="shipping_city">{$shipping_city}</div>
      <div class="shipping_state">{$shipping_state}</div>
      <div class="shipping_pincode">{$shipping_pincode}</div>
      <div class="shipping_country">{$shipping_country}</div>
      <div class="shipping_tel">{$shipping_contact} </div>
      <div class="shipping_email">{$shipping_email}</div>
    </td>
    <td style="border:2pt solid #ddd;">{type} DocType {/} No:
      <div class="atk-form-row atk-form-field">{$document_no}</div>Created At : 
      <div style="border:0.5pt solid #ddd;">{$created_at}</div>Updated At : 
      <div class="atk-form-row atk-form-field">{$due_date}</div>
    </td>
  </tr>
  <tr>
    <td colspan="3">{$item_info}</td>
  </tr>
  <tr>
    <td style="border:2pt solid #ddd;">
      <div style="font-weight: bold; margin-left: 25px;">Narration :</div>
      <div style=" margin-left: 25px;">{narration} This Item to be sold and replaced and Reproduction and wastage. {/}</div>
    </td>
    <td style="border:2pt solid #ddd;"> 
      <div style="font-weight: bold; margin-left: 25px;">Gross Amount</div>
      <div style="font-weight: bold; margin-left: 25px;">Discount</div>
      <div style="font-weight: bold; font-size: 20px; margin-left: 25px;">GRAND TOTAL</div>
    </td>
    <td style="border:2pt solid #ddd;"> 
      <div style="margin-left: 25px;">{gross_amount} $ 00000000 {/}</div>
      <div style="margin-left: 25px;">{discount_amount} $ 00000000 {/}</div>
      <div style="font-weight: bold; font-size: 20px; margin-left: 25px;">{net_amount} $ 0000000{/}</div>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="border:2pt solid #ddd;">
      <div style="font-weight: bold; margin-left: 25px;">Terms & Conditions:</div>
      <div style="margin-left: 25px;">{$tnc_id}</div>
      <div style="margin-left: 25px;">{$tnc_text}</div>
      <div style="margin-left: 25px;">
        {terms_and_conditions}
        {rows}{row}
        {terms_and_conditions}Not Specified{/} 
        {/}{/}
        {/}
      </div>
    </td>
    <td style="border:2pt solid #ddd;">
      <div style="font-weight: bold; margin-left: 45px;">Vat Sum</div>
      <div style="margin-left: 25px;">{common_vat}
        <div style="margin-left: 25px;">{$id} = {$name}</div>{/}
      </div>
      <div style="font-weight: bold; margin-left: 45px;" class="atk-form-row atk-form-field currency">{$currency} {$currency_id} @</div>
      <div style="margin-left: 45px;" class="atk-form-row atk-form-field exchange_rate">{$exchange_rate}</div>
      <div style="font-weight: bold; margin-left: 45px;">Nominal</div>
      <div style="margin-left: 45px;" class="atk-form-row atk-form-field nominal">{$nominal} {$nominal_id}</div>
    </td>
  </tr>
</table>