
<div id="{$_name}" class="xepan-grid clearfix atk-table atk-table-zebra {$class}">
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table style="width:100%;" class="table printable-table table-hover">{header}
        <thead>{cols}{col}
          <tr>
            <th> <span> <strong>Sno</strong></span></th>
            <th> <span> <strong>Particular</strong></span></th>
            <th> <span> <strong>Rate</strong></span></th>
            <th> <span><strong>Qty</strong></span></th>
            <th> <span><strong>Amount</strong><small><strong> 
                    <div>excluding tax</div></strong></small></span></th>
            <th> <span> <strong>Tax %</strong></span></th>
            <th> <span><strong>Tax</strong></span></th>
            <th> 
              <soan><strong>Amount</strong></soan><small>
                <div><strong>including tax</strong></div></small>
            </th>
          </tr>{/}{/}
        </thead>{/}
        {$subheader}
        <tbody>{rows}{row}
          <tr data-id="{$id}" class="{$odd_even}">{cols}
            <td>{sno}01{/}</td>
            <td>{item}Item Name{/}<small>
                <div>{$extra_info}</div></small></td>
            <td>{price}price_here{/}</td>
            <td>{quantity}{/}</td>
            <td>{amount_excluding_tax}{/}</td>
            <td>{tax_percentage}{/}</td>
            <td>{tax_amount}tax_amount{/}</td>
            <td>{total_amount}total_amount{/}</td>{/}
          </tr>{/}{/}
          {not_found}
          <div class="row">
            <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
          </div>{/}
          {totals}
          <tfoot>
            <tr class="totals">
              {cols}{col}
              <td {$tdparam}>
              {$content}
              </td>
              {/}{/}
            </tr>
          </tfoot>{/}
        </tbody>{$Paginator}
      </table>
    </div>
  </div>
</div>
<style>
  .printable-table th, .printable-table td{
      border: 0.9px solid #f3f3f3;
      border-collapse: collapse;
  }
</style>