<div id="{$_name}" class="xepan-grid clearfix atk-table atk-table-zebra {$class}">{header}{cols}{col}{/}{/}{/}</div>
<table style="width: 100%; margin: 0px;">
<tbody>
<tr style="border: 0.9px solid #f3f3f3;">
<td style="text-align: left; width: 115px; font-size: 8px; border: 0.9px solid #f3f3f3;">Particular</td>
<td style="font-size: 8px; border: 0.9px solid #f3f3f3;">Rate</td>
<td style="font-size: 8px; border: 0.9px solid #f3f3f3;">Qty</td>
<td style="font-size: 8px; border: 0.9px solid #f3f3f3;">Amount</td>
<td style="font-size: 8px; border: 0.9px solid #f3f3f3;">Tax %</td>
<td style="font-size: 8px; border: 0.9px solid #f3f3f3;">Tax</td>
<td style="font-size: 8px; border: 0.9px solid #f3f3f3;">Amount</td>
</tr>
</tbody>
</table>
<p style="height: 0px margin:0px;">{rows}{row}{cols}</p>
<table style="width: 100%; margin: 0px;">
<tbody>
<tr>
<td style="text-align: left; width: 115px; border: 0.9px solid #f3f3f3;">{$item}<br /> {$extra_info}</td>
<td style="font-size: 8px; border: 0.9px solid #f3f3f3;">{$price}</td>
<td style="font-size: 8px; border: 0.9px solid #f3f3f3;">{$quantity}</td>
<td style="font-size: 8px; border: 0.9px solid #f3f3f3;">{$amount_excluding_tax}</td>
<td style="font-size: 8px; border: 0.9px solid #f3f3f3;">{$tax_percentage}</td>
<td style="font-size: 8px; border: 0.9px solid #f3f3f3;">{$tax_amount}</td>
<td style="font-size: 8px; border: 0.9px solid #f3f3f3;">{$total_amount}</td>
</tr>
</tbody>
</table>
<p style="height: 0px; margin: 0px;">{/cols}{/row}{/rows} {not_found}{$not_found_message}{/}</p>