
<div id="{$_name}" style="display:none" for-xepan-component="xepan/commerce/Tool_Cart" class="xepan-tool-options">
  <h3>Item Detail Options</h3>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Name</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_name" data-attr="show_name">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Description</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_description" data-attr="show_description">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Customfield</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_customfield" data-attr="show_customfield">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Specification</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_specification" data-attr="show_specification">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show QtyForm</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_qtyform" data-attr="show_qtyform">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show AddToCart</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_addtocart" data-attr="show_addtocart">
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Qty Input</div>
    <div class="xepan-tool-option-value"> 
      <select data-attr="show_qty_input" data-defaultvalue="true">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Qty Label</div>
    <div class="xepan-tool-option-value"> 
        <input data-attr="qty_label" value="Qty" data-defaultvalue="Qty"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Item Upload</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_item_upload" data-attr="show_item_upload">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Personalize Button Label</div>
    <div class="xepan-tool-option-value"> 
      <input id="personalized_button_label" data-attr="personalized_button_label"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">AddToCart Button Label</div>
    <div class="xepan-tool-option-value"> 
      <input id="addtocart_button_label" data-attr="addtocart_button_label"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Specification Layout</div>
    <div class="xepan-tool-option-value"> 
      <input id="specification_layout" data-attr="specification_layout"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Personalized Page</div>
    <div class="xepan-tool-option-value"> 
      <input id="personalized_page" data-attr="personalized_page"/>
    </div>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		$(this).val($(current_selected_component).attr($(this).data('attr')));				
    	});
    })
  </script>
</div>