.xepan-tool-options(id='{$_name}', style='display:none', for-xepan-component='xepan/commerce/Tool_Designer')
  //- #xepan-cms-groups-panel.xepan-cms-groups-panel.collapse.in
  //- .xepan-cms-group-panel.clearfix
  //-   h3.collapsed(data-toggle='collapse', data-target='#collapse-designer-tool-options', aria-expanded='false')
  //-     span Designer Options
  //-   #collapse-designer-tool-options.xepan-cms-tools-bar-panel.row-fluid.collapse.in
  //-     .panel-body
  #xepan-cms-groups-panel.xepan-cms-groups-panel.collapse.in
  .xepan-cms-group-panel.clearfix
    .panel.panel-heading.panel-primary.collapsed(data-toggle='collapse', data-target='#show-hide-desinger-tool-btn', aria-expanded='false')
      span Hide/ Show
      i.fa.fa-chevron-down.pull-right
  #show-hide-desinger-tool-btn.xepan-cms-tools-bar-panel.row-fluid.collapse
    table.table.table-condensed.table-hover.xepan-cms-tool-table
      tr.xepan-tool-option
          td.xepan-tool-option-title Show AddtoCart Button
          td.xepan-tool-option-value
            select#show_addtocart_button(data-attr='show_addtocart_button', data-defaultvalue='true', data-togglevalue='true', data-toggleclass='.xepan-commerce-designer-option-toggle')
              option(value='true') Yes
              option(value='false') No
      tr.xepan-tool-option
          td.xepan-tool-option-title Show Quantity Form For Cart
          td.xepan-tool-option-value
            select#show_qtyform(data-attr='show_qtyform' data-defaultvalue="false" value="false")
              option(value="true") True
              option(value="false") False
      tr.xepan-tool-option
          td.xepan-tool-option-title Show Multi Step Form For Cart
          td.xepan-tool-option-value
            select#show_multi_step_form(data-attr='show_multi_step_form' data-defaultvalue="false" value="false")
              option(value="true") True
              option(value="false") False
      tr.xepan-tool-option
          td.xepan-tool-option-title Show Unit Price / Total Amount 
          td.xepan-tool-option-value
            select#show_price(data-attr='show_price' data-defaultvalue="false" value="false")
              option(value="true") True
              option(value="false") False
      tr.xepan-tool-option
          td.xepan-tool-option-title Show Shipping Charge
          td.xepan-tool-option-value
            select#show_shipping_charge(data-attr='show_shipping_charge' data-defaultvalue="false" value="false")
              option(value="true") True
              option(value="false") False
      tr.xepan-tool-option
          td.xepan-tool-option-title Show Shipping Charge With Item Amount
          td.xepan-tool-option-value 
            select#shipping_charge_with_item_amount(data-attr='shipping_charge_with_item_amount' data-defaultvalue="false")
              option(value="true") True
              option(value="false") False
      tr.xepan-commerce-designer-option-toggle.xepan-tool-option
          td.xepan-tool-option-title Show Original Price
          td.xepan-tool-option-value
            select#show_original_price(data-attr='show_original_price' data-defaultvalue="false" value="false")
              option(value="true") Yes
              option(value="false" selected="selected") No
  #xepan-cms-groups-panel.xepan-cms-groups-panel.collapse.in
  .xepan-cms-group-panel.clearfix
    .panel.panel-heading.panel-primary.collapsed(data-toggle='collapse', data-target='#show-hide-desinger-tool-cart-button', aria-expanded='false')
      span Add To Cart Button Name 
      i.fa.fa-chevron-down.pull-right
  #show-hide-desinger-tool-cart-button.xepan-cms-tools-bar-panel.row-fluid.collapse
    table.table.table-condensed.table-hover.xepan-cms-tool-table
      tr
        .xepan-tool-option
          td.xepan-tool-option-title Add to Cart Button
          td.xepan-tool-option-value
            input#button_name(data-attr='button_name')
  #xepan-cms-groups-panel.xepan-cms-groups-panel.collapse.in
  .xepan-cms-group-panel.clearfix
    .panel.panel-heading.panel-primary.collapsed(data-toggle='collapse', data-target='#show-hide-desinger-tool-page-url', aria-expanded='false')
      span Redirecl Links 
      i.fa.fa-chevron-down.pull-right
  #show-hide-desinger-tool-page-url.xepan-cms-tools-bar-panel.row-fluid.collapse
    table.table.table-condensed.table-hover.xepan-cms-tool-table
      tr.xepan-commerce-designer-option-toggle.xepan-tool-option
          td.xepan-tool-option-title Checkout Page
          td.xepan-tool-option-value
            input#designer_tool_checkout_page(data-attr='checkout_page')
      tr.xepan-commerce-designer-option-toggle.xepan-tool-option
          td.xepan-tool-option-title Continue Shopping Page
          td.xepan-tool-option-value
            input#designer_tool_continue_shopping_page(data-attr='continue_shopping_page')
      tr.xepan-commerce-designer-option-toggle.xepan-tool-option
          td.xepan-tool-option-title Success Message
          td.xepan-tool-option-value
            input#designer_tool_successmessage(data-attr='success_message')
      tr.xepan-commerce-itemdetail-multistep-form-layout
        div.xepan-tool-option
          td.xepan-tool-option-title.Amount Group
          td.xepan-tool-option-value
            input(id="amount_group_in_multistepform" data-attr="amount_group_in_multistepform")
  #xepan-cms-groups-panel.xepan-cms-groups-panel.collapse.in
  .xepan-cms-group-panel.clearfix
    .panel.panel-heading.panel-primary.collapsed(data-toggle='collapse', data-target='#show-hide-desinger-tool-watermark', aria-expanded='false')
      span Water Mark 
      i.fa.fa-chevron-down.pull-right
  #show-hide-desinger-tool-watermark.xepan-cms-tools-bar-panel.row-fluid.collapse
    table.table.table-condensed.table-hover.xepan-cms-tool-table
      tr.xepan-tool-option
          td.xepan-tool-option-title Watermark Text
          td.xepan-tool-option-value
            input#watermark_text(data-attr='watermark_text')
  #xepan-cms-groups-panel.xepan-cms-groups-panel.collapse.in
  .xepan-cms-group-panel.clearfix
    .panel.panel-heading.panel-primary.collapsed(data-toggle='collapse', data-target='#show-hide-desinger-tool-aprv-dsg-chk-lable', aria-expanded='false')
      span Approve Design 
      i.fa.fa-chevron-down.pull-right
  #show-hide-desinger-tool-aprv-dsg-chk-lable.xepan-cms-tools-bar-panel.row-fluid.collapse
    table.table.table-condensed.table-hover.xepan-cms-tool-table
      tr.xepan-tool-option
          td.xepan-tool-option-title Approved Design Checkbox Label
          td.xepan-tool-option-value
            input#approved_design_checkbox_label(data-attr='approved_design_checkbox_label')
  script.
    $('#{$_name} [data-attr]').on('change',function(){
    $(current_selected_component).attr($(this).data('attr'),$(this).val());
    // show or hide the toggle class
    if($(this).data('toggleclass')){
    var value = $(this).data('togglevalue').toString();
    if($(this).val() === value){
    $($(this).data('toggleclass')).show();
    }else
    $($(this).data('toggleclass')).hide();
    }
    });
    $('#{$_name}').on('show',function(event){
    $('#{$_name} [data-attr]').each(function(index,value){
    // setting up default value if no option selected
    var default_value = $(this).attr('data-defaultvalue');
    if($(current_selected_component).attr($(this).data('attr')))
    default_value = $(current_selected_component).attr($(this).data('attr'));
    $(this).val(default_value);
    });
    })
