.xepan-tool-options(id='{$_name}' for-xepan-component='xepan/commerce/Tool_MyAccount' style="display:none")
	.xepan-cms-group-panel.clearfix
		//- h3.collapsed(data-toggle="collapse" data-target="#collapse-member-account" aria-expanded="false")
		//- 	span|Member Account Options
		#collapse-member-account.xepan-cms-tools-bar-panel.row-fluid.collapse.in
			.panel-body(style="padding-top:0px;padding-bottom:0px;")
				.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
				.xepan-cms-group-panel.clearfix(style="padding:0px;")
					div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#show-hide-member-acc" aria-expanded="false")
						span Hide/ Show
						i.fa.fa-chevron-down.pull-right
				#show-hide-member-acc.xepan-cms-tools-bar-panel.row-fluid.collapse
					table.table.table-condensed.table-hover.xepan-cms-tool-table
						tr.xepan-tool-option
							td.xepan-tool-option-title Show My Template
							td.xepan-tool-option-value 
								select#show_my_template(data-attr='show_my_template')
									option(value='true') Yes
									option(value='false') No
						tr.xepan-tool-option
							td.xepan-tool-option-title Show Duplicate template Form
							td.xepan-tool-option-value 
								select#show_duplicate_form(data-attr='show_duplicate_form')
									option(value='true') Yes
									option(value='false') No
						tr.xepan-tool-option
							td.xepan-tool-option-title Show Empty Category
							td.xepan-tool-option-value
								select#show_empty_category(data-attr='show_empty_category')
									option(value='true') Yes
									option(value='false') No
						tr.xepan-tool-option
							td.xepan-tool-option-title Keep Login on Password Change
							td.xepan-tool-option-value
								select#show_empty_category(data-attr='keep-login-on-password-change' data-defaultvalue='true')
									option(value='true') Yes
									option(value='false') No

				.xepan-cms-group-panel.clearfix(style="padding:0px;")
					div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#member-account-layout" aria-expanded="false")
						span Layout / Templates
						i.fa.fa-chevron-down.pull-right
				#member-account-layout.xepan-cms-tools-bar-panel.row-fluid.collapse
					table.table.table-condensed.table-hover.xepan-cms-tool-table
						tr.xepan-tool-option
							td.xepan-tool-option-title Layout
							td.xepan-tool-option-value
								input#layout(data-attr='layout' data-defaultvalue="myaccount" value="myaccount")
						tr.xepan-tool-option
							td.xepan-tool-option-title Custom Template
							td.xepan-tool-option-value 
								input#custom_template(data-attr='custom_template')
						tr.xepan-tool-option
							td.xepan-tool-option-title Tool Customer Setting Section Layout
							td.xepan-tool-option-value
								input#custom_layout(data-attr='customer-setting-layout' data-defaultvalue="myaccountsetting" value="myaccountsetting")
						tr.xepan-tool-option
							td.xepan-tool-option-title Product Designer Page
							td.xepan-tool-option-value
								input#product_design_page(data-attr='designer-page')
						tr.xepan-tool-option
							td.xepan-tool-option-title Login Page
							td.xepan-tool-option-value
								input#login_page(data-attr='xepan_commerce_login_page' data-defaultvalue="login")
						tr.xepan-tool-option
							td.xepan-tool-option-title Customer Design Grid Layout
							td.xepan-tool-option-value
								input#cust_design_layout(data-attr='customer-design-grid-layout' data-defaultvalue="customerdesign")
						tr.xepan-tool-option
							td.xepan-tool-option-title Design Template Grid Layout
							td.xepan-tool-option-value
								input#temp_grid_layout(data-attr='customer-template-grid-layout' data-defaultvalue="customertemplate")
						tr.xepan-tool-option
							td.xepan-tool-option-title Setting Layout
							td.xepan-tool-option-value
								input#setting_page(data-attr='customer-setting-layout' data-defaultvalue="myaccountsetting")
	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				
				var default_value = $(this).attr('data-defaultvalue');
				if($(current_selected_component).attr($(this).data('attr')))
					default_value = $(current_selected_component).attr($(this).data('attr'));
				$(this).val(default_value);
			});
		})    