
<div id="{$_name}" style="display:none" for-xepan-component="xepan/commerce/Tool_ItemList" class="xepan-tool-options">
  <h3>Cart Options</h3>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Name</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_name" data-attr="show_name">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Image</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_image" data-attr="show_image">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show SKU</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_sku" data-attr="show_sku">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">SKU Percentage</div>
    <div class="xepan-tool-option-value"> 
      <input id="sku_percentage" data-attr="sku_percentage"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Sale Price</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_sale_price" data-attr="show_sale_price">
        <option>true																					</option>
        <option>false	</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Original Price</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_original_price" data-attr="show_original_price">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Description</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_description" data-attr="show_description">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Tags</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_tags" data-attr="show_tags">
        <option>true																					</option>
        <option>false	</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Specification</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_Specification" data-attr="show_Specification">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Customfield Type</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_customfield_type" data-attr="show_customfield_type">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Qty Unit</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_qty_unit" data-attr="show_qty_unit">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Stock Availability</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_stock_availability" data-attr="show_stock_availability">
        <option>true																					</option>
        <option>false	</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Is Enquiry Allow</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_is_enquiry_allow" data-attr="show_is_enquiry_allow">
        <option>true																					</option>
        <option>false																											</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Is Mostviewed</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_is_mostviewed" data-attr="show_is_mostviewed">
        <option>true	</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Is New</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_is_new" data-attr="show_is_new">
        <option>true																					</option>
        <option>false																																																																																																																																																							</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Paginator</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_paginator" data-attr="show_paginator">
        <option>true																					</option>
        <option>false																																																																			</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show personalized</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_personalized" data-attr="show_personalized">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Add To Cart</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_addtocart" data-attr="show_addtocart">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Layout</div>
    <div class="xepan-tool-option-value"> 
      <input id="layout" data-attr="layout"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Personalized Button Name</div>
    <div class="xepan-tool-option-value"> 
      <input id="personalized_button_name" data-attr="personalized_button_name"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Personalized Page Url</div>
    <div class="xepan-tool-option-value"> 
      <input id="personalized_page_url" data-attr="personalized_page_url"/>
    </div>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		$(this).val($(current_selected_component).attr($(this).data('attr')));				
    	});
    })
  </script>
</div>