.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xepan/commerce/Tool_ItemList')
	h3 Cart Options
	.xepan-tool-option
		.xepan-tool-option-title Show Name
		.xepan-tool-option-value 
			select#show_name(data-attr='show_name')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Show Image
		.xepan-tool-option-value 
			select#show_image(data-attr='show_image')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Show SKU
		.xepan-tool-option-value 
			select#show_sku(data-attr='show_sku')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title SKU Percentage
		.xepan-tool-option-value 
			input#sku_percentage(data-attr='sku_percentage')										
	.xepan-tool-option
		.xepan-tool-option-title Show Sale Price
		.xepan-tool-option-value 
			select#show_sale_price(data-attr='show_sale_price')
				option true																					
				option false	
	.xepan-tool-option
		.xepan-tool-option-title Show Original Price
		.xepan-tool-option-value 
			select#show_original_price(data-attr='show_original_price')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Show Description
		.xepan-tool-option-value 
			select#show_description(data-attr='show_description')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Show Tags
		.xepan-tool-option-value 
			select#show_tags(data-attr='show_tags')
				option true																					
				option false	
	.xepan-tool-option
		.xepan-tool-option-title Show Specification
		.xepan-tool-option-value 
			select#show_Specification(data-attr='show_Specification')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Show Customfield Type
		.xepan-tool-option-value 
			select#show_customfield_type(data-attr='show_customfield_type')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Show Qty Unit
		.xepan-tool-option-value 
			select#show_qty_unit(data-attr='show_qty_unit')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Show Stock Availability
		.xepan-tool-option-value 
			select#show_stock_availability(data-attr='show_stock_availability')
				option true																					
				option false	
	.xepan-tool-option
		.xepan-tool-option-title Show Is Enquiry Allow
		.xepan-tool-option-value 
			select#show_is_enquiry_allow(data-attr='show_is_enquiry_allow')
				option true																					
				option false																											
	.xepan-tool-option
		.xepan-tool-option-title Show Is Mostviewed
		.xepan-tool-option-value 
			select#show_is_mostviewed(data-attr='show_is_mostviewed')
				option true	
				option false
	.xepan-tool-option
		.xepan-tool-option-title Show Is New
		.xepan-tool-option-value 
			select#show_is_new(data-attr='show_is_new')
				option true																					
				option false																																																																																																																																																							
	.xepan-tool-option
		.xepan-tool-option-title Show Paginator
		.xepan-tool-option-value 
			select#show_paginator(data-attr='show_paginator')
				option true																					
				option false																																																																			
	.xepan-tool-option
		.xepan-tool-option-title Show personalized
		.xepan-tool-option-value 
			select#show_personalized(data-attr='show_personalized')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Show Add To Cart
		.xepan-tool-option-value 
			select#show_addtocart(data-attr='show_addtocart')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Layout
		.xepan-tool-option-value 
			input#layout(data-attr='layout')
	.xepan-tool-option
		.xepan-tool-option-title Personalized Button Name
		.xepan-tool-option-value 
			input#personalized_button_name(data-attr='personalized_button_name')
	.xepan-tool-option
		.xepan-tool-option-title Personalized Page Url
		.xepan-tool-option-value 
			input#personalized_page_url(data-attr='personalized_page_url')													
	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				$(this).val($(current_selected_component).attr($(this).data('attr')));				
			});
		})