.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xepan/commerce/Tool_Cart')
	h3 Cart Options
	.xepan-tool-option
		.xepan-tool-option-title Show QTY Form
		.xepan-tool-option-value 
			select#show-qtyform(data-attr='show-qtyform' value="true")
				option(value="true") True
				option(value="false") False
	.xepan-tool-option
		.xepan-tool-option-title Show Customfield
		.xepan-tool-option-value 
			select#show_customfield(data-attr='show_customfield')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Discount Vouchers
		.xepan-tool-option-value 
			select#show_discount_voucher(data-attr='show_discount_voucher')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Show Design Edit
		.xepan-tool-option-value 
			select#show_design_edit(data-attr='show_design_edit')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Image
		.xepan-tool-option-value 
			select#image(data-attr='image')
				option yes																					
				option no	
	.xepan-tool-option
		.xepan-tool-option-title Show Round Amount
		.xepan-tool-option-value 
			select#show_round_amount(data-attr='show_round_amount')
				option yes																					
				option no
	.xepan-tool-option
		.xepan-tool-option-title Layout
		.xepan-tool-option-value
			select#template(data-attr='layout' value="true")
				option(value="short_cart") Short
				option(value="detail_cart") Detail
	.xepan-tool-option
		.xepan-tool-option-title Checkout Page
		.xepan-tool-option-value 
			input#checkout_page(data-attr='checkout_page')
	.xepan-tool-option
		.xepan-tool-option-title Place Order Button Name
		.xepan-tool-option-value 
			input(type="text")#place_order_button_name(data-attr='place_order_button_name' value="Place Order")
	.xepan-tool-option
		.xepan-tool-option-title Cart Detail Url
		.xepan-tool-option-value 
			input#template(data-attr='template')
	.xepan-tool-option
		.xepan-tool-option-title Layout
		.xepan-tool-option-value 
			input#layout(data-attr='layout')
	.xepan-tool-option
		.xepan-tool-option-title Designer Page Url
		.xepan-tool-option-value 
			input#designer_page_url(data-attr='designer_page_url')
								
	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				$(this).val($(current_selected_component).attr($(this).data('attr')));				
			});
		})