
<div id="{$_name}" style="display:none" for-xepan-component="xepan/commerce/Tool_CategoryDetail" class="xepan-tool-options">
  <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
  <div class="xepan-cms-group-panel clearfix">
    <div data-toggle="collapse" data-target="#show-hide-category-detail-option" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Hide/ Show</span><i class="fa fa-chevron-down pull-right"></i></div>
  </div>
  <div id="show-hide-category-detail-option" class="xepan-cms-tools-bar-panel row-fluid collapse">
    <table class="table table-condensed table-hover xepan-cms-tool-table">
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Show Image</td>
        <td class="xepan-tool-option-value"> 
          <select id="show_image" data-attr="show_image" data-defaultvalue="true">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Show Name</td>
        <td class="xepan-tool-option-value"> 
          <select id="show_name" data-attr="show_name" data-defaultvalue="true">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Show Price</td>
        <td class="xepan-tool-option-value"> 
          <select id="show_price" data-attr="show_price" data-defaultvalue="true">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Show Category Description</td>
        <td class="xepan-tool-option-value"> 
          <select id="show_category_description" data-attr="show_description" data-defaultvalue="true">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Show Item Count</td>
        <td class="xepan-tool-option-value">
          <select id="show_item_count" data-attr="show_item_count" data-defaultvalue="true" data-togglevalue="true" data-toggleclass=".xepan-commerce-catdetail-includesubcat-toggle">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-commerce-catdetail-includesubcat-toggle xepan-tool-option">
        <td class="xepan-tool-option-title">Include Sub Category</td>
        <td class="xepan-tool-option-value">
          <select id="include_child_category" data-attr="include_child_category" data-defaultvalue="true">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Name Redirects To Next Page</td>
        <td class="xepan-tool-option-value">
          <select id="name_redirect" data-attr="name_redirects_to_next_page" data-defaultvalue="false">									
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </tr>
    </table>
  </div>
  <div class="xepan-cms-group-panel">
    <div data-toggle="collapse" data-target="#category-detail-option-layout" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Layout</span><i class="fa fa-chevron-down pull-right"></i></div>
  </div>
  <div id="category-detail-option-layout" class="xepan-cms-tools-bar-panel row-fluid collapse">
    <table class="table table-condensed table-hover xepan-cms-tool-table">
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Custom Template</td>
        <td class="xepan-tool-option-value">
          <input id="url_page" data-attr="custom_template"/>
        </td>
      </tr>
    </table>
  </div>
  <div class="xepan-cms-group-panel">
    <div data-toggle="collapse" data-target="#category-detail-option-redirect" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Redirect Link</span><i class="fa fa-chevron-down pull-right"></i></div>
  </div>
  <div id="category-detail-option-redirect" class="xepan-cms-tools-bar-panel row-fluid collapse">
    <table class="table table-condensed table-hover xepan-cms-tool-table">
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Redirect Page</td>
        <td class="xepan-tool-option-value">
          <input id="page" data-attr="redirect_page"/>
        </td>
      </tr>
    </table>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    	// show or hide the toggle class
    	if($(this).data('toggleclass')){
    		var value = $(this).data('togglevalue').toString();
    		if($(this).val() === value){
    			$($(this).data('toggleclass')).show();
    		}else
    			$($(this).data('toggleclass')).hide();
    	}
    
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		// setting up default value if no option selected
    		var default_value = $(this).attr('data-defaultvalue');
    		if($(current_selected_component).attr($(this).data('attr')))
    			default_value = $(current_selected_component).attr($(this).data('attr'));
    		
    		$(this).val(default_value);
    	});
    	
    });	
  </script>
</div>