
<div id="{$_name}" style="display:none" for-xepan-component="xepan/commerce/Tool_Item_Detail" class="xepan-tool-options">
  <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
  <div class="xepan-cms-group-panel clearfix">
    <div id="collapse-item-details" class="xepan-cms-tools-bar-panel row-fluid collapse in">
      <div style="padding-top:0px;padding-bottom:0px;" class="panel-body">
        <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
        <div class="xepan-cms-group-panel clearfix">
          <div data-toggle="collapse" data-target="#show-hide-item-details" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Hide/ Show</span><i class="fa fa-chevron-down pull-right"></i></div>
        </div>
        <div id="show-hide-item-details" class="xepan-cms-tools-bar-panel row-fluid collapse">
          <table class="table table-condensed table-hover xepan-cms-tool-table">
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Item Upload</td>
              <td class="xepan-tool-option-value"> 
                <select id="show_item_upload" data-attr="show_item_upload" data-defaultvalue="false">
                  <option value="true">Ye</option>
                  <option value="false">No</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Addtocart</td>
              <td class="xepan-tool-option-value"> 
                <select id="show_addtocart" data-attr="show_addtocart" data-defaultvalue="true">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Multi Step Form</td>
              <td class="xepan-tool-option-value"> 
                <select id="show_multistepform" data-attr="show_multi_step_form" data-defaultvalue="false" data-togglevalue="true" data-toggleclass=".xepan-commerce-itemdetail-multistep-form-layout">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-commerce-itemdetail-multistep-form-layout xepan-tool-option">
              <td class="xepan-tool-option-title">Form Layout</td>
              <td class="xepan-tool-option-value"> 
                <select id="show_multistepform" data-attr="multi_step_form_layout" data-defaultvalue="stacked">
                  <option value="stacked">Stacked</option>
                  <option value="vertical">Vertical</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Price/Amount</td>
              <td class="xepan-tool-option-value"> 
                <select id="show_price_or_amount" data-attr="show_price_or_amount" data-defaultvalue="false">
                  <option value="false">Show Amount</option>
                  <option value="true">Show Price</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Item Price</td>
              <td class="xepan-tool-option-value">
                <select id="show_item_price_sale_or_both" data-attr="show_original_price" data-defaultvalue="true">
                  <option value="true">Both (sale/original price)</option>
                  <option value="false">Sale Price Only</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Shipping Charge</td>
              <td class="xepan-tool-option-value"> 
                <select id="show_shipping_charge" data-attr="show_shipping_charge" data-defaultvalue="false" value="false">
                  <option value="true">True</option>
                  <option value="false" selected="selected">False</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Shipping Charge With Item Amount</td>
              <td class="xepan-tool-option-value"> 
                <select id="shipping_charge_with_item_amount" data-attr="shipping_charge_with_item_amount" data-defaultvalue="false">
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Add To Wishlit</td>
              <td class="xepan-tool-option-value"> 
                <select id="show_addtowishlist" data-attr="show_addtowishlist" data-defaultvalue="true">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div>Wishlist Button Label</div>
                <input data-attr="wishlist_button_name" data-defaultvalue="add to wish list">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div>Wishlist Not Login Error Message</div>
                <input data-attr="wishlist_not_login_error_message" data-defaultvalue="login first to add in your wish">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div>Wishlist Not Customer Error Message</div>
                <input data-attr="wishlist_not_customer_error_message" data-defaultvalue="you are not a customer">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div>Wishlist Success Message</div>
                <input data-attr="wishlist_success_message" data-defaultvalue="Added in your wish list">
              </td>
            </tr>

            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Review & Rating</td>
              <td class="xepan-tool-option-value"> 
                <select data-attr="show_review" data-defaultvalue="1">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Review Form</td>
              <td class="xepan-tool-option-value"> 
                <select data-attr="show_review_form" data-defaultvalue="1">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
        <div class="xepan-cms-group-panel clearfix">
          <div data-toggle="collapse" data-target="#item-details-specific-lay" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Layout</span><i class="fa fa-chevron-down pull-right"></i></div>
        </div>
        <div id="item-details-specific-lay" class="xepan-cms-tools-bar-panel row-fluid collapse">
          <table class="table table-condensed table-hover xepan-cms-tool-table">
            <tr>
              <div class="xepan-tool-option">
                <td class="xepan-tool-option-title">Predefine Layout</td>
                <td class="xepan-tool-option-value"> 
                  <select id="predefine_layout" data-attr="layout" data-defaultvalue="primary">
                    <option value="primary">Primary</option>
                    <option value="flat">Flat</option>
                    <option value="tab">Tab</option>
                    <option value="collapse">Collapse</option>
                    <option value="tabandprimary">Tab and Primary</option>
                  </select>
                </td>
              </div>
            </tr>
            <tr>
              <div class="xepan-tool-option">
                <td class="xepan-tool-option-title">Custom Template</td>
                <td class="xepan-tool-option-value">
                  <input id="custom_template" data-attr="custom_template"/>
                </td>
              </div>
            </tr>
            <tr>
              <div class="xepan-tool-option">
                <td class="xepan-tool-option-title">Specification Layout</td>
                <td class="xepan-tool-option-value">
                  <input id="specification_layout" data-attr="specification_layout"/>
                </td>
              </div>
            </tr>
          </table>
        </div>
        <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
        <div class="xepan-cms-group-panel clearfix">
          <div data-toggle="collapse" data-target="#item-details-page-link" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Page Link</span><i class="fa fa-chevron-down pull-right"></i></div>
        </div>
        <div id="item-details-page-link" class="xepan-cms-tools-bar-panel row-fluid collapse">
          <table class="table table-condensed table-hover xepan-cms-tool-table">
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Personalize Page Url</td>
              <td class="xepan-tool-option-value"> 
                <input id="personalized_page" data-attr="personalized_page"/>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Checkout Page Url</td>
              <td class="xepan-tool-option-value"> 
                <input id="checkout_page" data-attr="checkout_page"/>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Continue Shopping Page</td>
              <td class="xepan-tool-option-value"> 
                <input id="continue_shopping_page" data-attr="continue_shopping_page"/>
              </td>
            </tr>
          </table>
        </div>
        <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
        <div class="xepan-cms-group-panel clearfix">
          <div data-toggle="collapse" data-target="#item-details-btn-label" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Button Labels</span><i class="fa fa-chevron-down pull-right"></i></div>
        </div>
        <div id="item-details-btn-label" class="xepan-cms-tools-bar-panel row-fluid collapse">
          <table class="table table-condensed table-hover xepan-cms-tool-table">
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Personalized Button Label</td>
              <td class="xepan-tool-option-value"> 
                <input id="personalized_button_label" data-attr="personalized_button_label"/>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Add To Cart Button Label</td>
              <td class="xepan-tool-option-value"> 
                <input id="addtocart_button_label" data-attr="addtocart_button_label"/>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		var default_value = $(this).attr('data-defaultvalue');
    		if($(current_selected_component).attr($(this).data('attr')))
    			default_value = $(current_selected_component).attr($(this).data('attr'));
    		
    		$(this).val(default_value);
    	});
    });
    
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    	// show or hide the toggle class
    	if($(this).data('toggleclass')){
    		var value = $(this).data('togglevalue').toString();
    		if($(this).val() === value){
    			$($(this).data('toggleclass')).show();
    		}else
    			$($(this).data('toggleclass')).hide();
    	}
    });
  </script>
</div>