.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xepan/commerce/Tool_Cart')
	//- .xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
	//- .xepan-cms-group-panel.clearfix
	//- 	h3.collapsed(data-toggle="collapse" data-target="#collapse-item-cart" aria-expanded="false")
	//- 		span| Cart Options
	//- #collapse-item-cart.xepan-cms-tools-bar-panel.row-fluid.collapse.in
	//- 	.panel-body
	.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
	.xepan-cms-group-panel.clearfix
		div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#show-hide-item-cart" aria-expanded="false")
			span Hide/ Show
			i.fa.fa-chevron-down.pull-right
	#show-hide-item-cart.xepan-cms-tools-bar-panel.row-fluid.collapse
		table.table.table-condensed.table-hover.xepan-cms-tool-table
			tr.xepan-tool-option
				td.xepan-tool-option-title Show Customfield
				td.xepan-tool-option-value 
					select#show_customfield(data-attr='show_customfield')
						option(value="true") Show																					
						option(value="false") Hide
			tr.xepan-tool-option
				td.xepan-tool-option-title Discount Vouchers
				td.xepan-tool-option-value 
					select#show_discount_voucher(data-attr='show_discount_voucher')
						option(value="true") Show																					
						option(value="false") Hide
			tr.xepan-tool-option
				td.xepan-tool-option-title Show Design Edit
				td.xepan-tool-option-value 
					select#show_design_edit(data-attr='show_design_edit')
						option(value="true") Show																					
						option(value="false") Hide
			tr.xepan-tool-option
				td.xepan-tool-option-title Show Item Image
				td.xepan-tool-option-value 
					select#image(data-attr='image')
						option(value="true") Show			
						option(value="false") Hide
			tr.xepan-tool-option
				td.xepan-tool-option-title Show Express Shipping
				td.xepan-tool-option-value 
					select#expressshipping(data-attr='show_express_shipping')
						option(value="true") Show
						option(value="false") Hide
			tr.xepan-tool-option
				td.xepan-tool-option-title Show Total Tax Amount
				td.xepan-tool-option-value 
					select#showtotaltaxamount(data-attr='show_total_tax_amount')
						option(value="true") Show
						option(value="false") Hide
	.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
	.xepan-cms-group-panel.clearfix
		div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#layouts-item-cart" aria-expanded="false")
			span Layouts
			i.fa.fa-chevron-down.pull-right
	#layouts-item-cart.xepan-cms-tools-bar-panel.row-fluid.collapse
		table.table.table-condensed.table-hover.xepan-cms-tool-table
			tr.xepan-tool-option
				td.xepan-tool-option-title Custom Template Page
				td.xepan-tool-option-value 
					input#custom_template(data-attr='custom_template')
			tr.xepan-tool-option
				td.xepan-tool-option-title Layout
				td.xepan-tool-option-value
					select#template(data-attr='layout' value="true")
						option(value="short_cart") Short
						option(value="detail_cart") Detail
	.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
	.xepan-cms-group-panel.clearfix
		div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#page-links-item-cart" aria-expanded="false")
			span Page Links
			i.fa.fa-chevron-down.pull-right
	#page-links-item-cart.xepan-cms-tools-bar-panel.row-fluid.collapse
		table.table.table-condensed.table-hover.xepan-cms-tool-table.xepan-cms-tool-table
			tr.xepan-tool-option
				td.xepan-tool-option-title Checkout Page
				td.xepan-tool-option-value 
					input#checkout_page(data-attr='checkout_page')
			tr.xepan-tool-option
				td.xepan-tool-option-title Cart Detail Url
				td.xepan-tool-option-value 
					input#template(data-attr='cart_detail_url')
			tr.xepan-tool-option
				td.xepan-tool-option-title Designer Page Url
				td.xepan-tool-option-value 
					input#designer_page_url(data-attr='designer_page_url')
	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				$(this).val($(current_selected_component).attr($(this).data('attr')));				
			});
		})