
<div id="{$_name}" style="display:none" for-xepan-component="xepan/commerce/Tool_ItemImage" class="xepan-tool-options">
  <div class="xepan-cms-group-panel clearfix">
    <h3 data-toggle="collapse" data-target="#collapseOne-image" aria-expanded="false" class="collapsed"><span>Image Option </span></h3>
    <div id="collapseOne-image" class="xepan-cms-tools-bar-panel row-fluid collapse">
      <div class="panel-body">
        <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
        <div class="xepan-cms-group-panel clearfix">
          <div data-toggle="collapse" data-target="#showhideimage" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Hide/ Show</span></div>
        </div>
        <div id="showhideimage" class="xepan-cms-tools-bar-panel row-fluid collapse">
          <table class="table table-condensed table-hover">
            <tr>
              <div class="xepan-tool-option">
                <td class="xepan-tool-option-title">Zoom Effect</td>
                <td class="xepan-tool-option-value"> 
                  <select id="zoom-effect" data-attr="zoom-effect">
                    <option value="true">Yes																					</option>
                    <option value="false">No</option>
                  </select>
                </td>
              </div>
            </tr>
          </table>
        </div>
        <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel1 collapse in"></div>
        <div class="xepan-cms-group-panel1 clearfix">
          <div data-toggle="collapse" data-target="#elevatezoom-item-image" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Elevate Zoom</span></div>
        </div>
        <div id="elevatezoom-item-image" class="xepan-cms-tools-bar-panel row-fluid collapse">
          <table class="table table-condensed table-hover">						
            <tr>
              <div class="xepan-tool-option">
                <td class="xepan-tool-option-title">Zoom Type</td>
                <td class="xepan-tool-option-value"> 
                  <select id="zoom-type" data-attr="zoom-type">
                    <option value="">none																					</option>
                    <option value="inner">Inner Zoom																					</option>
                    <option value="lens">Lens Zoom									</option>
                  </select>
                </td>
              </div>
            </tr>
            <tr>
              <div class="xepan-tool-option">
                <td class="xepan-tool-option-title">zoom Window Position</td>
                <td class="xepan-tool-option-value"> 
                  <select id="zoom-window-position" data-attr="zoom-window-position">
                    <option value="1">1																					</option>
                    <option value="2">2																																						</option>
                    <option value="3">3																																						</option>
                    <option value="4">4																																						</option>
                    <option value="5">5																																						</option>
                    <option value="6">6																																						</option>
                    <option value="7">7																																						</option>
                    <option value="8">8																																						</option>
                    <option value="9">9																																						</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                  </select>
                </td>
              </div>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		$(this).val($(current_selected_component).attr($(this).data('attr')));				
    	});
    })
  </script>
</div>