.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xepan/commerce/Tool_ItemImage')
	.xepan-cms-group-panel.clearfix
		//- h3.collapsed(data-toggle="collapse" data-target="#collapseOne-image" aria-expanded="false")
		//- 	span| Image Option 
		#collapseOne-image.xepan-cms-tools-bar-panel.row-fluid.collapse.in
			.panel-body(style="padding-top:0px;padding-bottom:0px;")
				.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
				.xepan-cms-group-panel.clearfix
					div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#showhideimage" aria-expanded="false")
						span Hide/ Show
						i.fa.fa-chevron-down.pull-right
				#showhideimage.xepan-cms-tools-bar-panel.row-fluid.collapse
					table.table.table-condensed.table-hover.xepan-cms-tool-table
						tr.xepan-tool-option
							td.xepan-tool-option-title Zoom Effect
							td.xepan-tool-option-value 
								select#zoom-effect(data-attr='zoom-effect')
									option(value='true') Yes
									option(value='false') No
						tr.xepan-tool-option
							td.xepan-tool-option-title Title
							td.xepan-tool-option-value 
								select#title(data-attr='showtitle')
									option(value=1) Yes
									option(value=0) No
				.xepan-cms-groups-panel1.collapse.in(id="xepan-cms-groups-panel")
				.xepan-cms-group-panel1.clearfix
					div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#elevatezoom-item-image" aria-expanded="false")
						span Elevate Zoom
						i.fa.fa-chevron-down.pull-right
				#elevatezoom-item-image.xepan-cms-tools-bar-panel.row-fluid.collapse
					table.table.table-condensed.table-hover.xepan-cms-tool-table
						tr.xepan-tool-option
							td.xepan-tool-option-title Zoom Type
							td.xepan-tool-option-value 
								select#zoom-type(data-attr='zoom-type')
									option(value="window") Window
									option(value="inner") Inner Zoom
										//- option(value="lens") Lens Zoom
						tr.xepan-tool-option
							td.xepan-tool-option-title zoom Window Position
							td.xepan-tool-option-value 
								select#zoom-window-position(data-attr='zoom-window-position')
									option(value=1) 1																					
									option(value=2) 2																																						
									option(value=3) 3																																						
									option(value=4) 4																																						
									option(value=5) 5																																						
									option(value=6) 6																																						
									option(value=7) 7																																						
									option(value=8) 8																																						
									option(value=9) 9																																						
									option(value=10) 10
									option(value=11) 11
									option(value=12) 12
									option(value=13) 13
									option(value=14) 14
									option(value=15) 15
									option(value=16) 16
	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				$(this).val($(current_selected_component).attr($(this).data('attr')));				
			});
		})