
<div id="{$_name}" for-xepan-component="xepan/commerce/Tool_CategoryDetail" class="xepan-tool-options">
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Image</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_image" data-attr="show_image" data-defaultvalue="true">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Price</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_price" data-attr="show_price" data-defaultvalue="true">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Category Description</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_category_description" data-attr="show_desc" data-defaultvalue="true">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Item Count</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_item_count" data-attr="show_item_count" data-defaultvalue="true">									
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Name Redirects To Next Page</div>
    <div class="xepan-tool-option-value"> 
      <select id="name_redirect" data-attr="name_redirects_to_next_page" data-defaultvalue="false">									
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Custom Template</div>
    <div class="xepan-tool-option-value">
      <input id="url_page" data-attr="custom_template"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Redirect Page</div>
    <div class="xepan-tool-option-value">
      <input id="page" data-attr="redirect_page"/>
    </div>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		var default_value = $(this).attr('data-defaultvalue');
    		if($(current_selected_component).attr($(this).data('attr')))
    			default_value = $(current_selected_component).attr($(this).data('attr'));
    		
    		$(this).val(default_value);								
    	});
    })
  </script>
</div>