
<div id="{$_name}" style="display:none" for-xepan-component="xepan/commerce/Tool_Category" class="xepan-tool-options">
  <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
  <div class="xepan-cms-group-panel clearfix">
    <div data-toggle="collapse" data-target="#show-hide-item-category" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Hide/ Show</span><i class="fa fa-chevron-down pull-right"></i></div>
  </div>
  <div id="show-hide-item-category" class="xepan-cms-tools-bar-panel row-fluid collapse">
    <table class="table table-condensed table-hover xepan-cms-tool-table">
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Name</td>
        <td class="xepan-tool-option-value">
          <select id="show_name" data-attr="show_name" data-defaultvalue="true">
            <option value="true">Show</option>
            <option value="false">Hide</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Price</td>
        <td class="xepan-tool-option-value">
          <select id="show_price" data-attr="show_price" data-defaultvalue="false">
            <option value="true">Show</option>
            <option value="false">Hide</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Image</td>
        <td class="xepan-tool-option-value">
          <select id="show_image" data-attr="show_image" data-defaultvalue="false">
            <option value="true">Show</option>
            <option value="false">Hide</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Item Count</td>
        <td class="xepan-tool-option-value">
          <select id="show_item_count" data-attr="show_item_count" data-defaultvalue="false">
            <option value="true">Show</option>
            <option value="false">Hide</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Include Sub Category</td>
        <td class="xepan-tool-option-value">
          <select id="include_sub_category" data-attr="include_sub_category" data-defaultvalue="false">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Show Only Parent</td>
        <td class="xepan-tool-option-value">
          <select id="show_only_parent" data-attr="show_only_parent" data-defaultvalue="false">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Show Only Sub Category</td>
        <td class="xepan-tool-option-value">
          <select id="show_only_sub_category" data-attr="show_only_sub_category" data-defaultvalue="false">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </tr>

      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-value" colspan="2">
          <div class="xepan-tool-option-title">show only sub category of ids</div>
          <input id="show_only_sub_category_of_ids" data-attr="show_only_sub_category_of_ids" type="text"/>
        </td>
      </tr>

      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Display Layout</td>

        <td class="xepan-tool-option-value">
          <select id="display_layout" data-attr="display_layout" data-defaultvalue="list">
            <option value="list">List</option>
            <option value="horizontalmenu">Horizontal Menu</option>
            <option value="verticalmenu">Verticalvmenu</option>
          </select>
        </td>
      </tr>
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-value" colspan="2">
            <table>
              <tr>
                <td>
                  <div class="xepan-tool-option-title">Main Menu Color</div>
                  <input id="commerce-category-main-menu-color" data-attr="main_menu_color" type="text" style="width: 80%;" class="category-color-picker epan-color-picker" data-defaultvalue="21242b"/>
                </td>
              </tr>
              <tr>
                <td>
                  <div> Main Menu Hover Color</div>
                  <input id="commerce-category-main-menu-hover-color" data-attr="main_menu_hover_color" type="text" style="width: 80%;" class="category-color-picker epan-color-picker" data-defaultvalue="76260f"/>
                </td>
              </tr>
              <tr>
                <td>
                  <div> Submenu Background Color</div>
                  <input id="commerce-category-submenu-background-color" data-attr="submenu_background_color" type="text" style="width: 80%;" class="category-color-picker epan-color-picker" data-defaultvalue="76260f"/>
                </td>
              </tr>
              <tr>
                <td>
                  <div>Submenu Hover Background Color</div>
                  <input id="commerce-category-submenu-hover-background-color" data-attr="submenu_hover_background_color" type="text" style="width: 80%;" class="category-color-picker epan-color-picker" data-defaultvalue="000"/>
                </td>
              </tr>              
            </table>
        </td>
      </tr>
    </table>
  </div>
  <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
  <div class="xepan-cms-group-panel clearfix">
    <div data-toggle="collapse" data-target="#item-category-url" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Page Links</span><i class="fa fa-chevron-down pull-right"></i></div>
  </div>
  <div id="item-category-url" class="xepan-cms-tools-bar-panel row-fluid collapse">
    <table class="table table-condensed table-hover xepan-cms-tool-table">
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">URL Page</td>
        <td class="xepan-tool-option-value"> 
          <input id="url_page" data-attr="url_page"/>
        </td>
      </tr>
    </table>
  </div>
  <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
  <div class="xepan-cms-group-panel clearfix">
    <div data-toggle="collapse" data-target="#item-category-layout" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Layout</span><i class="fa fa-chevron-down pull-right"></i></div>
  </div>
  <div id="item-category-layout" class="xepan-cms-tools-bar-panel row-fluid collapse">
    <table class="table table-condensed table-hover xepan-cms-tool-table">
      <tr class="xepan-tool-option">
        <td class="xepan-tool-option-title">Custom Template</td>
        <td class="xepan-tool-option-value">
          <input id="url_page" data-attr="custom_template"/>
        </td>
      </tr>
    </table>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		
    		var default_value = $(this).attr('data-defaultvalue');
    		if($(current_selected_component).attr($(this).data('attr')))
    			default_value = $(current_selected_component).attr($(this).data('attr'));
    		
    		$(this).val(default_value);
    	});

      $('.category-color-picker').colorpicker();
    })

    // $('.category-color-picker').change(function() {
    //     if($(this).val())
    //       $(current_selected_component).css('color', '#' + $(this).val()).attr('text-color', $(this).val());
    //     else{
    //       $(current_selected_component).css('color', '').attr('text-color', '');
    //     }
    // });

  </script>
</div>