.xepan-tool-options(id='{$_name}' for-xepan-component='xepan/commerce/Tool_Checkout')
	h3 Checkout Tool 
	.xepan-tool-option
		.xepan-tool-option-title TNC Page
		.xepan-tool-option-value 
			input#tnc_page(data-attr='checkout_tnc_page')
	.xepan-tool-option
		.xepan-tool-option-title Send Order Mail
		.xepan-tool-option-value 
			select#send_order(data-attr='send_order')			
				option(value="true") Yes
				option(value="false") No

	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				$(this).val($(current_selected_component).attr($(this).data('attr')));				
			});
		})