
<div id="{$_name}" for-xepan-component="xepan/commerce/Tool_Checkout" class="xepan-tool-options">
  <h3>Checkout Tool </h3>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">TNC Page</div>
    <div class="xepan-tool-option-value"> 
      <input id="tnc_page" data-attr="checkout_tnc_page"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Checkout Page</div>
    <div class="xepan-tool-option-value"> 
      <input id="checkout_page" data-attr="checkout_page"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Cart Detail Url</div>
    <div class="xepan-tool-option-value"> 
      <input id="template" data-attr="cart_detail_url"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Designer Page Url</div>
    <div class="xepan-tool-option-value"> 
      <input id="designer_page_url" data-attr="designer_page_url"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Send Order Mail</div>
    <div class="xepan-tool-option-value"> 
      <select id="send_order" data-attr="send_order">			
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Customfield</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_customfield" data-attr="show_customfield">
        <option value="true">Show					</option>
        <option value="false">Hide</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Discount Vouchers</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_discount_voucher" data-attr="show_discount_voucher">
        <option value="true">Show						</option>
        <option value="false">Hide</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Design Edit</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_design_edit" data-attr="show_design_edit">
        <option value="true">Show</option>
        <option value="false">Hide</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Item Image</div>
    <div class="xepan-tool-option-value"> 
      <select id="image" data-attr="image">
        <option value="true">Show			</option>
        <option value="false">Hide</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Express Shipping</div>
    <div class="xepan-tool-option-value"> 
      <select id="expressshipping" data-attr="show_express_shipping">
        <option value="true">Show</option>
        <option value="false">Hide</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Total Tax Amount</div>
    <div class="xepan-tool-option-value"> 
      <select id="showtotaltaxamount" data-attr="show_total_tax_amount">
        <option value="true">Show</option>
        <option value="false">Hide</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Custom Template Page</div>
    <div class="xepan-tool-option-value"> 
      <input id="custom_template" data-attr="custom_template"/>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Layout</div>
    <div class="xepan-tool-option-value">
      <select id="template" data-attr="layout" value="true">
        <option value="short_cart">Short</option>
        <option value="detail_cart">Detail</option>
      </select>
    </div>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		$(this).val($(current_selected_component).attr($(this).data('attr')));				
    	});
    })
  </script>
</div>