.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xepan/commerce/Tool_Category')
	.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
	.xepan-cms-group-panel.clearfix
		h3.collapsed(data-toggle="collapse" data-target="#collapse-item-category" aria-expanded="false")
			span| Category Options
		#collapse-item-category.xepan-cms-tools-bar-panel.row-fluid.collapse
			.panel-body
				.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
				.xepan-cms-group-panel.clearfix
					div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#show-hide-item-category" aria-expanded="false")
						span Hide/ Show
				#show-hide-item-category.xepan-cms-tools-bar-panel.row-fluid.collapse
					table.table.table-condensed.table-hover
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Show Name
								td.xepan-tool-option-value 
									select#show_name(data-attr='show_name')
										option(value="true") True																					
										option(value="false") False
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Show Price
								td.xepan-tool-option-value 
									select#show_price(data-attr='show_price')
										option(value="true") True																					
										option(value="false") False
						tr
							.xepan-tool-option
								td.xepan-tool-option-title show-category-description-only
								td.xepan-tool-option-value 
									select#show-category-description-only(data-attr='show-category-description-only')
										option(value="true") True																					
										option(value="false") False
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Show Category Column
								td.xepan-tool-option-value 
									select#show-category-column(data-attr='show-category-column')
										option(value="true") True																					
										option(value="false") False
				.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
				.xepan-cms-group-panel.clearfix
					div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#item-category-url" aria-expanded="false")
						span Page Links
				#item-category-url.xepan-cms-tools-bar-panel.row-fluid.collapse
					table.table.table-condensed.table-hover
						tr						
							.xepan-tool-option
								td.xepan-tool-option-title URL Page
								td.xepan-tool-option-value 
									input#url_page(data-attr='url_page')
				.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
				.xepan-cms-group-panel.clearfix
					div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#item-category-layout" aria-expanded="false")
						span Show Layouts
				#item-category-layout.xepan-cms-tools-bar-panel.row-fluid.collapse
					table.table.table-condensed.table-hover		
						tr
							.xepan-tool-option
								.xepan-tool-option-title Category Show List
								.xepan-tool-option-value 
									input#category_show_list(data-attr='category_show_list')					
						tr
							.xepan-tool-option
								.xepan-tool-option-title Grid Column
								.xepan-tool-option-value 
									input#grid-column(data-attr='grid-column')
																																																													
	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				$(this).val($(current_selected_component).attr($(this).data('attr')));				
			});
		})