.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xepan/commerce/Tool_Item_Detail')
	.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
	.xepan-cms-group-panel.clearfix
		h3.collapsed(data-toggle="collapse" data-target="#collapse-item-details" aria-expanded="false")
			span|Detail Options	
		#collapse-item-details.xepan-cms-tools-bar-panel.row-fluid.collapse
			.panel-body
				.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
				.xepan-cms-group-panel.clearfix
					div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#show-hide-item-details" aria-expanded="false")
						span Hide/ Show
				#show-hide-item-details.xepan-cms-tools-bar-panel.row-fluid.collapse
					table.table.table-condensed.table-hover
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Show Item Upload
								td.xepan-tool-option-value 
									select#show_item_upload(data-attr='show_item_upload' data-defaultvalue="false")
										option(value="true") Yes																					
										option(value="false") No
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Show Addtocart
								td.xepan-tool-option-value 
									select#show_addtocart(data-attr='show_addtocart' data-defaultvalue="true")
										option(value="true") Yes																					
										option(value="false") No
				.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
				.xepan-cms-group-panel.clearfix
					div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#item-details-specific-lay" aria-expanded="false")
						span Layout
				#item-details-specific-lay.xepan-cms-tools-bar-panel.row-fluid.collapse
					table.table.table-condensed.table-hover
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Predefine Layout
								td.xepan-tool-option-value 
									select#predefine_layout(data-attr='layout' data-defaultvalue="primary")
										option(value="primary") Primary
										option(value="flat") Flat
										option(value="tab") Tab
										option(value="collapse") Collapse
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Custom Template
								td.xepan-tool-option-value
									input#custom_template(data-attr='custom_template')
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Specification Layout
								td.xepan-tool-option-value
									input#specification_layout(data-attr='specification_layout')
				.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
				.xepan-cms-group-panel.clearfix
					div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#item-details-page-link" aria-expanded="false")
						span Page Link
				#item-details-page-link.xepan-cms-tools-bar-panel.row-fluid.collapse
					table.table.table-condensed.table-hover
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Personalize Page Url
								td.xepan-tool-option-value 
									input#personalized_page(data-attr='personalized_page')
				.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
				.xepan-cms-group-panel.clearfix
					div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#item-details-btn-label" aria-expanded="false")
						span Button Labels
				#item-details-btn-label.xepan-cms-tools-bar-panel.row-fluid.collapse
					table.table.table-condensed.table-hover
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Personalized Button Label
								td.xepan-tool-option-value 
									input#personalized_button_label(data-attr='personalized_button_label')
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Add To Cart Button Label
								td.xepan-tool-option-value 
									input#addtocart_button_label(data-attr='addtocart_button_label')																																										
	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				var default_value = $(this).attr('data-defaultvalue');
				if($(current_selected_component).attr($(this).data('attr')))
					default_value = $(current_selected_component).attr($(this).data('attr'));
				
				$(this).val(default_value);
			});
		});