.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xepan/commerce/Tool_CategoryDetail')
	//- .xepan-cms-group-panel.clearfix
	//- 	h3.collapsed(data-toggle="collapse" data-target="#collapse-category-detail" aria-expanded="false")
	//- 		span|Category Detail Options
	//- 	#collapse-category-detail.xepan-cms-tools-bar-panel.row-fluid.collapse.in
	//- 		.panel-body
	.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
	.xepan-cms-group-panel.clearfix
		div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#show-hide-category-detail-option" aria-expanded="false")
			span Hide/ Show
			i.fa.fa-chevron-down.pull-right
	#show-hide-category-detail-option.xepan-cms-tools-bar-panel.row-fluid.collapse
		table.table.table-condensed.table-hover.xepan-cms-tool-table
			tr.xepan-tool-option
				td.xepan-tool-option-title Show Image
				td.xepan-tool-option-value 
					select#show_image(data-attr='show_image' data-defaultvalue="true")
						option(value="true") Yes
						option(value="false") No
			tr.xepan-tool-option
				td.xepan-tool-option-title Show Name
				td.xepan-tool-option-value 
					select#show_name(data-attr='show_name' data-defaultvalue="true")
						option(value="true") Yes
						option(value="false") No
			tr.xepan-tool-option
				td.xepan-tool-option-title Show Price
				td.xepan-tool-option-value 
					select#show_price(data-attr='show_price' data-defaultvalue="true")
						option(value="true") Yes
						option(value="false") No
			tr.xepan-tool-option
				td.xepan-tool-option-title Show Category Description
				td.xepan-tool-option-value 
					select#show_category_description(data-attr='show_description' data-defaultvalue="true")
						option(value="true") Yes
						option(value="false") No
			tr.xepan-tool-option
				td.xepan-tool-option-title Show Item Count
				td.xepan-tool-option-value
					select#show_item_count(data-attr='show_item_count' data-defaultvalue="true" data-togglevalue="true" data-toggleclass=".xepan-commerce-catdetail-includesubcat-toggle")
						option(value="true") Yes
						option(value="false") No
			tr.xepan-commerce-catdetail-includesubcat-toggle.xepan-tool-option
				td.xepan-tool-option-title Include Sub Category
				td.xepan-tool-option-value
					select#include_child_category(data-attr='include_child_category' data-defaultvalue="true")
						option(value="true") Yes
						option(value="false") No
			tr.xepan-tool-option
				td.xepan-tool-option-title Name Redirects To Next Page
				td.xepan-tool-option-value
					select#name_redirect(data-attr='name_redirects_to_next_page' data-defaultvalue="false")									
						option(value="true") Yes
						option(value="false") No
	.xepan-cms-group-panel
		div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#category-detail-option-layout" aria-expanded="false")
			span Layout
			i.fa.fa-chevron-down.pull-right
	#category-detail-option-layout.xepan-cms-tools-bar-panel.row-fluid.collapse
		table.table.table-condensed.table-hover.xepan-cms-tool-table
			tr.xepan-tool-option
				td.xepan-tool-option-title Custom Template
				td.xepan-tool-option-value
					input#url_page(data-attr='custom_template')
	.xepan-cms-group-panel
		div.panel.panel-heading.panel-primary.collapsed(data-toggle="collapse" data-target="#category-detail-option-redirect" aria-expanded="false")
			span Redirect Link
			i.fa.fa-chevron-down.pull-right
	#category-detail-option-redirect.xepan-cms-tools-bar-panel.row-fluid.collapse
		table.table.table-condensed.table-hover.xepan-cms-tool-table
			tr.xepan-tool-option
				td.xepan-tool-option-title Redirect Page
				td.xepan-tool-option-value
					input#page(data-attr='redirect_page')
	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
			// show or hide the toggle class
			if($(this).data('toggleclass')){
				var value = $(this).data('togglevalue').toString();
				if($(this).val() === value){
					$($(this).data('toggleclass')).show();
				}else
					$($(this).data('toggleclass')).hide();
			}

		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				// setting up default value if no option selected
				var default_value = $(this).attr('data-defaultvalue');
				if($(current_selected_component).attr($(this).data('attr')))
					default_value = $(current_selected_component).attr($(this).data('attr'));
				
				$(this).val(default_value);
			});
			
		});	