
<T id="{$_name}" style="display:none" for-xepan-component="xepan/commerce/Tool_Filter" class="xepan-tool-options">
  <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
  <div class="xepan-cms-group-panel clearfix">
    <div id="collapse-item-filter" class="xepan-cms-tools-bar-panel row-fluid collapse in">
      <div style="padding-top:0px;padding-bottom:0px;" class="panel-body">
        <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
        <div class="xepan-cms-group-panel clearfix">
          <div data-toggle="collapse" data-target="#show-hide-item-filter-option" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Hide/ Show</span><i class="fa fa-chevron-down pull-right"></i></div>
        </div>
        <div id="show-hide-item-filter-option" class="xepan-cms-tools-bar-panel row-fluid collapse">
          <table class="table table-condensed table-hover xepan-cms-tool-table">
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Price Filter</td>
              <td class="xepan-tool-option-value"> 
                <select id="show_price_filter" data-attr="show_price_filter">
                  <option value="true">True																					</option>
                  <option value="false">False</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Min Price</td>
              <td class="xepan-tool-option-value"> 
                <select id="min_price" data-attr="min_price">
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Max Price</td>
              <td class="xepan-tool-option-value"> 
                <select id="max_price" data-attr="max_price">
                  <option value="true">True	</option>
                  <option value="false">False</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel1 collapse in"></div>
        <div class="xepan-cms-group-panel1 clearfix">
          <div data-toggle="collapse" data-target="#layouts-item-filter" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Layouts</span><i class="fa fa-chevron-down pull-right"></i></div>
        </div>
        <div id="layouts-item-filter" class="xepan-cms-tools-bar-panel row-fluid collapse">
          <table class="table table-condensed table-hover xepan-cms-tool-table">					
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Custom Template Page</td>
              <td class="xepan-tool-option-value"> 
                <input id="custom_template" data-attr="custom_template"/>
              </td>
            </tr>
          </table>
        </div>
        <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
        <div class="xepan-cms-group-panel clearfix">
          <div data-toggle="collapse" data-target="#item-filter-option-lables" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Filter Tool Labels</span><i class="fa fa-chevron-down pull-right"></i></div>
        </div>
        <div id="item-filter-option-lables" class="xepan-cms-tools-bar-panel row-fluid collapse">
          <table class="table table-condensed table-hover xepan-cms-tool-table">
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Left Label</td>
              <td class="xepan-tool-option-value"> 
                <input id="left_label" data-attr="left_label"/>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Right Label</td>
              <td class="xepan-tool-option-value"> 
                <input id="right_label" data-attr="right_label"/>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		$(this).val($(current_selected_component).attr($(this).data('attr')));				
    	});
    })
  </script>
</T>