
<div id="{$_name}" for-xepan-component="xepan/commerce/Tool_CategoryDetail" class="xepan-tool-options">
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Image</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_image" data-attr="cat_show_image">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Price</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_price" data-attr="cat_show_price">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Category Description</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_category_description" data-attr="cat_show_desc">
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Item Count</div>
    <div class="xepan-tool-option-value"> 
      <select id="show_item_count" data-attr="show_item_count">									
        <option>true																					</option>
        <option>false</option>
      </select>
    </div>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		$(this).val($(current_selected_component).attr($(this).data('attr')));				
    	});
    })
  </script>
</div>