.row.panel.panel-default.panel-body
    .col-md-4
        {$category}   
    .col-md-8
        {$FormButtons}
hr

style(type='text/css', media='screen').
  .category_dropdown {
  	width:100%;
  } 
  .form-btn{
  	width:50%;
  }       