<div id="{$_name}">
	{$Content}
	<form method="post" enctype="multipart/form-data">
    	Select Fonts Flies to upload:
    	<div class='well well-sm'>
			<div class='row'>
				<div class='col-md-10 col-xm-10 col-lg-10'>
	    			<input type="file" name="fileToUpload" id="fileToUpload" required/>
	    		</div>
	    		<div class="col-md-2 col-xm-2 col-lg-2">
			    	<input type="submit" value="Upload Font" name="submit"/>
	    		</div>
	    	</div>
    	</div>	
	</form>
	    		<div>
	    			You must Upload Font_name-Regular.ttf,Font_name-Italic.ttf,Font_name-Bold.ttf,Font_name-BoldItalic.ttf
	    		</div>
</div>

