
<div id="{$_name}" class="main-box-body clearfix xepan-designer-category-crud {$class}">{$quick_search}
  <ul class="list-group">{$header}
    <li data-id="" style="cursor:pointer" class="list-group-item image-category-active">All       </li>{$subheader}
    {rows}{row}
    <li data-id="{$id}" style="cursor:pointer" class="list-group-item {$odd_even}">{cols}
      <div class="category-name">{name}Name{/}</div>
      <div data-id="{$id}" class="row-buttons">
        {$edit}
        {$delete}
      </div>{/}
    </li>{/}{/}
    {not_found}
    <div class="row">
      <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
    </div>{/}
    {totals}{/}
  </ul>{Pannel}
  <div class="main-box-header clearfix atk-actions  {$class} ">{$grid_buttons}</div>{/Pannel}
  {$Paginator}
</div>