.main-box-body.clearfix.xepan-designer-category-crud(id="{$_name}" class="{$class}")
    {$quick_search}
    ul.list-group
        {$header}
        li.list-group-item.image-category-active( data-id="" style="cursor:pointer")
            |All       
        {$subheader}
        {rows}{row}
        li.list-group-item(class="{$odd_even}" data-id="{$id}" style="cursor:pointer")
            {cols}
            div.category-name
                {name}Name{/}
            div.row-buttons(data-id="{$id}")
                {$edit}
                {$delete}
            {/}
        {/}{/}
        {not_found}
        div.row
            .col-md-12.text-center.alert.alert-warning(role="alert")
                span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
        {/}
        {totals}{/}
    {Pannel}
    .main-box-header.clearfix.atk-actions(class=" {$class} ")
        {$grid_buttons}
    {/Pannel}
    {$Paginator}
    //- script.
    //-     $( document ).ready(function() {
    //-         $('.row-buttons').hide();
    //-     });