.main-box-body.clearfix.xepan-designer-category-crud(id="{$_name}" class="{$class}")
    ul.list-group
        {$header}
        {$subheader}
        {rows}{row}
        li.list-group-item(class="{$odd_even}" data-id="{$id}")
            {cols}
            div.category-name
                {name}Name{/}-{$image_count}
            div.row-buttons
                {$edit}
                {$delete}
            {/}
        {/}{/}
        {not_found}
        div.row
            .col-md-12.text-center.alert.alert-warning(role="alert")
                span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
        {/}
        {totals}{/}
{Pannel}
.main-box-header.clearfix.atk-actions(class=" {$class} ")
    {$grid_buttons}
{/Pannel}
{$Paginator}
