
<div class="row xepan-push-large">
  <div class="col-md-6"><span>Item:</span>{$item_id} {$item}			</div>
  <div class="col-md-6"><span>Quantity:</span>{$quantity}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-6"><span>Sale Amount:</span>{$sale_amount} 				</div>
  <div class="col-md-6"><span>Original Amount:</span>{$original_amount}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-6"><span>Price:</span>{$price}</div>
  <div class="col-md-6"><span>Tax:</span>{$taxation_id}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-6"><span>Shipping Charge:</span>{$shipping_charge}</div>
  <div class="col-md-6">	 <span>Shipping Duration:</span>{$shipping_duration} </div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-6"><span>Express Shipping Charge:</span>{$express_shipping_charge} </div>
  <div class="col-md-6">	 <span>Express Shipping Duration:</span>{$express_shipping_duration} </div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12"><span>Tax Percentage:</span>{$tax_percentage} </div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12">		<span>Narration:</span>{$narration}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12">		<span>Extra Information:</span>{$extra_info}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12">{$Content}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-6">{$FormButtons} </div>
</div>