.xepan-grid.clearfix.atk-table.atk-table-zebra(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block( style="100%")
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                span(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    table(style="width:100%")
        {header}
        thead
            {cols}{col}
            tr
                th
                th Sno
                th Particular
                th Rate
                th Qty
                th Amount
                    div excluding tax
                th Tax %
                th Tax
                th Amount
                    div including tax
            {/}{/}
        {/}
        {$subheader}

        tbody
            {rows}{row}
            tr(class="{$odd_even}" data-id="{$id}")
              {cols}
              td{$edit}{$delete}
              td {sno}01{/}
              td {item}Item Name{/}
                div {$extra_info}
              td {price}price_here{/}
              td {quantity}{/}
              td {amount_excluding_tax}{/}
              td {tax_percentage}{/}
              td {tax_amount}tax_amount{/}
              td {total_amount}total_amount{/}
              {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
