.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block( style="100%")
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                span(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix.table
        table.table.user-list.table-hover(style="width:100%")
            {header}
            thead
                {cols}{col}
                th 
                th Sno
                th Particular
                th Price
                th Qty
                th Amount
                    br
                    small excluding tax
                th Tax %
                th Tax
                th.text-right Amount
                    br
                    small including tax
                {/}{/}
            {/}
            {$subheader}

            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                  {cols}
                  th {$edit}{$delete}
                  th {sno}01{/}
                  th(style="width:50%") {item}Item Name{/}
                  th {price}price_here{/}
                  th {qty}10{/}
                  th {amount_excluding_tax}10{/}
                  th {tax_per}14.5%{/}
                  th.sum-tax {tax_amount}tax_amount{/}
                  th.sum-amount.text-right {total_amount}total_amount{/}
                  {/}
                {/}{/}
                {not_found}
                div.row
                    .col-md-12.text-center.alert.alert-warning(role="alert")
                        span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
                {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
