.row.xepan-push-large
	.col-md-6
		span Item:
		{$item_id} {$item}			
	.col-md-6
		span Quantity:
		{$quantity}
.row.xepan-push-large
	.col-md-6
		span Sale Amount:
		{$sale_amount} 				
	.col-md-6
		span Original Amount:
		{$original_amount}
.row.xepan-push-large
	.col-md-6
		span Price:
		{$price}
	.col-md-6
		span Tax:
		{$taxation_id}
.row.xepan-push-large
	.col-md-6
		span Shipping Charge:
		{$shipping_charge}
	.col-md-6	 
		span Shipping Duration:
		{$shipping_duration} 
.row.xepan-push-large
	.col-md-6
		span Express Shipping Charge:
		{$express_shipping_charge} 
	.col-md-6	 
		span Express Shipping Duration:
		{$express_shipping_duration} 
.row.xepan-push-large
	.col-md-12
		span Tax Percentage:
		{$tax_percentage} 
.row.xepan-push-large
	.col-md-12		
		span Narration:
		{$narration}
.row.xepan-push-large
	.col-md-12		
		span Extra Information:
		{$extra_info}
.row.xepan-push-large
	.col-md-12
		{$Content}
.row.xepan-push-large
	.col-md-6
		{$FormButtons} 
