
<div id="{$_name}" class="col-lg-12">
  <div class="main-box clearfix">
    <header class="main-box-header clearfix">
      <div class="filter-block">{$action}  </div>
    </header>
    <div class="main-box-body clearfix">
      <div id="invoice-companies" class="row">
        <div class="col-sm-4 invoice-box">
          <h4>{$contact}{contact_id}{/}<span class="contact-due-amount">{due_amount}0{/}</span></h4>
          <div class="invoice-icon hidden-sm"><i class="fa fa-money"></i></div>
          <div class="invoice-company">
            <div><span class="billing_address atk-form-row atk-form-field">{$billing_address},</span></div>
            <div><span class="billing_country_id atk-form-row atk-form-field">{$billing_country}{$billing_country_id},</span><span class="billing_state_id atk-form-row atk-form-field">{$billing_state}{$billing_state_id}, </span><span class="billing_city atk-form-row atk-form-field">{$billing_city}.</span></div>
            <p><span class="billing_pincode atk-form-row atk-form-field">{$billing_pincode}.</span></p>
            <p><span>{$contacts}</span></p>
            <p><span>{$emails}</span></p>
            <div class="xepan-push"></div>
          </div>
        </div>
        <div class="col-sm-4 invoice-box">
          <div id="shipping-hide" class="row">
            <div class="xepan-push-large"></div>
            <div class="invoice-icon hidden-sm"><i class="fa fa-truck xepan-push-small"></i></div>
            <div class="invoice-company">
              <div><span class="shipping_address atk-form-row atk-form-field"> {$shipping_address},</span></div>
              <div><span class="shipping_country_id">{$shipping_country}{$shipping_country_id},</span><span class="shipping_state_id">{$shipping_state}{$shipping_state_id},</span><span class="shipping_city">{$shipping_city}.</span></div>
              <p><span class="shipping_pincode">{$shipping_pincode}.</span></p>
              <p><span class="shipping_tel">{$shipping_contact}</span></p>
              <p><span>{$contacts}</span></p>
              <p><span>{$emails}</span></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 invoice-box invoice-box-dates">
          <div class="invoice-dates">
            <div class="row clearfix">
              <div class="col-md-6 invoice-date"><strong>{type} DocType {/} No.</strong></div>
              <div class="col-md-6 invoice-number input-full-width"><span style="margin:auto;" class="pull-right atk-form-row atk-form-field">{$document_no}</span></div>
            </div>
            <div class="invoice-date clearfix"><strong>Create Date:<span class="pull-right">{$created_at}</span></strong></div>
            <div class="invoice-date clearfix"><strong>Due Date:<span class="pull-right atk-form-row atk-form-field">{$due_date}</span></strong></div>
          </div>
        </div>
      </div>
      <div class="invoice-box">{$item_info}</div>
      <div class="invoice-box-total clearfix">
        <div class="row xepan-push-large">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-xs-6 text-left invoice-box">{narration} This Item to be sold and replaced and Reproduction and wastage. {/}</div>
            </div>
            <div class="row">{amountinwords}{/} </div>
          </div>
          <div class="col-lg-6 xepan-push-large">
            <div class="row xepan-push">
              <div class="col-sm-6 col-md-4 col-xs-6 text-left invoice-box-total-label">Gross Amount</div>
              <div id="gross-amount" class="col-sm-6 col-md-8 col-xs-6 text-right invoice-box-total-value">{gross_amount} $ 00000000 {/}</div>
            </div>
            <div class="row xepan-push-large">
              <div class="col-sm-6 col-md-4 col-xs-6 text-left invoice-box-total-label">Discount </div>
              <div id="discount" class="col-sm-6 col-md-8 col-xs-6 text-right invoice-box-total-value">{discount_amount} $ 00000000 {/}</div>
            </div>
            <div class="row xepan-push-large">
              <div class="col-sm-6 col-md-4 col-xs-6 text-left invoice-box-total-label">Round Amount </div>
              <div id="round_amount" class="col-sm-6 col-md-8 col-xs-6 text-right invoice-box-total-value">{round_amount} $ 00000000 {/}    </div>
            </div>
            <div class="row grand-total">
              <div class="col-sm-6 col-md-4 col-xs-6 text-left invoice-box-total-label">Grand Total</div>
              <div id="net_amount" class="col-sm-6 col-md-8 col-xs-6 text-right invoice-box-total-value">{net_amount} $ 0000000{/}</div>
            </div>
          </div>
        </div>{$consumable_item_view}  
      </div>
      <div class="invoice-summary row">
        <div class="col-lg-12">
          <div class="col-lg-8 col-md-8 col-xs-8"> 
            <p>Terms & Condition:</p>
            <div class="tnc_id atk-form-row atk-form-field">{$tnc_id}</div>{$tnc_text} 
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-3 col-md-3 col-xs-3">
            <div class="row">
              <div class="invoice-summary-item"><span class="atk-form-row atk-form-field currency">{$currency} {$currency_id} @ </span><span class="atk-form-row atk-form-field exchange_rate">{$exchange_rate}</span><span class="atk-form-row atk-form-field currency">{$outsource_party} {$outsource_party_id} </span></div>
            </div>
            <div class="row">
              <div class="invoice-summary-item"><strong>Nominal </strong><br/><span class="atk-form-row atk-form-field nominal">{$nominal} {$nominal_id}</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="div">
        <div class="invoice-summary-item">{common_vat_wrapper}<strong>Vat Sum</strong><span>{common_vat} 
            <div>{$id} =  {$taxation_sum} on {$net_amount_sum}</div>{/}</span>{/}</div>
      </div>
    </div>
  </div>
</div>