.row
  .col-lg-12
    .main-box.clearfix
      header.main-box-header.clearfix
        .filter-block.pull-right
          a.btn.btn-primary.pull-right(href='#')
            i.fa.fa-plus-circle.fa-lg
            |  Create {$type}
          a.btn.btn-primary.pull-right(href='#')
            i.fa.fa-pencil.fa-lg
            |  Edit {$type}
      .main-box-body.clearfix
        #qsp-from.row
          .col-sm-4.invoice-box
            .invoice-icon.hidden-sm
              i.fa.fa-user
              |  From
            .invoice-company
              h4 {$contact}{$contact_id}
              p
              p {$billing_address} 
                label
                strong Company Address:
                br
                | {$billing_address} 
                br
                | {$billing_city}  
                br
                | {$billing_state} 
                br
                | {$billing_country} 
                br
                | {$billing_pincode} 
                br
                | {$billing_landmark} 
                | {$billing_tel} 
                | {$billing_email} 
          .col-sm-4.invoice-box
            .invoice-icon.hidden-sm
              i.fa.fa-truck
              |  To
            .invoice-company
              h4 {$contact}{contact_id} shipping contact here{/}
              p
                label
                strong Shipping Address:
                br
                | {shipping_address} {/}
                br
                | {shipping_city}  {/}
                br
                | {shipping_state} {/}
                br
                | {shipping_country} {/}
                br
                | {shipping_pincode} {/}
                | {$shipping_landmark} 
                | {$shipping_tel} 
                | {$shipping_email}
          .col-sm-4.invoice-box.invoice-box-dates
            .invoice-dates
              .invoice-number.clearfix
                strong Quotation No.
                span.pull-right {document_no} Q343{/}
              .invoice-date.clearfix
                strong Created Date:
                span.pull-right {$created_at}
                span.pull-right {$delivery_date}
                span.pull-right {$priority_id}
                span.pull-right {$narration}
                span.pull-right {$exchange_rate}
                span.pull-right {$payment_gateway_id}
                span.pull-right {$transaction_reference}
                span.pull-right {$transaction_response_data}

        {$item_info}
        .invoice-box-total.clearfix
          .row
            .col-sm-9.col-md-10.col-xs-6.text-right.invoice-box-total-label Gross Amount
            .col-sm-3.col-md-2.col-xs-6.text-right.invoice-box-total-value#gross-amount {gross_amount} $ 7125.76 {/}
          .row
            .col-sm-9.col-md-10.col-xs-6.text-right.invoice-box-total-label Discount 
            .col-sm-3.col-md-2.col-xs-6.text-right.invoice-box-total-value#discount {discount_amount} $ 125.76 {/}
          .row
            .col-sm-9.col-md-10.col-xs-6.text-right.invoice-box-total-label  Total
            .col-sm-3.col-md-2.col-xs-6.text-right.invoice-box-total-value#total  {total_amount} $ 7000.76 {/}
          .row
            .col-sm-9.col-md-10.col-xs-6.text-right.invoice-box-total-label VAT
            .col-sm-3.col-md-2.col-xs-6.text-right.invoice-box-total-value#tax_amount {tax_amount}$ 1425.15{/}
          .row.grand-total
            .col-sm-9.col-md-10.col-xs-6.text-right.invoice-box-total-label Grand Total
            .col-sm-3.col-md-2.col-xs-6.text-right.invoice-box-total-value#net_amount {net_amount} $ 8550.91 {/}
        .clearfix
          a.btn.btn-success.pull-right(href='#')  Print Quotation