
<div class="main-box-body clearfix">
  <div class="table-responsive">
    <table class="table user-list table-hover">
      <thead>
        <tr>
          <th><span>User</span></th>
          <th><span>Created</span></th>
          <th class="text-center"><span>Status</span></th>
          <th><span>Email</span></th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img alt="" src="img/samples/scarlet-159.png"/><a href="#" class="user-link">Scarlett Johansson</a><span class="user-subhead">Admin</span></td>
          <td>2013/08/08</td>
          <td class="text-center"><span class="label label-default">Inactive</span></td>
          <td><a href="#">mila@kunis.com</a></td>
          <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-search-plus fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>