{$Content}
.row
  .col-lg-12.col-md-12.col-sm-12
    .main-box.clearfix
      .tabs-wrapper.profile-tabs
        ul.nav.nav-tabs.responsive-tabs
          li.active
            a(data-toggle='tab', href='#tab-cash') Cash Received
          li
            a(data-toggle='tab', href='#tab-bank') Bank Received
        .tab-content
          #tab-cash.tab-pane.active
            {$cash_view}
          #tab-bank.tab-pane
            {$bank_view}
