div(id="{$_name}" class="{$class}")
	h2.atk-push Payment Through Bank
	.atk-box-large.atk-swatch-ink.atk-push-reset.atk-shape-rounded-top
		.main-box
			.main-box-body.clearfix
				form.form-group
					h2.xepan-push-small On Date:- 
					.row.xepan-push
						.col-md-4.col-lg-4
							.atk-form-row.atk-form-field{$date}
					h2.xepan-push-small To:- 
					.row.xepan-push
						.col-md-3.col-lg-3
							.atk-form-row.atk-form-field{$paid_to}
						.col-md-3.col-lg-3
							.atk-form-row.atk-form-field{$to_amount}
						.col-md-3.col-lg-4
							.atk-form-row.atk-form-field{$to_currency}&nbsp;@{$to_exchange_rate}
					h2.xepan-push-small From:- 
					.row.xepan-push
						.col-md-3.col-lg-3
							.atk-form-row.atk-form-field{$from_bank_account}
						.col-md-3.col-lg-3
							.atk-form-row.atk-form-field{$from_amount}
						.col-md-3.col-lg-4
							.atk-form-row.atk-form-field{$from_currency}@{$from_exchange_rate}
					.main-box
						.main-box-body.clearfix
							.row
								.col-lg-12
									h2.xepan-push-small Different Charges:
									.row.xepan-push 
										.col-md-3.col-lg-3
											.atk-form-row.atk-form-field{$bank_account_charges_1}
										.col-md-3.col-lg-3
											.atk-form-row.atk-form-field{$bank_charge_amount_1}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$bank_currency_1}&nbsp;@{$bank_exchange_rate_1}
									.row.xepan-push 
										.col-md-3.col-lg-3
											.atk-form-row.atk-form-field{$bank_account_charges_2}
										.col-md-3.col-lg-3
											.atk-form-row.atk-form-field{$bank_charge_amount_2}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$bank_currency_2}&nbsp;@{$bank_exchange_rate_2}
									.row.xepan-push 
										.col-md-3.col-lg-3
											.atk-form-row.atk-form-field{$bank_account_charges_3}
										.col-md-3.col-lg-3
											.atk-form-row.atk-form-field{$bank_charge_amount_3}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$bank_currency_3}&nbsp;@{$bank_exchange_rate_3}
									.row.xepan-push 
										.col-md-3.col-lg-3
											.atk-form-row.atk-form-field{$bank_account_charges_4}
										.col-md-3.col-lg-3
											.atk-form-row.atk-form-field{$bank_charge_amount_4}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$bank_currency_4}&nbsp;@{$bank_exchange_rate_4}
									.row.xepan-push 
										.col-md-3.col-lg-3
											.atk-form-row.atk-form-field{$bank_account_charges_5}
										.col-md-3.col-lg-3
											.atk-form-row.atk-form-field{$bank_charge_amount_5}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$bank_currency_5}&nbsp;@{$bank_exchange_rate_5}
					.row
						.col-md-12.col-lg-12
							.atk-form-row.atk-form-field{$narration}
				.xepan-push-large
				.xepan-push-large
				.atk-align-center.h-lines
						span.h-lines-wrap
						a.atk-swatch-tomato.atk-button-large.atk-col-5.w-shadow.action-large						
							{$FormButtons}