
<div id="{$_name}" class="{$class}">
  {$Content}
  {$item_to_deliver}
  <div class="atk-box-large atk-swatch-ink atk-push-reset atk-shape-rounded-top">
    <div class="col-lg-12">
      <div class="main-box">
        <div class="main-box-body clearfix">
          <form>
            <div class="form-group row">{$select_item}
              <div class="col-md-6 col-lg-6">
                <div class="atk-form-row atk-form-field">{$delivery_via}</div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="atk-form-row atk-form-field">{$delivery_docket_no}</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-lg-6">
                <div class="atk-form-row atk-form-field">{$shipping_address}</div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="atk-form-row atk-form-field">{$delivery_narration}</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$generate_invoice}</div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$generate_challan}</div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$print_challan}	</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$include_items}</div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$payment}</div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$invoice_action}</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$amount}</div><span class="xepan-text-dimmed">Amount</span>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$discount}</div><span class="xepan-text-dimmed">Discount</span>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$shipping_charge}</div><span class="xepan-text-dimmed">Shipping Charge</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$bank_account_detail}</div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$cheque_no}</div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$cheque_date}</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12 col-lg-12">
                <div class="atk-form-row atk-form-field">{$complete_on_receive}</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12 col-lg-12">
                <div class="atk-form-row atk-form-field">{$email_to}</div><span class="xepan-text-dimmed">Email To</span>
              </div>
            </div>
          </form>
          <div class="xepan-push-large"></div>
          <div class="xepan-push-large"></div>
          <div class="atk-align-center h-lines"><span class="h-lines-wrap"></span><a class="atk-swatch-tomato atk-button-large atk-col-5 w-shadow action-large">
              						
              {$FormButtons}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>