div(id="{$_name}" class="{$class} dispatch_form")
	{$Content}
	table.table.user-list.table-hover(style="width:100%")
		thead
			th
				span Select
			th
				span Item
			th
				span Received Qty
			th
				span Delivered Qty
			th
				span Due Qty
			th
				span Quantity To Deliver
			th
				span Serializable Item list
			th
		tbody
		{$item_to_deliver}
	.atk-box-large.atk-swatch-ink.atk-push-reset.atk-shape-rounded-top
		.col-lg-12
			.main-box
				.main-box-body.clearfix
					form
						.form-group.row(style="display:none;")
							.col-md-12.col-lg-12
								.xepan-grid.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
								{$header}
						.form-group.row(style="display:none;")
							.col-md-12.col-lg-12
								.xepan-grid.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
								{$select_item}
						.form-group.row
							.col-md-6.col-lg-6
								span Delivery Via
								.atk-form-row.atk-form-field{$delivery_via}
							.col-md-6.col-lg-6
								span Docket No /Person Name / Other Reference
								.atk-form-row.atk-form-field{$delivery_docket_no}
						.form-group.row
							.col-md-6.col-lg-6
								span Shipping Address
								.atk-form-row.atk-form-field{$shipping_address}
							.col-md-6.col-lg-6
								span Delivery Narration
								.atk-form-row.atk-form-field{$delivery_narration}
						.form-group.row
							//- .col-md-4.col-lg-4
							//- 	.atk-form-row.atk-form-field{$payment}
							.col-md-6.col-lg-6
								//- .atk-form-row.atk-form-field{$send_challan}
								.atk-form-row.atk-form-field{$send_document}
							.col-md-6.col-lg-6
								.atk-form-row.atk-form-field{$print_document}	
						//- .form-group.row
						//- 	.col-md-4.col-lg-4
						//- 		.atk-form-row.atk-form-field{$amount}
						//- 		span.xepan-text-dimmed Amount
						//- 	.col-md-4.col-lg-4
						//- 		.atk-form-row.atk-form-field{$discount}
						//- 		span.xepan-text-dimmed Discount
						//- 	.col-md-4.col-lg-4
						//- 		.atk-form-row.atk-form-field{$shipping_charge}
						//- 		span.xepan-text-dimmed Shipping Charge
						.form-group.row
							.col-md-4.col-lg-6
								span Tracking Code
								.atk-form-row.atk-form-field{$tracking_code}
						.form-group.row
							.col-md-4.col-lg-4
								.atk-form-row.atk-form-field{$bank_account_detail}
							.col-md-4.col-lg-4
								.atk-form-row.atk-form-field{$cheque_no}
							.col-md-4.col-lg-4
								.atk-form-row.atk-form-field{$cheque_date}
						.form-group.row
							.col-md-6.col-lg-6
								.atk-form-row.atk-form-field{$complete_on_receive}
							.col-md-6.col-lg-6
								.atk-form-row.atk-form-field{$include_barcode}
						.form-group.row.atk-form-row
							.col-md-12.col-lg-12
								.atk-form-row.atk-form-field|From Email : {$from_email}
						.form-group.row.atk-form-row
							.col-md-12.col-lg-12
								{$signature}
						.form-group.row.atk-form-row
							.col-md-12.col-lg-12
								.atk-form-row.atk-form-field|Email To : {$email_to}
						.form-group.row.atk-form-row
							.col-md-12.col-lg-12
								.atk-form-row.atk-form-field|Subject : {$subject}
						.form-group.row.atk-form-row
							.col-md-12.col-lg-12
								.atk-form-row.atk-form-field|Message : {$message}
								//- span.xepan-text-dimmed Email To
					.xepan-push-large
					.xepan-push-large
					.atk-align-center.h-lines
							span.h-lines-wrap
							a.atk-swatch-tomato.atk-button-large.atk-col-5.w-shadow.action-large						
								{$FormButtons}
style.
	.atk-form-row .select2{
		width:100%!important;
	}

	.dispatch_form textarea{
		height:50px;
	}
