
<div id="{$_name}" class="{$class}">{$Content}
  <table style="width:100%" class="table user-list table-hover">
    <thead>
      <th><span>Select Item</span></th>
      <th><span>Item</span></th>
      <th><span>Total QTY</span></th>
      <th><span>Present QTY</span></th>
      <th><span>Delivered                </span></th>
      <th></th>
    </thead>
    <tbody></tbody>{$item_to_deliver}
  </table>
  <div class="atk-box-large atk-swatch-ink atk-push-reset atk-shape-rounded-top">
    <div class="col-lg-12">
      <div class="main-box">
        <div class="main-box-body clearfix">
          <form>
            <div class="form-group row">
              <div class="col-md-12 col-lg-12">
                <div id="{$_name}" class="xepan-grid atk-table atk-table-zebra atk-table-bordered {$class}"></div>{$header}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12 col-lg-12">
                <div id="{$_name}" class="xepan-grid atk-table atk-table-zebra atk-table-bordered {$class}"></div>{$select_item}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-lg-6">
                <div class="atk-form-row atk-form-field">{$delivery_via}</div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="atk-form-row atk-form-field">{$delivery_docket_no}</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-lg-6">
                <div class="atk-form-row atk-form-field">{$shipping_address}</div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="atk-form-row atk-form-field">{$delivery_narration}</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$generate_invoice}</div>
                <div class="atk-form-row atk-form-field">{$payment}</div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$send_challan}</div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$print_challan}	</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$amount}</div><span class="xepan-text-dimmed">Amount</span>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$discount}</div><span class="xepan-text-dimmed">Discount</span>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$shipping_charge}</div><span class="xepan-text-dimmed">Shipping Charge</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$tracking_code}</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$bank_account_detail}</div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$cheque_no}</div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$cheque_date}</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12 col-lg-12">
                <div class="atk-form-row atk-form-field">{$complete_on_receive}</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12 col-lg-12">
                <div class="atk-form-row atk-form-field">{$email_to}</div><span class="xepan-text-dimmed">Email To</span>
              </div>
            </div>
          </form>
          <div class="xepan-push-large"></div>
          <div class="xepan-push-large"></div>
          <div class="atk-align-center h-lines"><span class="h-lines-wrap"></span><a class="atk-swatch-tomato atk-button-large atk-col-5 w-shadow action-large">
              						
              {$FormButtons}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>