{$Content}
.row.xepan-push-large
	.col-md-4
		span From Warehouse:
		{$from_warehouse_id} 
	.col-md-4
		span To Warehouse:
		{$to_warehouse_id} 
	.col-md-4
		span Job Card:
		{$jobcard_id}
.row.xepan-push-large		
	.col-md-4
		span Status:
		{$status}
	.col-md-4
		span Created At:
		{$created_at}
	.col-md-4
		span Created By:
		{$created_by_id}
.row.xepan-push-large
	.col-md-4	 
		span Delivery Via:
		{$delivery_via}
	.col-md-4
		span Delivery Refrence:
		{$delivery_reference}
	.col-md-4	 
		span Delivery Via:
		{$delivery_via}		
.row.xepan-push-large
	.col-md-6
		span Related Document:
		{$related_document_id}
	.col-md-6	 
		span Shipping Charge:
		{$shipping_charge}
.row.xepan-push-large
	.col-md-12
		span Shipping Address:
		{$shipping_address}
.row.xepan-push-large
	.col-md-12
		span Narration:
		{$narration}
.row.xepan-push-large
	.col-md-12	 
		span Tracking Code:
		{$tracking_code}
.row.xepan-push-large
	.col-md-6
		{$FormButtons}