{$Content}
<div class="row xepan-push-large">
  <div class="col-md-4"><span>From Warehouse:</span>{$from_warehouse_id} </div>
  <div class="col-md-4"><span>To Warehouse:</span>{$to_warehouse_id} </div>
  <div class="col-md-4"><span>Job Card:</span>{$jobcard_id}</div>
</div>
<div class="row xepan-push-large">		
  <div class="col-md-4"><span>Status:</span>{$status}</div>
  <div class="col-md-4"><span>Created At:</span>{$created_at}</div>
  <div class="col-md-4"><span>Created By:</span>{$created_by_id}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-4">	 <span>Delivery Via:</span>{$delivery_via}</div>
  <div class="col-md-4"><span>Delivery Refrence:</span>{$delivery_reference}</div>
  <div class="col-md-4">	 <span>Delivery Via:</span>{$delivery_via}		</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-6"><span>Related Document:</span>{$related_document_id}</div>
  <div class="col-md-6">	 <span>Shipping Charge:</span>{$shipping_charge}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12"><span>Shipping Address:</span>{$shipping_address}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12"><span>Narration:</span>{$narration}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12">	 <span>Tracking Code:</span>{$tracking_code}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-6">{$FormButtons}</div>
</div>