.row.xepan-push-large
	.col-md-5
		span Name:
		{$first_name} 
	.col-md-7
.row.xepan-push-large
	.col-md-5
		span Country:
		{$country_id} 
	.col-md-5
		span State:
		{$state_id} 
	.col-md-2
		span City:
		{$city} 
.row.xepan-push-large
	.col-md-12
		span Address:
		{$address}
.row.xepan-push-large
	.col-md-6
		span Pin Code:
		{$pin_code}
	.col-md-6	 
		span Organization:
		{$organization}
.row.xepan-push-large
	.col-md-6
		{$FormButtons} 
