
<div class="row xepan-push-large">
  <div class="col-md-5"><span>Name:</span>{$first_name} </div>
  <div class="col-md-7"></div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-5"><span>Country:</span>{$country_id} </div>
  <div class="col-md-5"><span>State:</span>{$state_id} </div>
  <div class="col-md-2"><span>City:</span>{$city} </div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12"><span>Address:</span>{$address}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-6"><span>Pin Code:</span>{$pin_code}</div>
  <div class="col-md-6">	 <span>Organization:</span>{$organization}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-6">{$FormButtons} </div>
</div>