
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th id="{$name_sortid}">Name {$name_sort}</th>
        <th id="{$parent_category_sortid}">Parent Category {$parent_category_sort}</th>
        <th id="{$template_count_sortid}">Template Count {$template_count_sort}</th>
        <th id="{$item_count_sortid}">Item Count {$item_count_sort}</th>
        <th>
           
          Status
        </th>
        <th>   </th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}      
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$name}</td>
          <td>{$parent_category}</td>
          <td>{$template_count}</td>
          <td>{$item_count}</td>
          <td>{action} {/}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>