
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table-responsive">
    <table style="width:100%" class="table user-list table-hover footable toggle-circle-filled">{header}
      <thead class="xepan-hover-hand">{cols}{col}
        <th></th>
        <th><span>Image</span></th>
        <th id="{$name_sortid}"><span> Name </span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$name_sort}</span></th>
        <th id="{$sale_price_sortid}"><span>Price </span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$sale_price_sort}</span></th>
        <th id="{$total_orders_sortid}" data-hide="phone"><span>Total Sale </span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$total_orders_sort}</span></th>
        <th> </th>
        <th>   </th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}      
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$selected}</td>
          <td><img alt="" src="{$first_image}" onerror="this.src='../vendor/xepan/commerce/templates/view/item/20.jpg'"/></td>
          <td><a href="{url}?page=xepan_commerce_itemdetail&amp;document_id={$id}{/}">
              <h2 href="#" data-id="{$id}" data-item-id="{$item_id}" class="do-view-item-detail">{name}Item Name{/}</h2></a><span title="code" class="pull-center">Code: {sku} Ipd001 {/}</span></td>
          <td>{sale_price} $ 625.50 {/}<br/><i style="text-decoration:line-through;">{original_price}{/}</i></td>
          <td><i class="fa fa-shopping-cart"><b>{total_orders} 1500 {/}</b></i> Orders<span></span>
            <div sparkType="bar" class="sparkline">{weakly_sales}40,10,30,30,10,5,20,25,32,14{/}</div>
          </td>
          <td>{action} {/}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>
    <div class="xepan-move-center">{$Paginator}</div>
  </div>
</div>