
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th class="text-center">Total Sale</th>
        <th> </th>
        <th>   </th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}      
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td class="text-center"><img alt="" src="{$first_image}"/></td>
          <td><a href="{url}?page=xepan_commerce_itemdetail&amp;document_id={$id}{/}">
              <h2>{name}Item Name{/}</h2></a><span title="code" class="pull-center">Code: {sku} Ipd001 {/}</span></td>
          <td>{sale_price} $ 625.50 {/}<br/><i style="text-decoration:line-through;">{original_price} $800.50 {/}</i></td>
          <td class="text-center"><i class="fa fa-shopping-cart"><b>{total_orders} 1500 {/}</b></i> Orders<span></span>
            <div sparkType="bar" class="sparkline">{weakly_sales}40,10,30,30,10,5,20,25,32,14{/}</div>
          </td>
          <td>{action} {/}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>